/* ==========================================================================
   Details pages
   ========================================================================== */

/* Generic + Events
   ========================================================================== */


/* main column */
.event-date { font-style:italic;}
.details-container .image-container,
.event-details-container .image-container {clear:both;padding:0} /* M:1549 - padding zeroed - using dev + p with -top */


@media only screen and (max-width:768px) {
    .image-container.image-container, .image-container.image-container.pull-left {padding:0 0 2em} /*overwrite the grid padding */
}


div.col-xs-12.col-m-8.details-container {
    padding-bottom: 1em;
}

@media only screen and (min-width:768px) {
    div.col-xs-12.col-m-8.details-container {
        padding-bottom: 2em;
    }
}

@media only screen and (min-width:992px) {
    div.image-container.pull-left + p {
        position: relative;
        top: -.25em;
    }
}

.details-container [class^="icon-"], .details-container [class*=" icon-"],
.event-details-container [class^="icon-"], .event-details-container [class*=" icon-"] {
    color: lighten($text-color, 45%);
    margin-right:5px
}

.event-details-container .icon-date.icon-date {position: relative; top: 2px} /* M:1548 */

/*extra top margin for first panel */
@media only screen and (min-width:768px) {
    div[role="main"] p + div.genericPanel {
        margin-top:4em;
    }
}

.details-container .genericPanel, .event-details-container .genericPanel {
    padding-bottom:10px; /* assumes content will end with margin-bottom */
    overflow:hidden;
}

@media (min-width: 768px) { 
    .details-container .genericPanel h3, .event-details-container .genericPanel h3 {
        font-size:2.4em;font-size:2.4rem;
    }
    .details-container .event-panel.genericPanel li, .event-details-container .event-panel.genericPanel li {
        font-size:1.6em; font-size:1.6rem
    }

}

.event-details-container .event-panel--contact [class^="icon-"],
.genericPanel--contact [class^="icon-"] {
    color: lighten($text-color, 30%);
    margin-right: 10px;
    font-size: 1.3em; font-size: 2rem;
    position: relative;
    /*top: 3px; *//* M:1548 */
    top:0;
    width: 20px; /* M:1548 */
}

.event-details-container .event-panel--contact .icon-phone,
.event-details-container .event-panel--contact .icon-email {
    font-size: 1.55em; font-size: 2.4rem;
}


.event-panel--contact a { /* busting up all email/URLs */
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.event-panel__link--book {
    @extend .seForm_button;
}
.details-container .gmap-container, .event-details-container .gmap-container { width:100%}

/* Aside */
@media (min-width: 768px) { 
    .aside-container div:first-child {margin-top:0!important; padding-top:0!important}
    .aside-container div.keyDates,
    .aside-container div.quickPoll,
    .aside-container div.relatedLinks,
    .aside-container div.shareLinks {padding-top:20px}
}

.aside-container .photoGallery_container {margin-bottom:1em}

.aside-container .seForm { padding-bottom:0}
.aside-container .seForm_rows--radio {margin-bottom:1em}

/* heading tweaks */
.aside-container h2,
.event-aside-container .related-categories h2, .event-aside-container .photoGallery_container h2,
.news-aside-container .related-categories h2, .news-aside-container .photoGallery_container h2 {
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    border-bottom: 2px solid $panel-background;
}
@media (min-width: 768px) {
    .aside-container h2,
    .event-aside-container .related-categories h2, .event-aside-container .photoGallery_container h2,
    .news-aside-container .related-categories h2, .news-aside-container .photoGallery_container h2 {
        font-size: 2.6em; font-size: 2.6rem;
    }
}
.aside-container h2:first-child, .event-aside-container h2:first-child, .news-aside-container h2:first-child {
    margin-top:0;
    padding-bottom:0.5em
}

@media (min-width: 768px) {
    .aside-container h2:first-child, .event-aside-container h2:first-child, .news-aside-container h2:first-child {
        padding-bottom:1em
    }
}   

.event-aside-container .relatedLinks h3,
.news-aside-container .relatedLinks h3 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid $panel-background;
}
@media (min-width: 768px) {
    .event-aside-container .relatedLinks h3,
    .news-aside-container .relatedLinks h3 {
        font-size: 2.6em; font-size: 2.6rem;
    }   
}

.aside-container .photoGallery_container h2,
.event-aside-container .photoGallery_container h2 {
    margin-top:0
}

/* add to Calendar */
.add-to-calendar {margin:1em 0 1em;}
@media only screen and (min-width:768px) {
   .add-to-calendar {margin:1em 0 3em;}
}

.add-to-calendar h3 {font-size:1.5em;font-size:1.5rem;}

.add-to-calendar input[type="submit"] {
    @extend .seForm_button--secondary;
    width:100%;
}

.add-to-calendar label {font-weight:600}

.add-to-calendar label.emails-label, .add-to-calendar label.multi-date-label {
    @extend .visuallyhidden;
}

.add-to-calendar .occurence-type {margin-left:0; margin-bottom:1em}
.add-to-calendar .occurence-type li {list-style:none}
.add-to-calendar .occurence-type label {display:inline; margin-left:5px; font-weight:normal}

aside .add-to-calendar input[type="submit"] {
    margin: .5em 0 0;
}

/* Font sizing + tweaks M:1550 */
.add-to-calendar p,
.add-to-calendar label,
.add-to-calendar .seForm li,
.add-to-calendar .seForm textarea, .add-to-calendar input[type="submit"], .add-to-calendar .seForm input[type="submit"],
.add-to-calendar .seForm select[multiple="multiple"] {font-size:1.3em; font-size:1.3rem}

.add-to-calendar .toggleContainer_toggler [class^="icon-"] {top:8px;font-size: 20px;}

aside .add-to-calendar.toggleContainer .icon-tick {margin-right:13px}

/* News
   ========================================================================== */   

/* main column */
.newsDate { font-style:italic;}
.news-details-container [class^="icon-"], .news-details-container [class*=" icon-"] {
    color: lighten($text-color, 45%);
    margin-right:5px
}
.news-details-container .image-container {margin-bottom:1em}


/* Community
   ========================================================================== */ 
.genericPanel--comm ul { /* M:1896 */
    list-style-type: none;
    margin-left: 0
}


/* Consultations
   ========================================================================== */ 
.details-container .tabArea .genericPanel {
    padding:15px
}

.searchList .pageFeedback {margin-top:4em}
.searchList .toggleContainer {margin-bottom:10px;}

.consultant-details-container .greyContainer .genericPanel {margin-bottom:0}

/* hide GMAP */
/*.consultant-details-container .gmap { display:none}
@media only screen and (min-width: 768px) {
    .consultant-details-container .gmap { display:block}
}   */

/* Aside */
aside .quickPoll .seForm_submit input[type="submit"] {width:auto;}

aside .quickPoll img { width:100% }


/* Parks, Halls and The Other one
   ========================================================================== */

.announcement { 
    background-color:#f7dfda;
    text-align:center;
    padding:20px 30px 25px;
    margin-bottom:2em;
}
.announcement_header {
    font-size:1.8em; font-size:1.8rem;
    font-weight:600;
    color:$error-color;
    margin:0 0 .75em;
}
.announcement_description {
    color:darken($error-color, 10%);
    margin-bottom:0
}


/* Hide empty */
.empty_check.empty_ri.empty_cu.empty_rl .aside-container {
    display:none
}

.empty_check.empty_ri.empty_cu.empty_rl .details-container {
    width:100%
}
/* community directory version */
.empty_check--cd.empty_ri.empty_rl .aside-container {
    display:none
}

.empty_check--cd.empty_ri.empty_rl .details-container {
    width:100%
}

/* icon tweak */
.event-panel--contact [class^="icon-"], .event-panel--contact [class*=" icon-"] {
    color: #999;
    margin-right: 10px;
    font-size: 1.3em;
    line-height: 1;
    position: relative;
    bottom: -2px;
}


/* Councillor
   ========================================================================== */

.internal h1.councillor_details--Name {
    border-bottom-width:0;
    margin-bottom:0;
    padding-bottom:0;
}

.councillor_details--Ward {
    border-bottom: 2px solid $panel-background;
    padding-bottom: 1em;
    color:lighten($text-color,30%);
    margin:.5em 0 2.25em;
    font-size:1.8em;font-size:1.8rem;
}

.councillor_details--Image {
    margin-bottom:20px
}

.councillor_details--Share a {
    color: lighten($text-color, 29%);
    margin:0 1em 1em 0;
    text-decoration:none
}

.councillor_details--Share a:hover, .councillor_details--Share a:focus {
    color:$text-color;
}

.councillor_details--Share [class^="icon-"],.councillor_details--Share [class*=" icon-"] {
    font-size:1.4em; font-size:2.1rem;
}

.councillor_details--Contact {
    margin:3em 0;
}

.councillor_details--Contact h3 {
    margin:0;
    font-weight:600;
    font-size:1.6em; font-size:1.6rem;
}

.councillor_details--Contact p {
    width:100%;
    overflow:hidden;
}

.councillor_details--Contact a[href^="mailto"] {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    float:left; /* IE FIX */
}

.councillor_details--Content {
    margin-bottom:4em
}

/* Neighbourhood List
   ========================================================================== */

.neighbour-hood-list, .map-result, .nearme-link {
    padding:10px;
    background-color:$panel-background;
}

@media (min-width: 768px) { 
    .neighbour-hood-list, .map-result, .nearme-link {
        padding:20px;
    }

    .neighbour-hood-list {padding-bottom:10px}
}

.map-result {
    padding-top:0
}

.map-result ul.item-list.gmap, .map-result .gmap-container {margin-bottom:0}


.neighbour-hood-list > p {
    margin:0.25em 0 1.5em
}

.neighbour-hood-list .seForm_errors {margin-bottom:1em}

/*form updates*/
.neighbour-hood-list.seForm input[type="text"], .neighbour-hood-list.seForm select {
    width:100%;
    margin-bottom:1em
}
@media (min-width: 768px) { 
    .neighbour-hood-list.seForm input[type="text"], .neighbour-hood-list.seForm select {
        margin-bottom:2.5em
    }
}
.neighbour-hood-list .seForm_rows--textbox, .neighbour-hood-list .seForm_rows--select {
    float:none;
    position:relative;
}
@media (min-width: 768px) { 
    .neighbour-hood-list .seForm_rows--textbox, .neighbour-hood-list .seForm_rows--select {
        float: left;
    }
}

.neighbour-hood-list .seForm_rows--select {

}

@media (min-width: 768px) { 
    .neighbour-hood-list .seForm_rows--textbox, .neighbour-hood-list .seForm_rows--select {
        width: 35%;
        margin-right: 15%;
    }
}   

.neighbour-hood-list input[type="submit"] {
    @extend .seForm_button--secondary;
}

.neighbour-hood-list .object-type-filter {
    display:block;
    clear:both;
    width:100%
}

.neighbour-hood-list .object-type-filter ul {
    margin-left:0;
    clear: both;
    overflow: hidden;
}

.neighbour-hood-list .object-type-filter li {
    display:block;
    float: left;
    width:100%;
    list-style:none;
    min-height:37px;
    margin-bottom:0.5em
}

@media (min-width: 768px) { 
    .neighbour-hood-list .object-type-filter li {
        width:50%
    }
}

@media (min-width: 992px) {
    .neighbour-hood-list .object-type-filter li {
        width:33.33333%
    }
}

.object-type-filter input[type="checkbox"] {
    margin-top:.5em;
    vertical-align:top;
}

.object-type-filter .flag label {
    display: inline-block;
    width:90%;
    line-height: 27px;
    min-height: 27px;
    padding-left:35px;
    margin-left: 7px;
    margin-bottom:0;
    background: transparent url("flag_park.png") no-repeat left top;
}

.flag.parks-recreation label { background-image:url("flag_park.png")}
.flag.upcoming-events label { background-image:url("flag_upco.png")}
.flag.libraries label { background-image:url("flag_libr.png")}
.flag.maternal-child-health-centres label { background-image:url("flag_mate.png")}
.flag.community-business-directory label { background-image:url("flag_comm.png")}
.flag.halls-for-hire label { background-image:url("flag_halls.png")}
.flag.youth-family-services label { background-image:url("flag_yout.png")}
.flag.aquatic-recreation-centres label { background-image:url("flag_aqua.png")}

.neighbourhood-map-listing .gmap-container {
        height:300px;
        width:100%;
}

@media (min-width: 768px) { 
    .neighbourhood-map-listing .gmap-container {
        height:400px;
    }
}

.neighbourhood-map-listing .gmap-target {
        height:100%;
        width:100%;
        overflow:hidden;
}  

/* M:1720 */ 
.no-js .search-list-button {
    display:block;
    clear:both;
}

/* Bin updates */
.bin-date{
    @extend .neighbour-hood-list;
    overflow:hidden;
    margin:10px 0;
    padding:10px;
}

@media (min-width: 768px) {
    .bin-date{ 
        margin:30px 0;
        padding:20px
    }
}   

.next-garbage, .next-recycling, .green-waste, .hard-green-waste-metal {
    display:block;
    float: left;
    width:100%;
    position:relative;
}

@media (min-width: 768px) {
    .next-garbage, .next-recycling, .green-waste, .hard-green-waste-metal{
        width:50%;
    }
}

.bin-date h2 {
    padding:0;
    color:$text-color;
    background-color:transparent;
}

.bin-date .toggleMobilePhoneContainer_toggler:hover, 
.bin-date .toggleMobilePhoneContainer_toggler:focus {
    color:$text-color;
    background-color:transparent;
}

.bin-date .toggleMobilePhoneContainer_toggler [class^="icon-"] {
    right: 0;
    top: 2px;
}

@media (min-width: 768px) {
    .bin-date h2 {
        font-size:2.4em; font-size:2.4rem;
        margin:0 0 15px;
        padding-bottom:15px;
        border-bottom: 2px solid darken($panel-background, 8%);
    }
}

.bin-date h3 {
    font-size:1.8em; font-size:1.8rem;
    font-weight:600;
    margin:15px 0 5px 50px;
}

.bin-date p {
    font-size:1.5em; font-size:1.5rem;
    margin-left:50px;
    font-style:italic;
}
.bin-date p.bin-date--empty, .bin-date .empty p {
    font-size:1.6em; font-size:1.6rem;
    margin-left:0;
    padding:10px 0 1em;
    font-style:normal;
}

@media (min-width: 768px) { 
    .bin-date h3, .bin-date p {
        margin-left:62px;
    }

    .bin-date .empty p {
        margin-left:0;
    }
}


.bin-date .icon-bin {
    font-size:2em;
    position:absolute;
    left: 0;
    top: 20px;
    color:lighten($text-color, 29%);
}

/* Councillor */
.councillorPanel {
    overflow:hidden;
    margin-bottom:0
}

@media (max-width: 767px) {
    .councillorPanel {
        padding:10px;
    }
}   
.councillorPanel h2 {
    color:$text-color
}

@media (min-width: 768px) {
    .genericPanel.councillorPanel h2 {
        font-size:2.4em; font-size:2.4rem;
        margin:0 0 15px;
        padding-bottom:15px;
        border-bottom: 2px solid darken($panel-background, 8%);
    }
}

.councillorList {
    margin:0;
}

@media (max-width: 767px) {
    .councillorList, .next-garbage {
        margin-top:10px;
        padding-top:10px;
        border-top: 2px solid darken($panel-background, 8%)
    }
}

.councillorList_item {
    float: left;
    list-style:none;
    padding: 0;
    width: 100%;
}

.councillorList_item.columnEqualizer_cell {padding-top:0}

@media (min-width: 768px) {
    .councillorList_item {
        width: 33.3333%;
    }
}
.councillorList_item a {
    display: block;
    position: relative;
    padding: 10px;
    overflow: hidden;
    color: $text-color;
    text-decoration: none;
}
@media (min-width: 768px) {
    .councillorList_item a {
        min-height: 390px;
        padding: 15px;
    }
}   

.councillorList_item a:hover, .councillorList_item a:focus {
    background-color:$panel-highlight
}

.councillorList_item img {
    max-width:100%;
    margin-bottom:15px
}

.councillorList_item h3 {
    font-size:1.8em; font-size:1.8rem;
    font-weight:600;    
    margin:0;
}

.councillorList_item h4 {
    font-size:1.6em; font-size:1.6rem;
    font-weight:600;    
    margin:0;
}

p.councillorPanel--empty {
    padding-top:10px
}

/*GMap tweaks*/
.checkAnnouncement {
    display:none;
}

.checkAnnouncement.parkExists, .checkAnnouncement.hallExists {
    display:block;
}

/* .nearme-link */
.nearme-link ul {
    margin:0;
}

.nearme-link li {
    list-style:none;
    padding-bottom:0.5em;
}

/* no-js tweaks */
.no-js .map-result, .no-js .object-type-filter {
    display:none
}


/* manangement Panel
   ========================================================================== */

.accountDetails--changePassword {padding-bottom:80px;}

.accountDetails_edit {margin-bottom:1em}

@media (min-width: 768px) {
    .accountDetails_edit {padding-top:.5em}
}   

.accountDetails_edit .seForm_button--secondary {
    margin-bottom:1em
}

.accountDetails_edit .seForm_button--tertiary {
    width:100%
}

.managementPanel {
    position:relative;
}

.managementPanel .top-details {
    position: relative;
}

@media (min-width: 768px) {
    .managementPanel {
        margin-top:2em
    }
    .managementPanel + .managementPanel {margin-top:0}
} 

.managementPanel .top-details h3, .managementPanel .top-details h2 {
    color:$text-color!important; /*so sue me*/
    padding-right:20px
}

.managementPanel .top-details h3 {
    font-weight:700;
    font-size:2em; font-size:2rem
}


@media (min-width: 768px) {
    .managementPanel .top-details {
        position: relative;
    }

    .managementPanel .top-details h3, .managementPanel .top-details h2 {
        width:100%;
        padding-right:10px;
        height:2em;
        margin: 0;
        font-size: 2.6em!important;
        font-size: 2.6rem!important;
    }

    .managementPanel .top-details h3 {
        font-size: 2em!important;
        font-size: 2rem!important;
        margin-top: 1.5em;
    }

    .managementPanel .top-details p {
        width:70%;
        padding-right:10px;
    }
}
.managementPanel .link-button {
    @extend .seForm_button;
    width:100%;
    margin-bottom:1em;
    margin-top:1em;
}

.managementPanel .toggleMobilePhoneContainer_toggled > p {
    margin-top:1em;
}

@media (min-width: 768px) {
    .managementPanel .link-button {
        margin-top:0;
    }

    .managementPanel .toggleMobilePhoneContainer_toggled > p {
        margin-top:0;
        width:66%;
        padding-right:10px;
    }
}

@media (min-width: 768px) {
    .managementPanel .link-button {
        position:absolute;
        top:75px;
        right:20px;
        width:30%;
    }
}

@media (min-width: 992px) {
    .managementPanel .link-button {
        width:25%;
    }
}

.managementPanel .listing {
    overflow:hidden;
    padding:10px 0 10px;
    border-top: 2px solid darken($panel-background, 8%);
}
@media (min-width: 768px) {
    .managementPanel .listing {
        padding:20px 0 10px;
    }
}
.managementPanel .listing .details, .managementPanel .listing .status, .managementPanel .listing .options {
    display:block;
}

@media (min-width: 768px) {
    .managementPanel .listing .details, .managementPanel .listing .status, .managementPanel .listing .options {
        float:left;
        width:41%;
    }

    .managementPanel .listing .details {
        width:39%;
    }

    .managementPanel .listing .status {
        width:20%;
    }
}

@media (min-width:992px) {
    .managementPanel .listing .options {
        width:33.3333%;
    }

    .managementPanel .listing .details {
        width:43.3333%;
    }

    .managementPanel .listing .status {
        width:23.3333%;
    }
}

.managementPanel .listing .details h4, .managementPanel .listing .details h5 {
    margin:0 0 10px;
}
.managementPanel .listing .details p {
    font-style:italic;
}
@media (min-width: 768px) {
    .managementPanel .listing .status {
        padding-top:20px
    }

    .managementPanel .listing .options {
        padding-top:12px
    }
}
.status-live, .status-pending, .status-deactivated, .status-archived {
    font-weight:600;
}

.status-live { color:#007f24}
.status-pending { color:$primary-color-light}
.status-deactivated { color:#d37c0c}
.status-archived { color:#c8291d}

.managementPanel .listing .options {
    text-align:right;
}

.btn-activate-edit {
    @extend .seForm_button--secondary;
    width:48%;
    padding:0;
    margin-right:2%;
}

.btn-deactivate-archive, .ugc-management-button-archive {
    @extend .seForm_button--tertiary;
    width:48%;
    padding:0;
}

@media (min-width: 768px) {
    .btn-activate-edit {
        width:8.5em;
        margin-right:1em
    }

    .btn-deactivate-archive, .ugc-management-button-archive {
        width:8.5em;
    }
}

/* style No no-js button on confirmation pages */
input[type="submit"][value="No"].button {
    @extend .seForm_button--tertiary;
    margin-right:1em;
}

/* Resource Table
   ========================================================================== */
.resource-display {
    overflow:hidden;
    margin-bottom:3em;
}

.resource-display .no-result { font-size:1.6em; font-size:1.6rem}

.rd-available-table {
    width:100%;
    position:relative;
}

.rd-available-table table {
    border-spacing: 0 !important;
    border-width: 0!important;
    table-layout:fixed;
}

.rd-available-table .rd-times table {
    width:116px;
}

.rd-available-table th, .rd-available-table td {
    padding:14px 5px;
    text-align:center;
    font-size:1.2em; font-size:1.2rem;
    height:4em;
    border:2px solid white;
    width:116px
}

@media (min-width: 768px) {
    .rd-available-table th, .rd-available-table td {
        font-size:1.3em; font-size:1.3rem;
    }   
}   

.rd-available-table th {
    background:#6d6d6d;
    color:#FFF;
    white-space:nowrap;
    font-size:1.4em; font-size:1.4rem;
}

.rd-available-table td {
    background:$panel-background
}

.rd-times {
    float:left;
    padding-bottom:25px; /* allowing for scrollbar */
}

.rd-times td {
    padding:14px 10px;
    font-weight:600;
    color:darken($text-color, 10%);
}

@media (min-width: 768px) {
    .rd-times td {
        padding:14px 12px;
    }
}   

.rd-dates {
    position:absolute;
    float:left;
    width:290px;
    padding-left:116px;
    top:0;
}

@media (min-width: 360px) {
    .rd-dates {
        width:333px;
    }
}

@media (min-width: 560px) {
    .rd-dates {
        width:530px;
    }
}

@media (min-width: 768px) {
    .rd-dates {
        width:730px;
    }
}

@media (min-width: 992px) {
    .rd-dates {
        width:928px;
    }
}

.rd-dates > div {
    overflow-x: scroll;
    margin-left:-2px
}

@media (min-width: 768px) {
    .rd-dates > div {
        margin-left:0
    }
}

.rd-icon-legend {
    font-size:1.6em; font-size:1.6rem;
    margin-bottom:2em
}

.rd-icon-legend span {
    margin:0 1em 1em 0;
    display:block;clear:both
}

@media (min-width: 768px) {
    .rd-icon-legend span img {margin-right:5px}
    .rd-icon-legend span {display:inline-block; clear:none;margin-right:3em}
}   