/* ==========================================================================
   DLVS
   ==========================================================================

version 0.2
-  added generic list

*/
/* generic panel list
   ========================================================================== */
.panelList, .resultList {
    margin:0;
    clear:both;
}

.panelList_item, .resultList_item {
    list-style:none
}

.panelList_item a {
    display: block;
    overflow:hidden;
    padding: 15px;
    margin-bottom:25px;
    text-decoration:none;
    background-color:$panel-background;
}

@media only screen and (min-width:768px) {
    .panelList_item a {
        padding: 20px 20px 25px;
    }
}  
.panelList_item a:hover,
.panelList_item a:focus { background-color:$panel-highlight}

.panelList_item a.document:before {
    left: 10px;
    top: 18px;
    font-size: 14px;
}

.panelList_item a h3 {
    font-weight:600; 
    font-size:1.8em; font-size:1.8rem;
    line-height:1.4em;
    margin-bottom:15px;
    padding-bottom:15px;
    color:$text-color;
    text-decoration:underline;
    text-decoration:none;
    border-bottom: 2px solid darken($panel-background, 8%);
}

.panelList_item a:hover h3,
.panelList_item a:focus h3 { border-color:darken($panel-highlight,8%)}

.panelList_item .document h3 {padding-left: 22px}
.panelList_item a p {text-decoration:none; color:$text-color}
.panelList_item a p:last-child {margin-bottom:0}
p.panelList_item--published { font-style:italic; line-height:1; font-size:1.5em; font-size:1.5rem}
.consultList p.panelList_item--published { line-height:1.2}
.panelList_item--description {margin-bottom:0}

.panelList_item--categories { font-style:italic;}
p.panelList_item--categories {font-size:1.5em; font-size:1.5rem}

.panelList_item--categories ul {
    list-style:none;
    color:$text-color;
    margin:-21px 0 1em 27px;
}

.gm-style-iw .panelList_item--categories ul {margin-left:22px;}
.gm-style-iw .panelList_item--categories li {margin: 0;}


.panelList_item--categories li {
    font-size:1.6em; font-size:1.6rem
}

a .panelList_item--announcement span {
    color:darken($error-color, 5%);
}
.panelList_item--announcement {position:relative}
.panelList_item--announcement span {
    position:relative;
    display:block;
    margin-left:27px;
    top:-3px;
    color:darken($error-color, 5%);
}

.panelList_item--empty p, .empty {
    @extend .error
}

.panelList_item--empty p {margin-bottom:4em}

.panelList_item--listCategories ul {
    list-style: none;
    display: block;
    position: relative;
    margin-left: 22px;
    top: -5px;
    margin-bottom:.5em
}

/* icon tweaks */
.panelList_item [class^="icon-"], .panelList_item [class*=" icon-"],
.gm-style-iw [class^="icon-"], .gm-style-iw [class*=" icon-"] {
    position:relative;
    top:2px;
    color:lighten($text-color, 45%);
    margin-right:7px;
}

/* My-N M:1720 */
.neighbourhood-map-listing .gm-style-iw .icon-tag,
.neighbourhood-map-listing .gm-style-iw .icon-marker {top:0} /* tag was 5px?*/

.panelList_item [class^="icon-"], .panelList_item [class*=" icon-"] {
    display:inline-block; /* M:1699 adjustments */
    width:27px;
    margin-right:0;
}

.panelList_item .icon-location {left:3px}
.panelList_item .icon-tag {left:-1px}
.panelList_item .icon-date {top:-1px}

.consultList .panelList_item [class^="icon-"] {
    display: block;
    float: left;
    top:0;
    margin-bottom: 10px;
}

.gm-style-iw .panelList_item--categories .icon-facility {
    float:left;
}

.panelList_item--announcement [class^="icon-"], .panelList_item--announcement [class*=" icon-"],
.gm-style-iw .panelList_item--announcement [class^="icon-"], .gm-style-iw .panelList_item--announcement [class*=" icon-"] {
    position:absolute;
    color:$error-color;
}

.panelList_item a .icon-date:before {
    position: relative;
    top: 2px;
}

.panelList_item--listCategories .icon-tag {
    float:left;
}

.no-js .panelList_item .file-info {position:absolute; right:15px; top:15px;font-size:1.4em; font-size:1.4rem}

@media only screen and (min-width:768px) {
    .panelList_imageCrop {
        
    }
}
@media only screen and (min-width:768px) {
    .panelList_imageCrop--right {
        float:right;
        border-left:20px solid $panel-background;
        padding-top:5px; 
    }
    .panelList_item a:hover .panelList_imageCrop--right,
    .panelList_item a:focus .panelList_imageCrop--right { border-left-color:$panel-highlight}

    .panelList_imageCrop--left {
        float:left;
        border-right:20px solid $panel-background;
    }
    .panelList_item a:hover .panelList_imageCrop--left,
    .panelList_item a:focus .panelList_imageCrop--left { border-right-color:$panel-highlight}
}  

/* news
   ========================================================================== */


/* Top Stories*/

.newsTopStories_mainheading {
    margin-bottom:0.5em
}

@media only screen and (min-width:768px) {
    .newsTopStories {
        margin-bottom: 5px;
        overflow: hidden;
    }
}
.newsTopStories .panelList_imageCrop {
    width:100%;
    margin-bottom:1em;
    overflow:hidden;
    max-height:215px;
}
@media only screen and (min-width:768px) {
    .newsTopStories .panelList_imageCrop--left {
        width:165px;
        margin-bottom:0
    }
    .newsTopStories .panelList_imageCrop--left img {
        width:100%;
    }
}
@media only screen and (min-width:992px) {
    .newsTopStories .panelList_item {
        width:380px;
        float:left;
    }
    .newsTopStories .panelList_item a {
        min-height:285px
    }

    .newsTopStories .panelList_item.panelList_item--first {
        width:525px;
        margin-right:22px;
    }

    .newsTopStories .panelList_item.panelList_item--first a {
        min-height:594px;
    }

    .newsTopStories .panelList_item--first .panelList_imageCrop--left  {
        width:100%;
        max-height:360px;
        border-width:0;
        margin-bottom:1em
    }

    .newsTopStories .panelList_item--published{
        margin-bottom:1.75em
    }
}

/* Event list
   ========================================================================== */

/* aside */
.freeEvent-container .seForm_label--inline {margin-right:5px; text-transform:uppercase;}
.freeEvent-container .scSearchInputOption label {
    border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0; speak:normal!important;
}

.listView_key { margin-bottom:0}
@media (min-width: 768px) { 
    .listView_key { margin-bottom:1em}
} 

.js .eventList {margin-top:1em}
@media (min-width: 768px) { 
    .listView_key { margin-top:2em}
} 

.inlineList.visuallyhidden + .eventList {margin-top:0}
.eventList .panelList_item--description { margin:-.25em 0 0 93px;}
@media only screen and (min-width:768px) {
    .eventList .panelList_item--description { margin:-.25em 0 0 101px;}
}  

.eventList .panelList_item a {min-height: 244px; }
@media only screen and (min-width:768px) {
    .eventList .panelList_item a {min-height: 224px; }
} 


/* sitemap
   ========================================================================== */
.siteMap {margin:0 0 2em 0; padding:0}
.siteMap ul.nav-level-1 {
    margin-bottom:50px
}
.siteMap li {list-style:none}

.panelList.searchList {margin-top:3em}

.siteMap_levelHeading {font-size:1.8em; font-size:1.8rem; font-weight:700; margin-top: 2em}
.siteMap_levelHeading a {color:$text-color; text-decoration:none}
.siteMap_levelHeading a:hover, .siteMap_levelHeading a:focus { text-decoration: underline; } /*MONASH-1436*/
.siteMap_item {font-size:1.6em; font-size:1.6rem;position:relative; margin:5px 0;}
.siteMap_item:before{position:absolute;left:-1.35em;top:-.4em;margin-top:.4em;content:"■";color:#c2c2c2;font-size:1.0em;line-height:1;}

.siteMap_item a {text-decoration:none}
.siteMap_item a:hover, .siteMap_item a:focus {text-decoration:underline} 

.siteMap ul { margin:0 0 25px 35px}

.listing > ul { margin: 0 0 3em}
.listing .item { list-style-type: none; margin:0;position:relative;}
.listing .item h3 {margin-bottom:0; font-size:1.6em; font-size:1.6rem}
.listing .item p {margin-bottom:0.7em}
.listing .item:last-child {border-bottom-width:0}
.listing .item-image-holder {float: right;margin: 0 0 15px 15px}

/* Search
   ========================================================================== */

.searchList {padding-top:2em}
.searchList--intro {padding-bottom:2em}

.panelList.searchList {margin-top:3em; padding-top:0}

.panelList.searchList.searchList--0 {margin-top:0}

/* sort */
.searchSort {
    margin-bottom:1em
}

.searchSort--0, .switchView--0 {display:none}

.searchSort li {
    font-size:1.6em; font-size:1.6rem;
}

.searchSort a {
    border-right: 1px solid #999; 
    padding-right: 0.75em;
    margin-right: 0.5em;
    text-decoration:underline;
}

.searchSort a:hover, .searchSort a:focus {
    text-decoration:none
}

.searchSort .last a {
    border-right-width:0;
    padding-right: 0;
    margin-right: 0;
}

.searchSort_link--active.searchSort_link--active {
    color:$text-color!important;
    cursor:default;
    text-decoration:none
}

.searchSort a.searchSort_link--active:hover, .searchSort a.searchSort_link--active:focus {
    text-decoration:none
}

.search-tools-container {
    overflow:hidden;
    clear:both
}


/* results-container */
.results-container {
    font-size: 1.6em;
}
.results-container {float:right}

.results-container--0 {display:none}

/* search text highlight */
a .result-text {color:$primary-color; font-weight:700}


/* Help list
   ========================================================================== */
div > ul.help-list {margin:0;}
.help-list, .help-list li { list-style:none;margin:0;padding:0;line-height:1.6 }
.help-list > li > h2 { border-top:1px solid #DDD;padding: 16px 0 0;display:block;margin:16px 0 0; }
.lt-ie9 .help-list > li > h2 {font-size:1em}
.help-list > li > h2 a {}
.help-list > li li:before {content:"\2013"; display:inline-block; width:1em; vertical-align:top} 
.nav-has-children > ul.nav-level-1 {margin-top: 0.5em; margin-left:0}
.help-list ul {margin-left:20px; padding-bottom:10px}

.help-list li a {text-decoration:none;}
.help-list li a:hover, .help-list li:focus {text-decoration:underline}

/* Related Links & Shared Links
   ========================================================================== */
.relatedLinks, .shareLinks {clear:both; overflow:hidden}

.shareLinks {margin-bottom:40px}

@media (min-width: 992px) {
    .shareLinks {margin-bottom:65px}
}

.relatedLinks h2, .shareLinks h2, h2.securePage__head {
    margin-bottom:1em; 
    padding-bottom:1em;
    border-bottom:2px solid $panel-background;
}

.genericPanel .relatedLinks h2 {
    margin-top:-5px;
    margin-bottom:25px;
    padding-bottom:15px;
    border-bottom: 2px solid darken($panel-background, 8%);
}

.relatedLinks h3 {
    padding-bottom:1em;
    font-weight:600;
    font-size:1.8em; font-size:1.8rem
}

.relatedLinks ul, .shareLinks ul, .related-categories ul {
    margin: 0 0 2em;
}

@media (min-width: 768px) {
    .relatedLinks ul, .shareLinks ul, .related-categories ul {
        margin: 0 0 2.5em;
    }
}

.genericPanel .relatedLinks ul {
    margin-bottom:0.5em;
}

.toggleContainer .relatedLinks ul {
    margin: 0 0 1em;
}


.relatedLinks li {
    line-height: 1.4em;
    list-style: none outside none;
    padding-bottom:1em;
    font-size:1.6em; font-size:1.6rem
}

.relatedLinks li a.document, .relatedLinks li a.related-link {
    display:inline-block;
    word-break:break-all
}


/* Discussion List (Consultation details page)
   ========================================================================== */
.onlineDiscussion {
    margin:0
}

.mobileVersion_tabbedArea .onlineDiscussion {
    padding-bottom:10px;
    background-color:$panel-background;
}

.onlineDiscussion_item {
    list-style:none;
}

.onlineDiscussion_item a {
    display:block;
    padding:12px 20px;
    color:$text-color;
    text-decoration:none;
    background-color:$panel-background;
}
@media (min-width: 768px) {
    .onlineDiscussion_item a {
        padding:15px 20px
    }
}    

.onlineDiscussion_item a:hover, .onlineDiscussion_item a:focus {
    background-color:$panel-highlight
}

.onlineDiscussion_item a .onlineDiscussion_item--icon {
    float:left;
    font-size:2em;
    color: lighten($text-color, 45%);
}

.onlineDiscussion_item--title {
    margin-bottom:0.5em;
}

@media (min-width:768px) {
    .onlineDiscussion_item--title {
        margin-left:48px;
    }
}

.onlineDiscussion_item a .onlineDiscussion_item--title {
    color:$primary-color
}

.onlineDiscussion_item--comments {
    font-size:1.5em; font-size:1.5rem;
    margin-bottom:0
}

@media (min-width:768px) {
    .onlineDiscussion_item--comments {
        margin-left:48px;
    }
}    

.onlineDiscussion_item--comments em {
    margin-left:-.15em;
}

.onlineDiscussion_item--comments .icon-comment, .onlineDiscussion_item--comments .comment-date {display:none}


/* Discussion List (Consultation details page)
   ========================================================================== */
table.table-styled.minutes-table {max-width:100%}

.minutes-table thead tr th, .meeting-date thead tr th { /* M:1649 */
    padding: .75em 1em;
}