/* ==========================================================================
   FORMS
   ==========================================================================

version 0.3b
starting BEM addition
(includes older style CSS classes to cover code not yet updated)

- stripping out ie8 fixes from here

*/
.seForm {
    padding-bottom:60px
}

@media (min-width: 768px) {
    .seForm {
        padding-bottom:80px
    }
}
.seForm.ugc-user-detail-update {
    padding-bottom: 0; /* M:1668 */
}

.seForm--ugc {
    overflow:hidden;
}

.genericPanel .seForm {
    padding-bottom:0;
}

.seForm--panel, .comments-panel .seForm{
    padding:10px 10px 30px;
    background-color:$panel-background;
}

.seForm--panel {
    padding:15px 10px;
}

.comments-panel .seForm {
    margin-bottom:2em
}

@media (min-width: 768px) {
    .seForm--panel, .comments-panel .seForm {
        padding:30px 30px 50px;
    }

    aside .seForm--panel {
        padding:20px 20px 30px;
    }
}


.seForm li {
    font-size:1.6rem
}

/* Errors
   ========================================================================== */
.seForm_errors {
    color: $error-color;
    margin-bottom:2em;
    margin-left:1.2em;
    list-style: disc outside none;
}

.seForm_errors a {
    color: $error-color;
    text-decoration:none;
}

.seForm_errors a:hover, .seForm_errors a:focus {
    color: $error-color;
    text-decoration:underline;
}

/* Notes
   ========================================================================== */
.comment-form-usage-details {
    font-size:1.6em; font-size:1.6rem;
    display:block;
    margin-bottom:1em
}


/* Rows
   ========================================================================== */
.seForm_rows { margin:0 0 2em}

aside .seForm_rows { margin:0; width:100%}

.seForm_rows ul {margin:0}

.seForm_rows li {
    position:relative;
    display:block;
    list-style:none;
    margin-bottom:2em
}

@media (min-width: 768px) {
    .seForm_rows li {width:50%}
    .seForm--ugc li {width:66%} /* UGC page form wider - M:1687 */
    .genericPanel .seForm_rows li {width:100%}

    .pageFeedback li.seForm_rows--captcha, .pageSubscribe li.seForm_rows--captcha {width:100%}
    aside .seForm_rows li {width:100%}
}    

.seForm--panel .seForm_rows li {
    margin-bottom:1.5em
}

.genericPanel .tabledForm .seForm_rows {margin:0}
.genericPanel .tabledForm .seForm_rows li {margin:0}

.seForm_rows ul li {
    margin:0;
    width:100%;
}

aside .seForm_rows li.seForm_submit {margin-bottom:0; padding-top:0} /* remove spacing above for M:1529*/
aside .seForm_rows li.seForm_submit--reset {margin-bottom:0}
aside .seForm_submit--reset .seForm_button--fullwidth {margin-top:0.5em}

///* if the submit is outside of form close up the space*/
// div[role="main"] ul.seForm_rows + div.seForm_submit {margin-top:-2.5em} 
// @media (min-width: 768px) {
//     div[role="main"] ul.seForm_rows + div.seForm_submit {margin-top:-3.5em} 
// }

/*.seForm_rows .field_label {padding-bottom:1em}*/


/* Legend
   ========================================================================== */
.seForm_legend, .tabledForm legend { /* M:1643 */
    display:block;
    width:100%;
    clear: both; overflow: hidden;
    font-weight:600;
    font-size:2em; font-size:2rem;
    margin:1em 0 15px;
    padding-bottom:15px;
    border-bottom: 2px solid darken($panel-background, 8%);
}

.seForm_legend + *, .tabledForm legend + * {
    -webkit-margin-top-collapse: separate;
    margin-top: 15px;
}

/* Labels
   ========================================================================== */
.seForm_rows li.seForm_rows--labels { width: 100%}

.seForm label, .seForm_label--fake {
    display:block; 
    margin-bottom: 1em;
    font-size:1.6em;font-size:1.6rem;
    padding-right:0; /* turned off padding */ //not sure why added in the first place
}

.seForm--panel .seForm_label--fake, .seForm.seForm--panel label {
    margin-bottom: .5em
}

aside .seForm.seForm--panel label {
    margin-bottom: 1em
}

.seForm_rows--checkbox input + label, .seForm_rows--radio input + label,
.field_input input[type="checkbox"] + label, .field_input input[type="radio"] + label {
    font-size:1.4em;font-size:1.4rem;
    display:inline-block;
    margin-bottom:0.25em
}

.seForm_rows .field_label {
    position:relative;
}

.label-box {
    background-color:$panel-background;
    padding:15px 20px;
}

.label-box.share-url {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.seForm_label--inline {display:inline-block}

label.seForm_label--inline, .seForm .field_label label {display:inline-block;}
.seForm input + label.seForm_label--inline {margin:0 0 1em .3em;}

/* Required */
.seForm_required--asterisk, .se-form-required-asterisk {display: none}
.seForm_required--text, .se-form-required-text {text-transform: capitalize}

/* Joiners ... ie: blah 'to' blah where 'to' is the joiner */
.seForm_label--joiner {
    font-size:1.3em;font-size:1.3rem;
    clear:both;
    line-height:2em
}

/* Add to Label  - JS moves this class into the prev() label - need to add space */
.addToLabel {padding-left:.5em}

/* Buttons
   ========================================================================== */
/*  
 * Buttons need to be tidied up - classes referenced reduced
 *
 */

button, .button, .seForm_button, .seForm_button--secondary, .seForm_button--tertiary, .seForm_submit input[type="submit"], .se-form-container input[type="submit"], 
.se-form-container input[type="button"] {
    font:700 1.5em/2.75 'Lato', Arial, sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5em; padding: 0 2.5em;
    height:2.75em;
    text-align: center;
    text-transform:uppercase;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none; 
    border-width: 0;
    border-radius: 2px;
    color: $reverse-color;
    background-color: $primary-color-light;
}

/* overwrite visited */
a.seForm_button:visited, a.seForm_button--secondary:visited {
    color: $reverse-color;
}

a.seForm_button--tertiary:visited {
    color: $button-color-tertiary;
}

@media (min-width: 768px) { /* target the generic forms */
    button, .button, .seForm_button, .seForm_button--secondary, .seForm_button--tertiary, .seForm_submit input[type="submit"], .se-form-container input[type="submit"], 
.se-form-container input[type="button"]  {
        width: auto;
    }
}

aside .seForm_submit input[type="submit"],
aside .seForm_button--secondary, .seForm_button--fullwidth {width:100%}

@media (min-width: 768px) and (max-width: 991px) {
    div[role="main"] .seForm_button--fullwidth  {
        margin-left:auto; margin-right:auto;
        display:block;
        width:90%;
    }
}

button.small, .button.small {
    font:400 1.2em/2 'Lato', Arial, sans-serif;
    font-size: 1.2rem;
    height:2em;
    padding: 0 0.75em;
    letter-spacing:1px;
}

button:hover, .button:hover, .seForm_button:hover, .seForm_submit input[type="submit"]:hover, .se-form-container input[type="submit"]:hover, .se-form-container input[type="button"]:hover {
    background-color: darken($primary-color-dark, 5%);
    color:$reverse-color;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    -webkit-box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px rgba($primary-color, 0.2);
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}

button:focus, .button:focus, .seForm_button:focus, .seForm_submit input[type="submit"]:focus, .se-form-container input[type="submit"]:focus, .se-form-container input[type="button"]:focus {
    background-color: darken($primary-color-dark, 5%);
    color:$reverse-color;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    -webkit-box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px rgba($primary-color, 0.2);
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}

button:active, .button:active, .seForm_button:active, .seForm_submit input[type="submit"]:active, .se-form-container input[type="submit"]:active, .se-form-container input[type="button"]:active {
    background-image: none;
    outline: 0;
} 

/* secondary */
button.secondary, .button.secondary, .seForm_button--secondary, .se-form-container input[type="submit"].secondary, 
aside .seForm_submit input[type="submit"] {
    background-color:$button-bg-secondary
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .seForm_button--secondary:hover, .seForm_button--secondary:focus, .button.secondary:focus, .se-form-container input[type="submit"].secondary:hover, .se-form-container input[type="submit"].secondary:focus, aside .seForm_submit input[type="submit"]:hover, aside .seForm_submit input[type="submit"]:focus {
    color:$reverse-color;
    background-color:darken($button-bg-secondary, 10%)
}

/* tertiary */
.seForm_button--tertiary, .btn-cancel, .se-form-container .seForm_submit input[value="Cancel"], input.unsubscribe-button[value="Cancel"] { 
      background-color: $button-bg-tertiary; color:$button-color-tertiary;
}

.seForm_button--tertiary:hover, .seForm_button--tertiary:focus, input.unsubscribe-button[value="Cancel"]:hover, input.unsubscribe-button[value="Cancel"]:focus, .btn-cancel:hover, .btn-cancel:focus, .seForm_submit input[value="Cancel"]:hover, .seForm_submit input[value="Cancel"]:focus { 
    color:darken($button-color-tertiary, 10%);
    background-color:darken($button-bg-tertiary, 10%);
}

/* toggle view */
.switchView { /* toggle button container*/
    margin-bottom:1em
}

.seForm_button--tertiary.seForm_button--toggle {
    text-transform:capitalize;
    margin-right:0.5em;
    padding:0 1em;
    height:2.25em; line-height:2.25em
}

.seForm_button--tertiary.seForm_button--active {
    color:$reverse-color!important;
    background-color:$button-bg-secondary;
}    

.seForm_button--tertiary.seForm_button--active:focus, .seForm_button--tertiary.seForm_button--active:hover {
    background-color:darken($button-bg-secondary, 10%)
}

.seForm_button--toggle .icon-list, .seForm_button--toggle .icon-map {
    font-size: 20px;
    position: relative;
    left: -4px;
    top: 3px;
}

/* various button tweaks */
.button.secondary:last-child {margin-right: 0}

.seForm_rows--submit input[value=Cancel]{margin-left:1em}
.seForm_rows--submit {margin-top: 2em; clear: both; overflow: hidden;text-align:left;}

.seForm_button--fullwidth { margin-top:2em}
.seForm_button--asideExt {margin: 1em 0 2em}

.seForm--ugc .seForm_submit input[type="submit"] { /* M:1679 */
    padding: 0 3.5em;
    height: 3.5em;
    margin-top: 2em;
}




/* Input
   ========================================================================== */
.seForm_rows--textbox {}

.seForm input[type="text"], .seForm input[type="password"],
.seForm textarea, input[type="text"].ps-input {
    display: block; 
    width: 100%; 
    margin: 0 0 2.5em 0;  
    padding: 0.475em 0.5em; 
    font-family: inherit;
    font-size: 1.4em;font-size:1.4rem;
    font-weight:400;
    border: 1px solid lighten($input-color, 55%); 
    background-color: $input-bg;
    border-radius:2px;

    -webkit-box-shadow: inset 0 1px 2px rgba(black, 0.1);
    box-shadow: inset 0 1px 2px rgba(black, 0.1);

    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;transition: 
    box-shadow 0.45s, border-color 0.45s ease-in-out;
    -webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    -webkit-appearance: none;
}

/* cover all inputs + textboxes - not updated yet */
.seForm input[type="text"]:focus, .seForm input[type="password"]:focus,
.seForm textarea:focus, input[type="text"].ps-input:focus, html body .seForm .riSingle .riTextBox[type=text]:focus,
.seForm select:focus, .seForm_select:focus  {
    border-color: rgba($primary-color, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px rgba($primary-color, 0.2);
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}

aside .seForm input[type="text"] {
    margin-bottom:1.5em;
}

.seForm label input[type="text"] {
    margin-top:0.5em;

}

/*search icon added */
.seForm_rows--textboxSearch input[type="text"] {
    background-position: -100px 8px;
    padding-left: 30px;
}

/*button as link */
 input[type="submit"].button-as-link {
    padding:0.25em 0;margin:0;background-color:transparent;
    font:1.4em/1.1 'Cabin', Arial, sans-serif;
    font:1.4rem/1.1 'Cabin', Arial, sans-serif;
    color:$primary-color;border-width:0;line-height:1; height:auto
}

.generic-content input[type="submit"].button-as-link {
    position: relative;
    top: -2px;
    font-size:1.6em;
    font-size:1.6rem;
    text-decoration: underline
}

input[type="submit"].button-as-link:hover, input[type="submit"].button-as-link:focus {text-decoration:none}

.se-form-container input[type="submit"].button-delete-file {position:absolute;right:0;top:0}
.se-form-container input[type="submit"].button-delete-file:hover,.se-form-container input[type="submit"].button-delete-file:focus {background-image: url(ui-icons_888888_256x240.png)}
.se-form-container .upload-row ul {margin-bottom:1.75em; position:relative}
.se-form-container .upload-row .label-filename{display:block;-ms-word-break:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto; padding-left:18px;}

/* Textarea
   ========================================================================== */
.seForm_rows--textarea {}

.seForm textarea { min-height: 125px}

aside .seForm.seForm--panel textarea { margin-bottom:1.5em}

/* Select
   ========================================================================== */
.seForm_rows--select {}

.seForm_select {
    display:block;
    clear:both;
    margin:0 0 1em; 
    width:100%;
}

.seForm select, .seForm_select {
    font-weight:400; font-family:'Cabin',Arial, sans-serif;
    font-size:1.4em; font-size:1.4rem;
    padding:.475em .5em;
    border: 1px solid lighten($input-color, 55%); 
    border-radius:2px;
    max-width:100%; /*try to fix crop problem in FF*/
}

.seForm--ugc select, .seForm_rows--select select {width:100%}

aside .seForm select {
    width:100%
}

.seForm label select {
    margin-top:0.5em;
}

/* Multiselect
   ===========================================================================*/
.seForm select[multiple="multiple"] {
    display: block; 
    width: 100%; 
    margin: 0 0 2.5em 0;  
    padding: 0; 
    font-family: inherit;
    font-size: 1.4em;font-size:1.4rem;
    font-weight:400;
    border: 1px solid lighten($input-color, 55%); 
    background-color: $input-bg;
    border-radius:2px;

    -webkit-box-shadow: inset 0 1px 2px rgba(black, 0.1);
    box-shadow: inset 0 1px 2px rgba(black, 0.1);

    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;transition: 
    box-shadow 0.45s, border-color 0.45s ease-in-out;
    -webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    -webkit-appearance: none;
}

.seForm select[multiple="multiple"]:focus {
    border-color: rgba($primary-color, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px rgba($primary-color, 0.2);
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}

.seForm label select[multiple="multiple"] {
    margin-top:0.5em;
}

.seForm.seForm--panel select[multiple="multiple"] {
    margin-bottom:1em;
}


/* Checkbox/radio
   ========================================================================== */
.seForm_rows--checkbox, .seForm_rows--radio {}


.seForm_rows--checkbox input:focus, .seForm_rows--radio input:focus{outline:1px dotted #999}
.seForm_rows--checkbox input, .seForm_rows--radio input {
    float:left;
    margin:.25em .75em 0 0;

}

.seForm_rows--checkbox table, .seForm_rows--radio table {table-layout: fixed; width:100%}
.seForm_rows--checkbox th, .seForm_rows--radio th {word-wrap: break-word}
.seForm_rows--checkbox td,  .seForm_rows--radio td{word-wrap: break-word}
.seForm_rows--checkbox th label, .seForm_rows--checkbox td label,
.seForm_rows--radio th label, .seForm_rows--radio td label {
    float:left;
    width:80%;
}
@media (min-width: 768px) {
    .seForm_rows--checkbox.seForm_rows--terms {width: 100%}
}
.seForm_rows--checkbox.seForm_rows--terms label {font-size: 1.6em; font-size: 1.6rem}

/* custom */

.scSearchInputOption label {
    /*display:inline-block;
    margin-right:10px*/
    text-transform:uppercase;
    font-size:1.5em; font-size:1.5rem
}

/* File upload
   ========================================================================== */
.seForm_input--file {
    margin:0 0 1em; 
    font-weight:400; font-family:'Cabin',Arial, sans-serif
}

.seForm_rows--file input[type="file"] {
    overflow: hidden;
    width: 100%;
}

.no-js .seForm_rows--file input[type="file"] {
    margin-bottom:2em
}

.fileinput .seForm_input-fileUploadWarning {
    display:none    
}

/* Date
   ========================================================================== */
.seForm_rows--date {overflow:hidden}

.seForm_rows--date .field-title {display:block}
.seForm_rows--date .field-input {display:block; margin-bottom:1em}
.seForm_rows--date .no-js-element br {display:none} 
.seForm--panel .RadPicker.RadPicker_Default {
    margin-bottom:0.5em
}

/* Calendar
   ========================================================================== */
.seForm .RadPicker.RadPicker_Default {width:130px !important}
.seForm .RadPicker table.rcTable {position:relative;width:176px !important}
.seForm .RadPicker_Default .rcCalPopup, .seForm .RadPicker_Default a.rcCalPopup:hover, .seForm .RadPicker_Default a.rcCalPopup:focus {background: transparent url('icon-calendar.png') no-repeat left top;width: 29px;height: 28px;margin-left: 15px;}
/* calendar RadPicker overwrites */
.RadPicker input {margin-bottom: 0}
html body .seForm .riSingle {width:176px;}
html body .seForm .riSingle .riTextBox[type=text]{
    border:1px solid #CCC;
    font:1.4em 'Cabin',Arial;
    font-size:1.4rem;
    color:#5b5b5b; margin:0; padding:.5em;
    width:130px;
}
html body .seForm .RadInput_Default .riError,html body .seForm .RadInput_Error_Default{background-position:100% -295px;border-color:$error-color}

/* Matrix row
   ========================================================================== */
.seForm_rows li.seForm_rows--matrix { width: 100%}

.seForm_rows--matrix table {
    border-collapse:separate;border-spacing:2px;
    table-layout: fixed
}

.seForm_rows--matrix th {
    text-align: left; padding: 0 5px 0 0; font-weight: normal;
    word-wrap: break-word; vertical-align:bottom;
    font-size:0.85em;
    font-size:1.4rem;
}
.seForm_rows--matrix td { 
    vertical-align: top; padding:0 5px 0 0;
    word-wrap: break-word;
    font-size:0.85em;
    font-size:1.4rem;
}
.seForm_rows--matrix input[type="checkbox"], .seForm_rows--matrix input[type="radio"] {margin-bottom:0}
.seForm_rows--matrix .matrix-input-label {position:absolute;left:-999em;}

/* Rank row
   ========================================================================== */
.seForm_rows--rank {}

.seForm_rows--rank table {width: 100%}
@media (min-width: 768px) { /* target the generic forms */
    .seForm_rows--rank {
        width: 50%;
    }
}
.seForm_rows--rank input[type="text"] {width:25%; display:inline-block; margin:0 5% .75em 0}
.seForm_rows--rank td label {display:inline-block; vertical-align:middle; margin:0 0 1em 0; width:70%!important; font-size:1.4em; font-size:1.4rem}

/* Captcha
   ========================================================================== */

@media (max-width: 991px) { 
    .seForm_rows .seForm_rows--captcha { width: 100%} /* M:1643 */
}
.seForm_rows--captcha input[type="text"], .captcha input[type="text"] {
    width: 60%;
    margin-bottom:0;
}

@media (min-width: 768px) { 
    .seForm_rows--captcha input[type="text"], .captcha input[type="text"] {
        width: 13em; /* M:1643 */
        margin-bottom:1em
    }
}

.CaptchaImageDiv, .captcha {position: relative;margin-bottom:1em}

.captcha img {margin-bottom:.5em}

@media (min-width: 768px) { 
    .captcha img {margin-bottom:1.75em}
}

.large .captcha img, .x-large .captcha img {margin-bottom:.5em}

/* this is used on the newsletter subscription form - MONASH 1008 */
.captcha label {
    clear: both;
    display: block;
}

/* zero redundant p tag */
.captcha p {margin:0}

/* show/hide Captcha links for mobile */
.no-js .rcRefreshImage  {display:none!important}

.rcCaptchaAudioLink {display:none}

@media only screen and (min-width:992px) {
    .rcCaptchaAudioLink {display:block}
}
/* Captcha - handling test resize */
.rcRefreshImage, .rcCaptchaAudioLink {position:relative; margin-bottom:1em}

@media (min-width: 768px) {
    .rcRefreshImage {margin-bottom:0}
}

.x-small .rcRefreshImage, .x-small .rcCaptchaAudioLink, .small .rcRefreshImage, .small .rcCaptchaAudioLink, .standard .rcRefreshImage, .standard .rcCaptchaAudioLink {font-size:1.4em; font-size:1.4rem;line-height:1.2}

@media (min-width:768px) {
    .x-small .rcRefreshImage, .x-small .rcCaptchaAudioLink, .small .rcRefreshImage, .small .rcCaptchaAudioLink, .standard .rcRefreshImage, .standard .rcCaptchaAudioLink {position:absolute; left:205px}
}

.x-small .rcRefreshImage, .small .rcRefreshImage, .standard .rcRefreshImage {top:0}
.x-small .rcCaptchaAudioLink, .small .rcCaptchaAudioLink, .standard .rcCaptchaAudioLink {top:2.0em}

@media only screen and (min-width:768px) {
    .x-small .rcRefreshImage, .small .rcRefreshImage, .standard .rcRefreshImage {top:.25em}
} 


/* Mixed - used on Rating
   ========================================================================== */

.seForm_rows--mixed input[type="radio"] + label {
    display:inline-block;
    margin: 0 0 1em .3em;
}


/* Category Tree
   ========================================================================== */

@media (min-width: 768px) {
    .seForm_rows--cattree {
        min-height:80px
    }
}
.seForm_rows--cattree > div {
    position:relative;
}

.sc-tdd-text-wrap {
    border-radius:2px;
}

.sc-tdd-tree-wrap {
    position:absolute;z-index:1000;
    top:33px;left:0;
}

.sc-tdd-text-wrap.active, .sc-tdd-tree-wrap {
    border-color: rgba($primary-color, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px rgba($primary-color, 0.2);
    box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}

@media (min-width: 768px) {
    .seForm--panel .sc-tdd-tree {width: 258px}
    .seForm--panel .sc-tdd-text span {width: 233px}
    .seForm--panel .sc-tdd-tree-wrap {width: 256px;z-index:100}
}

.RadTreeView .rtLines .rtLI, .RadTreeView .rtLines .rtFirst .rtUL {margin-bottom:0}

/* adjust sizing */
.seForm--ugc .sc-tdd-tree {width: 275px}
.seForm--ugc .sc-tdd-text {width: 243px}
.seForm--ugc .sc-tdd-text span {width:250px}
.seForm--ugc .sc-tdd-tree-wrap {width:273px}

@media (min-width: 768px) {
    .seForm--ugc .sc-tdd-tree {width: 100%}
    .seForm--ugc .sc-tdd-text {padding-right: 30px; width: 100%}
    .seForm--ugc .sc-tdd-text span {width:100%}
    .seForm--ugc .sc-tdd-tree-wrap {width:100%}
}

/* forgot password
   ========================================================================== */

.seForm_forgotPassword {
    font-size: 1.6em; font-size: 1.6rem;
    margin-left: 0;
    padding:1em 0 .5em;
    display:block;
}

@media (min-width: 768px) {
    .seForm_forgotPassword {
        margin-left: 1.5em;
        padding:0;
        display:inline;
    }
}    


/* Hyperlink
   ========================================================================== */

.seForm_rows--hyperlink {overflow:hidden}

.custom-df-hyperlink-item {clear:both}


input[type="text"].custom-df-hyperlink-item-name, input[type="text"].custom-df-hyperlink-item-link, span.url-title, span.url-link {width:38%; margin-right:12px; float:left}
input[type="text"].custom-df-hyperlink-item-name, input[type="text"].custom-df-hyperlink-item-link {margin-bottom:1em}

.seForm input[type="text"].custom-df-hyperlink-item-link {width:100%;}
@media (min-width: 768px) {
    .seForm input[type="text"].custom-df-hyperlink-item-link {width:42.5%;}
    .seForm.seForm--ugc input[type="text"].custom-df-hyperlink-item-link {width:39.5%;}
}

span.url-title, span.url-link {font-size:1.3em;font-size:1.3rem; padding-bottom:5px}
span.url-link {width:100%}
@media (min-width: 768px) {
    span.url-link {width:50%}
}

span.url-title, input[type="text"].custom-df-hyperlink-item-name {width:100%}
@media (min-width: 768px) and (max-width: 991px) { /*tweak for tablet*/
    span.url-title, input[type="text"].custom-df-hyperlink-item-name {width:25%}
}
@media (min-width: 992px) {
    span.url-title, input[type="text"].custom-df-hyperlink-item-name {width:33%}
}

.hyperlink-button-remove {float:left; width:auto; margin-bottom:1em }
@media (min-width: 768px) {
    .hyperlink-button-remove {margin-bottom:0.5em }
}
.custom-df-hyperlink-item.hyperlink-button-add {clear:both;display:both}

.hyperlink-button-add input[type="button"] {
    @extend .seForm_button;
    line-height: 2.25em;
    height: 2.25em;
}

.hyperlink-button-remove {
    @extend .seForm_button--tertiary;
    line-height: 2.25em;
    height: 2.25em;
}

/* single version - hide the buttons */
.seForm_rows--hyperlinkSingle {}

.seForm_rows--hyperlinkSingle input[type="text"].custom-df-hyperlink-item-link, .seForm_rows--hyperlinkSingle span.url-link {width:56%; margin-right:0;}
.seForm_rows--hyperlinkSingle input[type="text"].custom-df-hyperlink-item-name, .seForm_rows--hyperlinkSingle span.url-title {width:41%}

.seForm_rows--hyperlinkSingle .hyperlink-button-add {display:none}
.seForm_rows--hyperlinkSingle .hyperlink-button-remove {display:none}


/* File upload - Radcontroller
   ========================================================================== */

.seForm_rows .RadUpload input.ruAdd {
    @extend .seForm_button
}

.seForm_rows .RadUpload input.ruBrowse {
    @extend .seForm_button--secondary;
    background-image:none;
}

.seForm_rows .RadUpload input.ruRemove, .seForm_rows input.button-delete-file {
    @extend .seForm_button--tertiary;
    line-height:2.25em;
    height:2.25em;
}

.seForm_rows .RadUpload input.ruButton, .seForm_rows .RadUpload input.ruRemove {
    background-image:none; 
    line-height:2.25em;
    height:2.25em;       
}

/* file upload overwrites */
.seForm input.ruFakeInput[type="text"] {width:222px;float:left;margin-bottom:0;height: 32px;line-height: 32px; padding:0 0.5em; margin-right:10px}
.seForm--ugc input.ruFakeInput[type="text"] {width:312px}
.seForm_rows--fileSingle input.ruFakeInput[type="text"] {width:340px}
.seForm--ugc .seForm_rows--fileSingle input.ruFakeInput[type="text"] {width:460px}

.seForm .ruFileWrap.ruStyled {height:auto;width:100%;}
.seForm .RadUpload .ruInputs li {position:relative; width:100%; overflow:hidden}
.seForm .RadUpload .ruRemove {position:absolute;top:0;right:0;z-index:2}

.seForm .desktop ul {margin:0;}
.seForm .desktop ul li:last-child {margin-bottom:1em;}
.seForm .RadUpload, .seForm .RadUploadProgressArea {text-align: left; width: 100%; padding-bottom:1em}
.seForm .RadUpload.custom-df-cms-rad-upload {overflow:hidden;padding-bottom:.5em}
.seForm .RadUpload .ruCheck, .seForm input.ruButton.ruDelete {display:none}
.seForm .RadUpload .ruActions .ruButton.ruAdd{width:auto; font-size:1.1em; font-size:1.5rem}
.seForm .RadUpload .ruInputs li.ruActions {margin-top:0}


/* WYSIWYG
   ========================================================================== */

ul.reToolbar li {
    width:auto
}   