/* ==========================================================================
   GRID
   ========================================================================== */

.grid{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 -1%}
.grid:after{clear:both;content:"";display:table}
.grid-pad{padding:15px}
[class*=col-]{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:1%;padding-left:1%}

@media (min-width: 768px) {
    footer [class*=col-] {padding-right:1.5%;padding-left:1.5%}
}

.col-xs-1{width:8.33333%}
.col-xs-2{width:16.6667%}
.col-xs-3{width:25%}
.col-xs-4{width:33.3333%}
.col-xs-5{width:41.6667%}
.col-xs-6{width:50%}
.col-xs-7{width:58.3333%}
.col-xs-8{width:66.6667%}
.col-xs-9{width:75%}
.col-xs-10{width:83.3333%}
.col-xs-11{width:91.6667%}
.col-xs-12{width:100%}

@media (min-width: 480px){
    .col-s-1{width:8.33333%}
    .col-s-2{width:16.6667%}
    .col-s-3{width:25%}
    .col-s-4{width:33.3333%}
    .col-s-5{width:41.6667%}
    .col-s-6{width:50%}
    .col-s-7{width:58.3333%}.col-s-8{width:66.6667%}.col-s-9{width:75%}.col-s-10{width:83.3333%}.col-s-11{width:91.6667%}
    .col-s-12{width:100%}
    .grid-pad-s{padding:15px}
}

@media only screen and (min-width:768px) {
    .col-m-1{width:8.33333%}
    .col-m-2{width:16.6667%}
    .col-m-3{width:25%}
    .col-m-4{width:33.3333%}
    .col-m-5{width:41.6667%}
    .col-m-6{width:50%}
    .col-m-7{width:58.3333%}.col-m-8{width:66.6667%}.col-m-9{width:75%}.col-m-10{width:83.3333%}.col-m-11{width:91.6667%}
    .col-m-12{width:100%}
    .grid-pad-m{padding:15px}
}
@media only screen and (min-width:992px){
    .col-lg-1{width:8.33333%}
    .col-lg-2{width:16.6667%}
    .col-lg-3{width:25%}
    .col-lg-4{width:33.3333%}
    .col-lg-5{width:41.6667%}
    .col-lg-6{width:50%}
    .col-lg-7{width:58.3333%}.col-lg-8{width:66.6667%}.col-lg-9{width:75%}.col-lg-10{width:83.3333%}.col-lg-11{width:91.6667%}
    .col-lg-12{width:100%}
    .grid-pad-lg{padding:15px}
}
.grid-overlay-container{max-width:1140px;position:relative;width:100%;margin:0 auto}
.grid-overlay{position:absolute;width:100%;overflow-x:hidden;height:10000px;z-index:10000}
.grid-overlay .col-xs-1 > div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#FBB;height:10000px;width:100%;zoom:1;filter:alpha(opacity=20);opacity:0.2}


/* Fix to get more space between columns */
@media (min-width: 768px) and (max-width: 991px) {
    aside[role="complementary"].col-m-5, div[role="main"].col-m-8 {
        padding-right: 1.55%;
    }

    aside[role="complementary"].col-m-5 + div[role="main"].col-m-8, div[role="main"].col-m-8 + aside[role="complementary"].col-m-5 {
        padding-left: 1.55%;
        padding-right:1%;
    }
}
@media (min-width: 992px) {
    aside[role="complementary"], div[role="main"] {
        padding-right: 1.55%;
    }

    aside[role="complementary"] + div[role="main"], div[role="main"] + aside[role="complementary"] {
        padding-left: 1.55%;
        padding-right:1%;
    }
}

/* The Equalizer - equal height columns */
@media only screen and  (min-width: 768px) {
    .columnEqualizer_row {
        display:table;
        width:100%;
        clear:both;
    }
}

@media only screen {
    .columnEqualizer_cell {
        display:block;
        padding-top:80px;
        vertical-align:top;
    }
}

@media only screen and  (min-width: 768px) {
    .columnEqualizer_cell {
        display:table-cell!important;
        float:none;
        padding-top:90px;
        vertical-align:top;
    }
}  

@media only screen and  (min-width: 992px) {
    .columnEqualizer_cell {
        padding-top:100px;
    }
} 

@media only screen {
    .columnEqualizer_cell h2 {
        position:absolute; 
        top:-70px;
        left:0;
    }
}

@media only screen and  (min-width: 768px) {
    .columnEqualizer_cell h2 {
        top:-90px;
    }

    .flexbox .columnEqualizer_row {
        /* these !importants are a bad way to do it*/
        display: -webkit-flexbox!important;
        display: -ms-flexbox!important;
        display: -webkit-flex!important;
        display: -moz-flex!important;
        display: flex!important;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .flexbox .columnEqualizer_cell, .flexbox .columnEqualizer_child {
        position: relative;
        /* these !importants are a bad way to do it*/
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: -webkit-flex!important;
        display: flex!important; 
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}
/* ugly hack to hide for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .flexbox .show-for-large-up.columnEqualizer_row {
        display:none!important;
    }
}

@media only screen and (min-width: 768px) {
    .columnEqualizer_cell.news, .columnEqualizer_cell.weSpeak { padding-left:0;}
    .columnEqualizer_cell.haveSay, .columnEqualizer_cell.ourOther { padding-right:0;}
}

/* turn off Equalizer for this row on S2 only */
@media only screen and (max-width: 991px) {
    .columnEqualizer_cell.news, .columnEqualizer_cell.haveSay {padding-left:0; padding-right:0}
    .no-flexbox .columnEqualizer_cell.news, .no-flexbox .columnEqualizer_cell.haveSay {display: block!important} /* M:1812 */

    .flexbox .columnEqualizer_row--1 {
        display:block!important;
    }
    .flexbox .columnEqualizer_row--1 .columnEqualizer_cell, .columnEqualizer_row--1 .flexbox .columnEqualizer_child {
        /* position: relative; */
        /* these !importants are a bad way to do it*/
        /* display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: -webkit-flex!important;
        display: flex!important; */
        display:block!important;
        -webkit-flex: none;
        -moz-flex: none;
        -ms-flex: none;
        flex: none;
    }

}    