/* ==========================================================================
   Tweaks & Helpers
   ========================================================================== */

div[role="main"] img {max-width:100%}

.error {color:$error-color}

.hideLast {font-style:normal;}
.hideLast:last-child {display:none}

/* Orientation
   ========================================================================== */

.orientation {float:none}

/*tablets*/
@media screen and (max-width: 991px) and (orientation: portrait) {
    .orientation {float:left}
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .orientation {float:right}
}


/* Show Hide
   ========================================================================== */

/* this should have been called last to overwrite other CSS - rather than have huge and ugly extra specific-y */

.js .no-js-element, .hide, .pagination-nojs, .js .non-js-element, .js .seamless-pagination-no-js, .no-js .non-js .button-previous, .no-js .non-js .button-next {display:none!important}
.no-js .js-element, .visuallyhidden, .visuallyhidden.genericPanel, .visually-hidden, .icon-description, .no-js-element label.noshow {border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0; speak:normal!important;}

/*.userLogin--active {display:none}*/


/* Google Map
   ========================================================================== */

div[role="main"] .gmap-container img {  max-width:none}


/* Hide for Mobile */
div.gmap { display:none}

@media only screen and (min-width: 768px) {
    div.gmap { display:block;padding-bottom: 10px} /* M: 1546 */

    .gmap-container {
        height: 555px;
        width: 100%;
    }
    
    .gmap-target {
        height: 100%;
        width: 100%;
    }
}


.panelList_item #mapView a, .panelList_item .gmap-container a {
    display: inline;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.gmap-marker {display:none} /* update to hide list view */

.map-canvas {
    line-height:normal;
}

.gm-style-iw {
    left: 9px !important;
}

/* http://goo.gl/SsgSh1 - fix for scrollbars in FF and IE */
/*.gm-style-iw > div {
    line-height:1.35;
    overflow:hidden;
    white-space:nowrap;
}*/

.panelList_item .gm-style-iw h3 {
    font-family:'Cabin', Arial, sans-serif;
    /*font-size: 1.4em;*/
    font-size: 18px;
    margin-bottom:0.65em;
    font-weight:600
}

.gmap-info h4, .gm-style-iw h4 {
    font-family:'Cabin', Arial, sans-serif;
    /*font-size: 1.4em;*/
    font-size: 18px;
    margin-bottom:0.65em;
    line-height:1.1
}

.gmap-info a h4, .gmap-info a h3
.gm-style-iw a h4, .gm-style-iw a h3 {
    color:$primary-color;
}

.gm-style-iw a h3:hover, .gm-style-iw a h3:focus, 
.gm-style-iw a h4:hover, .gm-style-iw a h4:focus {
    color:darken($text-color, 10%);
}

.gmap-info a, .gm-style-iw a,
.panelList_item #mapView .gm-style-iw a, .panelList_item .gmap-container .gm-style-iw a {
    display: block;
    overflow: hidden;
    padding: 5px;
    text-decoration:none;
    -moz-hyphens: manual!important;
    hyphens: manual!important;
    word-break:normal!important;
    word-wrap:normal!important;
}

.gm-style-iw a:hover, .gm-style-iw a:focus {
    background-color:$panel-highlight
}

.gmap-info p, .gmap-info li, .gmap-info .panelList_item--categories li,
.gm-style-iw p, .gm-style-iw li, .gm-style-iw .panelList_item--categories li {
    font-family:'Cabin', Arial, sans-serif!important;
    font-style:italic;
    /*font-size: 1.1em;*/
    font-size: 14px; 
    color:$text-color;
    
}

.gm-style-iw a p:hover, .gm-style-iw a p:focus, 
.gm-style-iw a li:hover, .gm-style-iw a li:focus {
    color:darken($text-color, 10%);
}

/* has date */
.gm-style-iw .dateExists h4, .gm-style-iw .dateExists h3,
.gm-style-iw .dateExists p {
    margin-left:101px;
}

.gm-style-iw p.panelList_item--categories {
    margin-bottom:0.5em;
    font-size: 1.1em; font-size: 1.4rem;  /* M:1955 */
}

.gm-style-iw p .icon-marker,
.gm-style-iw p .icon-tag{
    color:lighten($text-color, 45%);
    float:left;
}

.gm-style-iw p.full-address {
    margin-bottom:0;
}

.gm-style-iw p i + span {
    display: block;
    position: relative;
    margin-left: 22px;
    top: -3px;
}

.gm-style-iw p [class^="icon-"] {float:left; width: 14px} /* M:1955 */



/* Icon layout fixes
   ========================================================================== */

.multiLine-withIcon [class^="icon-"], .multiLine-withIcon [class*=" icon-"], 
.panelList_item--categories [class^="icon-"] { float:left}
.multiLine-withIcon span, .panelList_item--categories span { display:block;margin-left:27px} /* M:1555 / M:1699 / M:1554 */

.panelList_item--categories  .icon-tag + ul span {display: inline; margin-left: 0} /* M:1895 */

/* M:1556 / M:1699 */
.genericPanel--contact .multiLine-withIcon, .event-panel--contact .multiLine-withIcon {
    display: block; 
    overflow: hidden;
    width: 100%;
    clear: both;
}

.genericPanel--contact .multiLine-withIcon span, .event-panel--contact .multiLine-withIcon span {
    margin-left: 0;    
    float: left;
    width: 80%
}

@media only screen and (min-width: 768px) {
    .genericPanel--contact  .multiLine-withIcon span, .event-panel--contact .multiLine-withIcon span {
        width: 90%
    }
} 

/* M:1564*/
.genericPanel.genericPanel--login h2 {font-size: 2.2em;font-size: 2.2rem;margin-top: 0}
.genericPanel--login .seForm_button {margin-top:1.5em}
.password--check {font-size:1.5em; font-size:1.5rem; margin-bottom:0; color:#777 }

/* iFrame
   ========================================================================== */


.iframewrap {
    display:none;
}
@media only screen and (min-width: 768px) {
    .iframewrap { 
        width:100%;
        height:800px;
        padding-top:10px;
        overflow:auto;
        display:block;
        -webkit-overflow-scrolling: touch;
    }
    .iframewrap iframe { border: 0 none;display: block;height: 100% !important;margin: 0;min-height: 100% !important;outline: 0 none;overflow: visible;padding: 0;position: relative;width: 100% !important;
    }

    .iframewrap + div { margin-top:40px}
}


/* Back to top
   ========================================================================== */
#back-to-top {
    width: 90px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    font-size: 0.8em;
    z-index: 1000;
}

.sb-active #back-to-top {display:none} /* hide if nav open */

.no-js #back-to-top {
    position:relative;
    top:-60px;
    height:0;
}

.js #back-to-top {
    position: fixed;
    bottom: 20px;
    width: 45px;
    right: 0;
}

@media (min-width: 992px) {
    .js #back-to-top {
        bottom: 60px;
    }
}    

#back-to-top i {
    width: 45px;
    height: 60px;
    display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#back-to-top i:before {
    font-size:30px
}

#back-to-top i span {
    text-transform:uppercase;
    font: 400 12px 'Lato', sans-serif;
    font-size:1.2rem;
    display:block;
}

#back-to-top i {
    background: #333;
    border-radius: 1px;
    font-size: 30px;
    color: #FFF;
    line-height: 35px;
}
#back-to-top:hover i {
    background-color: #000;
}

.js #back-to-top:hover, .js #back-to-top:focus {
    border-bottom:0px solid transparent
}

#back-to-top > span {
    font-size: 1.4em;font-size: 1.4rem;
    padding-top: 10px;
    overflow: hidden;
    display: block;
}

.no-js #back-to-top, .no-js #back-to-top i {
    display:block;
    margin:0 auto;
}

/* Pagination
   ========================================================================== */

.seamless-pagination {
    position: relative; display: block; overflow:hidden;
    margin-top:5em
}

.seamless-pagination.visuallyhidden {margin-top:0}

@media (min-width: 768px) and (max-width: 991px) {
    .seamless-pagination { margin:5em 0 0}
    .seamless-pagination-js {text-align:center}
}    

ul.simple-pagination{list-style:none}
.simple-pagination{display:block;overflow:hidden;margin:0;padding:0 5px 5px 0}
.simple-pagination ul{list-style:none;margin:0;padding:0;font-size:1.4em;font-size:1.4rem}
.simple-pagination li{list-style:none;display:inline;margin:0;padding:0}

.seamless-pagination-js {display:none}

.seamless-pagination-data input[type="submit"]{
    padding: 0 12px;
    font:700 1.5em/40px 'Lato', Arial, sans-serif;
    text-transform:uppercase;
    border-width:0;
    background-color:#FFF;
    color:$button-color;
    background-color:$button-bg;
    min-height:40px; /*iOS fix*/
    min-width:2.5em;
    margin:0 10px;
    vertical-align:top;
    border-radius:2px;
}

input.btn_scPagingNonJS_enabled:hover, input.btn_scPagingNonJS_enabled:focus {
    background-color: darken($button-bg-highlight, 8%);
}

.seamless-pagination-data input.btn_scPagingNonJS_enabled:hover, .seamless-pagination-data input.btn_scPagingNonJS_enabled:focus {
    background-color: darken($button-bg, 8%); 
}
.simple-pagination li>a, .simple-pagination li>span, .button-previous input, .button-next input {
    position: relative;
    float: left;
    padding: 7px 12px;
    text-decoration: none;
    color: $button-color-secondary;
    background-color: lighten($button-bg-secondary, 50%);
    min-height:40px; /*iOS fix*/
    min-width:2.5em;
    text-align:center;
    margin-right:3px;
    border-radius:2px;
    border-width:0
}

.simple-pagination li>a:hover, .simple-pagination li>span:hover, .button-previous input:hover, .button-next input:hover,
.simple-pagination li>a:focus, .simple-pagination li>span:focus, .button-previous input:focus, .button-next input:focus {
    background-color: lighten($button-bg-secondary, 30%);
}

.button-previous input, .button-next input {
    width:45px;
    text-indent:-1234em;
}

.button-previous input {background-position:-96px -16px}
.button-next input {background-position:-93px -43px; margin-right: 0}

.button-previous input, .button-next input, .seamless-pagination-data {margin-left:0}
.seamless-pagination-data {float:left}
.seamless-pagination-data span { 
    display:inline-block;
    font-size:1.6em;font-size:1.6rem; 
    line-height:40px;
    padding:0 7px 0 10px;
}
.seamless-pagination-data select {
    margin-top:-5px
}

.seamless-pagination .show-for-small-only {
    /*border: 1px solid #DDD;*/
    overflow: hidden;
    display: inline-block!important;
    border-radius: 2px;
}

.js .seamless-pagination .show-for-small-only {
    display:block!important;
    width:275px;
    margin:0 auto;
}

.js .seamless-pagination .show-for-small-only .button-previous,
.js .seamless-pagination .show-for-small-only .button-next {
    display:block;
    float:left;
    min-width:25px;
    min-height:40px;
}

@media only screen and (min-width:768px) {
    .container .seamless-pagination .show-for-small-only {
        display: none!important;
    }
}    

.no-js .seamless-pagination-data {
    margin-left:0;
    border-radius:2px;
}

.seamless-pagination .show-for-small-only {
/*    border: 1px solid #DDD;*/
    overflow: hidden;
    display: inline-block!important;
    border-radius: 2px;
}

@media only screen and (min-width:768px) {
    .simple-pagination li>a, .simple-pagination li>span, .button-previous input, .button-next input, .seamless-pagination-data {
        min-height:0; /*reset iOS fix*/
        line-height: 1.42857143;
    }
    .simple-pagination ul{
        overflow: hidden;
        border-radius: 2px;
        display: inline-block;
    }
}
.button-previous input[disabled="disabled"], .button-next input[disabled="disabled"] {
    display:none;
}

.simple-pagination .current, .simple-pagination li a.prev, .simple-pagination li a.next, .button-previous input, .button-next input  {
    z-index: 2;
    color: $button-color;
    background-color: $button-bg-highlight
}

.simple-pagination li a.prev:before, .simple-pagination li a.next:before {
    position:absolute;
    content:' ';
    left:5px; top:9px;
    width:16px; height:16px;
    background-position:-106px -28px
}
.simple-pagination li a.next:before {left:auto;right:5px;background-position:-111px -55px}
.simple-pagination li a.prev {padding-left:30px}
.simple-pagination li a.next {padding-right:30px}

.simple-pagination .current {cursor: default}

.simple-pagination li>a:hover, .simple-pagination li>a:focus {
    background-color: darken($button-bg-highlight, 8%);
    color: $button-color;
}
.simple-pagination .active .prev, .simple-pagination .active .next {
    display:none
}

@media (min-width: 768px) {
    .no-js .seamless-pagination > .non-js.show-for-small-only {
        display:block!important;
    }
    .seamless-pagination-js {display:block}
}

.ellipse{cursor:default}

.page-totals, .page-total-1, .seamless-pagination .show-for-small-only.page-total-1 {display:none!important}

@media (min-width: 768px) {
    .page-totals{display:block!important; font-size:1.4em;line-height:2.4em;position:absolute;right:0;top:0}
    .page-totals.page-total-1{display:none!important}
}

/* Image containers
   ========================================================================== */
.image-container {margin-bottom:15px}
.image-container img {width:100%}
.image-container.full-width {width:100%}
.image-container.pull-right img {margin:0 0 1em 0.5em}    

.img-crop {
    display: block;
    float: left;
    width: 80px; height: 80px;
    overflow: hidden;
    text-align: center;
    margin-right: 15px;
}


/* Thank you message
   ========================================================================== */
.thank-you-message {
    display: block;
    font-size: 1.4em;
    font-size: 1.4rem;
    margin: 0 0 2.5em 0;
    padding: 10px;
    background:#d9ede2;
}
.thank-you-message + div {display:none}

/* Generic list
   ========================================================================== */
.inlineList {margin:0; padding:0}
.inlineList li {display:inline; list-style-type:none;}


/* related Categories
   ========================================================================== */
.related-categories ul, .related-categories li { list-style:none;margin-left:0; }

.related-categories li { 
    display:inline-block;
    margin:0 .65em .65em 0;
    font-size: 1em; font-size: 1.3rem
}

.related-categories li a { 
    display:block;
    margin:0;padding:0 0.5em;
    line-height:2.25em; height:2.25em;
    color:$text-color;
    background:$panel-background;
    border:1px solid darken($panel-background, 10%);
    text-decoration:none;
    @include border-radius(4px);
}

.related-categories li a:hover, .related-categories li a:focus { 
    background:$primary-color-light;
    color:$reverse-color;
    border:1px solid $primary-color;
}


/* Item Navigation - Previous/Next
   ========================================================================== */
.item-navigation { 
    float:left;display:block;
    width:100%;
    color:$text-color;
    text-decoration:none;
    max-height:188px;overflow:hidden;
    background:$panel-background; 
    padding:10px;
    margin:0 0 1.5em;
    min-height:148px;
}

@media (min-width: 768px) {
    .item-navigation { 
        width:49%;
        padding:20px;
        margin:0 0 2em;
    }
    .col-m-8 .item-navigation {
        width:100%
    }
}

@media (min-width: 992px) {
    .col-m-8 .item-navigation, .item-navigation { 
        width:47.5%;
        margin:3em 0 3em;
    }
}

.item-navigation:hover, .item-navigation:focus { 
    color:$text-color;
    background:$panel-highlight; 
}

.item-navigation.next-item { 
    float:right;
    text-align:right;
}

@media (min-width: 992px) {
    .item-navigation.next-item { 
        margin-left:5%;
    }
}

.item-navigation-title { 
    font-weight:600;
    font-size:1.8em;font-size:1.8rem;
    display:block;
    position: relative;
    line-height: 1;
    padding: 10px 0 15px 28px;
}
@media (min-width: 768px) {
    .item-navigation-title { 
        font-size:2em;font-size:2rem;
        padding-bottom:10px;
    }    
}
.next-item .item-navigation-title {
    padding-right: 28px;
    padding-left: 0;

}

.item-navigation-desc { 
    font-size:1.5em;font-size:1.5rem;
    line-height:1.4em;
    display:block;
    overflow: hidden;
}

.item-navigation .icon-arrow-left-c, .item-navigation .icon-arrow-right-c {
    position:absolute;
    top: 12px;
    left: -4px;
    font-size: 1.1em; font-size: 1.8rem;
}

.item-navigation .icon-arrow-right-c {
    left:auto;
    right:-4px;
}


/* Generic Panels
   ========================================================================== */


.genericPanel {
    padding:10px 20px;
    background-color:$panel-background
}

@media (min-width: 992px) {
    .genericPanel {
        padding:20px 20px 30px;
    }
}
.genericPanel h2, .genericPanel h3 {
    font-size:2.2em;font-size:2.2rem
}
@media (min-width: 992px) {
    .genericPanel h2 {
        margin-bottom:1em;
        font-size:2.6em;font-size:2.6rem
    }
}

/* make sure that links and email links don't break the layout */
.genericPanel a[href^="mailto"], .genericPanel a[href^="http"] {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.genericPanel [class^="icon-"] { float:left}


/* Icon Info Togglers
   ========================================================================== */
/* Note need to convert all to BEM */

.help-toggle {    
    width:100%;
    text-align:right;
    /*padding-bottom:10px        */
}

.help-toggle .icon a.icon-info-toggler{
    position:absolute;
    display:block;
    top:0; right:0;
    width:20px; height:20px;line-height: 20px;
    cursor:pointer;
    color:#a6a6a6;
    font-size: 20px;
    text-decoration:none;
}

.help-toggle .icon a.icon-info-toggler:hover,.help-toggle .icon a.icon-info-toggler:focus, .help-toggle .icon.active a.icon-info-toggler {
    color:#333;
    text-decoration:none
}

/* form help tweaks */
.field-row .help-toggle {padding-bottom:0; text-align:left}

.info-text {
    display:block; 
    font: 600 1.4em 'Cabin', sans-serif;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    text-align:left;
}

.info-text p, .info-text ul { margin-bottom:0}

.info-text p + ul {padding-top:.85em}

.info-text ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.info-text ul li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

.help-toggle .info-text {
    border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0;
}

.active > .info-text {
    position:relative;
    height:auto; width:auto; clip:auto;
}

/* no js fixes */
.no-js .help-toggle {
    text-align: right
}

.no-js .help-toggle .icon a.icon-info-toggler {
    display:none;

}
.no-js .help-toggle .info-text {
    clip:auto;
    height:auto;width:auto;
    position:relative;margin:0 0 1em 0;
    font-style:italic;
}

.no-js .help-toggle .info-text p {
    font-size:1.4em; font-size:1.4rem;
}



/* Togglers
   ========================================================================== */
/* Note need to convert all to BEM - half complete */

.toggler {position:relative; display:inline;}

/* panel */
.toggled, .toggleContainer_toggled, .toggleMobilePhoneContainer_toggled, .toggleMobileContainer_toggled {
    /*clip: rect(0 0 0 0);
    height: 1px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;*/
    display:none;
}

.active .toggled, .toggleContainer--active .toggleContainer_toggled, .no-js .toggleContainer_toggled, .toggleMobilePhoneContainer--active .toggleMobilePhoneContainer_toggled, .toggleMobileContainer--active .toggleMobileContainer_toggled  {
    /*clip: auto;
    height: auto;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;*/
    display:block;
}

@media only screen and (min-width:768px) {
    .toggleMobilePhoneContainer_toggled { /* reset */
        display:block;    
    }
}

@media only screen and (min-width:992px) {
    .toggleMobileContainer_toggled { /* reset */
        display:block;    
    }
}

@media only screen and (max-width:767px) {
    .userLogin .toggleMobileContainer_toggled p {
        margin-top:.75em
    }
}

/* container */
.toggleContainer, .toggleMobilePhoneContainer, .toggleMobileContainer, .genericPanel {
    margin-bottom:20px;
    clear:both;
}

@media only screen and (min-width:768px) {
    .toggleContainer, .toggleMobilePhoneContainer, .toggleMobileContainer, .genericPanel {
        margin-bottom:30px;
    }
}    

.pageFeedback.toggleContainer {
    margin-bottom:30px
}

.genericPanel .toggleMobileContainer {
    margin-bottom:0
}

.toggleMobileContainer.greyContainer {
    margin-bottom:5px
}

/* content tweaks */
.toggleContainer h3, .toggleMobilePhoneContainer h2, .toggleMobileContainer h2 {
    font-size:2em;
    font-size:2rem;
    margin:0;
}

@media only screen and (max-width:767px) {
    .pageFeedback.toggleContainer h3, .pageSubscribe.toggleContainer h3 {
        font-size:1.5em;
        font-size:1.5rem;
    }
} 

.searchList .toggleContainer h3, .searchList .toggleMobilePhoneContainer h2, .searchList .toggleMobileContainer h2 {
    font-size:2.2em;
    font-size:2.2rem;
}

.toggleContainer .seForm_rows--button input, .toggleMobilePhoneContainer .seForm_rows--button input, .toggleMobileContainer .seForm_rows--button input {
    width:100%
}

@media only screen and (min-width:768px) {
    .toggleContainer .seForm_rows--button input, .toggleMobilePhoneContainer .seForm_rows--button input, .toggleMobileContainer .seForm_rows--button input {
        width:auto
    }
}

.successMessage {
    overflow:hidden;
}

.toggleContainer .icon-tick {
    display:block;
    color: #B4B4B4;
    float: left;
    font-size: 2.75em;
    height: 1em;
    width: 1.3em;
    padding-bottom:0;

    width: 1em;
    margin-right: 0;
}

.successMessage .icon-tick + span {
    margin-left:60px;
    display:block;
}

aside .toggleContainer .icon-tick {
    margin-right:10px;
}

aside .successMessage_withIcon {
    margin-bottom:0
}
   

/*toggler */
.toggleContainer_toggler, .toggleMobilePhoneContainer_toggler , .toggleMobileContainer_toggler  {
    display:block;
    position:relative;
    color:$reverse-color;
    background-color:lighten($text-color, 18.5%);
    padding:8px 45px 8px 20px;
    text-decoration:none;
    border-radius:2px;
}

a.toggleContainer_toggler:visited, a.toggleMobilePhoneContainer_toggler:visited , a.toggleMobileContainer_toggler:visited {
    color:$reverse-color;    
}

.lightContainer .toggleMobileContainer_toggler, .lightContainer .toggleMobilePhoneContainer_toggler {
    color: $text-color;
    background-color:$reverse-color;
    padding:0 2em 0.5em 0;
}

.greyContainer .toggleContainer_toggler, .greyContainer .toggleMobileContainer_toggler {
    color:$text-color;
    background-color:darken($panel-background, 5%);
    font-weight:600;
    margin:0;
}

.greyContainer h2 a:visited { color:$text-color}

.greyContainer .toggleContainer_toggler--header {
    font-size:1.8em; font-size:1.8rem;
    margin:0; padding:0;
}

.toggleMobileContainer_toggler, .toggleMobilePhoneContainer_toggler { cursor:pointer}

@media only screen and (min-width: 768px) {
    .toggleMobilePhoneContainer_toggler {
        cursor:default;
        border-radius: 2px 2px 0 0;
    }
}

@media only screen and (min-width: 992px) {
    .toggleMobileContainer_toggler {
        cursor:default;
        border-radius: 2px 2px 0 0;
    }
}

.genericPanel .toggleMobilePhoneContainer_toggler, .genericPanel .toggleMobileContainer_toggler {
    padding:0 1em 0 0;
    background-color: transparent;
}

@media only screen and (min-width: 992px) {
    .genericPanel .toggleMobileContainer_toggler {
        font-size:2.6rem; font-size:2.6rem;
        padding-bottom:1em;
    }
}


.toggleContainer_toggler:hover, .toggleContainer_toggler:focus,
.toggleMobilePhoneContainer_toggler:hover, .toggleMobilePhoneContainer_toggler:focus,
.toggleMobileContainer_toggler:hover, .toggleMobileContainer_toggler:focus {
    color:$reverse-color;
    background-color:$text-color;
}

.lightContainer .toggleMobilePhoneContainer_toggler:hover, .lightContainer .toggleMobilePhoneContainer_toggler:focus,
.lightContainer .toggleMobileContainer_toggler:hover, .lightContainer .toggleMobileContainer_toggler:focus {
    color:darken($text-color, 10%);
    background-color:$reverse-color;
}

.greyContainer .toggleContainer_toggler:hover, .greyContainer .toggleContainer_toggler:focus,
.greyContainer .toggleMobileContainer_toggler:hover, .greyContainer .toggleMobileContainer_toggler:focus {
    color:$text-color;
    background-color:darken($panel-background, 5%);
}

.genericPanel .toggleMobilePhoneContainer_toggler:hover, .genericPanel .toggleMobilePhoneContainer_toggler:focus,
.genericPanel .toggleMobileContainer_toggler:hover, .genericPanel .toggleMobileContainer_toggler:focus {
    color:darken($text-color, 10%);
    background-color:transparent;
}

.pageSubscribe .toggleContainer_toggler,
.toggleMobileContainer_toggler {
    background-color:$primary-color-light;
}

.pageSubscribe .toggleContainer_toggler:hover, .pageSubscribe .toggleContainer_toggler:focus,
.toggleMobileContainer_toggler:hover, .toggleMobileContainer_toggler:focus {
    background-color:$primary-color;
}

@media (min-width: 992px) {
    .toggleMobileContainer_toggler:hover, .toggleMobileContainer_toggler:focus {
        background-color:$primary-color-light;
    }
    .lightContainer .toggleMobileContainer_toggler:hover, .lightContainer .toggleMobileContainer_toggler:focus {
        color:$text-color;
    }
}

/* icon tweaks */
.toggleContainer_toggler [class^="icon-"], .toggleMobilePhoneContainer_toggler [class^="icon-"], .toggleMobileContainer_toggler [class^="icon-"] {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 24px;
}

.quickLinks .toggleMobileContainer_toggler [class^="icon-"],
.userLogin .toggleMobileContainer_toggler [class^="icon-"] {color: #969696}

.genericPanel .toggleMobilePhoneContainer_toggler [class^="icon-"], .genericPanel .toggleMobileContainer_toggler [class^="icon-"] {
    right: 0;
    top: 2px;  
}

.no-js .toggleContainer_toggler [class^="icon-"] {
    display:none
}

.toggleContainer--active .icon-arrow-down:before, .toggleMobilePhoneContainer--active .icon-arrow-down:before, .toggleMobileContainer--active .icon-arrow-down:before {
    content: "\e60e";
}

/*icon overwrites */
.greyContainer .icon-arrow-down, .greyContainer .icon-arrow-down { 
    color: #bbbbbb; 
    margin-right: 0!important
}

.greyContainer.toggleMobileContainer--active .icon-arrow-down, .greyContainer.toggleMobileContainer--active .icon-arrow-down,
.greyContainer.toggleContainer--active .icon-arrow-down, .greyContainer.toggleContainer--active .icon-arrow-down { 
    color: $text-color; 
}

.toggleContainer--active .toggleContainer_toggler, .toggleMobilePhoneContainer--active .toggleContainer_toggler, .toggleMobileContainer--active .toggleContainer_toggler {
    border-radius:2px 2px 0 0;
}

.toggleContainer_toggled {
    padding:30px 20px;
    background-color:$panel-background;

}

@media (min-width: 992px) {
    .toggler {color:#666;}

    .toggled { /*reset*/
        display:block;
    }
}

.toggler span[class^="icon-"] {
    position:absolute;
    right:10px; top:50%;
    margin-top: -27px;
    font-size: 36px;
}

.carat { /*pointing down */
    position:absolute;
    right:10px; top:50%;
    margin-top:-9px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid rgba(0, 0, 0, 0);
    cursor:pointer;
}

.active .carat {
    border-top: 0;
    border-bottom: 8px solid;
    content: "";
}

.toggler .carat {margin-top:-4px}


/* Scrollbox
   ========================================================================== */
/* Note need to convert all to BEM */
.scroll-box-label {
    font-weight:normal
}

.scroll-box {
    clear:both;
    width: 100%; height: 200px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 15px 20px 20px;
    margin-bottom:2em;
    overflow: auto;
    border-radius: 2px;
}

.scroll-box h2 {margin-top:0}

/* Date panels
   ========================================================================== */
/* Note need to convert all to BEM  */
.date-panel {
    display:block; position:absolute;
    width:81px; height:81px;
    font:400 3.6em/1 'Lato', Arial, sans-serif;
    font-size:3.6rem;
    text-align:center;
    color:#FFF;
    background-color:#0070AA;
}

.eventList .date-panel {
    position:relative;
    float: left;
}

.date-panel > * {
    display:block;
}

.date-panel strong {
    height:55px; line-height:55px;
    font-weight:700;
}

.date-panel span {
    font-size:1.3em; font-size:1.3rem;
    text-transform: uppercase;
    height:26px; line-height:26px;
    background-color:#045C89;
}

.large .date-panel span, .x-large .date-panel span { height:auto}

/* Spelling suggestions
   ========================================================================== */

/* M:1875 */
.spellsuggest-container {
    display: none; /* hide all */
}

.spellsuggest-container--0 {
    display: block; /* show if no results */
}


/*should just be a p-tag*/
.spellsuggestlabel {
    font-size:1.6em; font-size:1.6rem;
    margin-bottom:1em;
    display:block;
    clear:both;
}


/* Synonyms
   ========================================================================== */
/*set the height for synonym-results*/
.synonym-container {
    margin-bottom:1em
}

.synonym-container h3 {
    font-size:1.6em; font-size:1.6rem;
    margin:0;
}

.synonym-results ul {
    min-height: 0;
}

.synonym-results li, .show-more-synonym, .show-less-synonym {
    font-size:1.6em; font-size:1.6rem;
}

.js .synonym-results li {display:none}

.js li.synonymResults__item--show {display:list-item}

.show-more-synonym, .show-less-synonym {
    color:$primary-color;
    text-decoration:underline;
    cursor:pointer;
}

.no-js .show-more-synonym, .no-js .show-less-synonym {
    display:none
}

/* needs to be changed to a to be focus-able */
.show-more-synonym:hover, .show-less-synonym:hover {
    text-decoration:none;
}

.synonym-results {
    overflow: hidden;
}

/* Arrow lists
   ========================================================================== */

.arrows_list {margin-left:0}

.arrows_list li {
    list-style:none
}


.arrows_list li:before {
    content:'>';
    padding-right: 0.5em;
}

/* Quick Links
   ========================================================================== */
.quickLinks {}

.quickLinks h2 {
    font-size:2.6em; font-size:2.6rem;
    border-bottom: 2px solid $panel-background;
    margin: 0 0 1em;
}

.quickLink_list {
    margin:0 0 1em;
}
.quickLink_list li {
    list-style:none;
    font-size:1.5em; font-size:1.5rem;
    border-bottom:1px solid $reverse-color;
}
.quickLink_list a {
    display:block;
    padding: 15px;
    color:$text-color;
    text-decoration:none;
    background-color:$panel-background
}
@media (min-width: 768px) {
    .quickLink_list a { padding: 15px 20px }
}

.quickLink_list a:hover, .quickLink_list a:focus {
    color:$text-color;
    background-color:$panel-highlight
}

/* Comments
   ========================================================================== */
/* Not switched to BEM - running out of time */


/* Panel */
.comments-panel { margin-top:50px;clear:both; }
/*.comments-panel ul, .comments-panel li { list-style:none;margin:0;padding:0; }*/

.comments-panel ul { margin-top:60px; }
@media (min-width: 768px) {
    .comments-panel ul { margin-top:20px; }
}

.comments-panel li input[type=checkbox] { 
    display:inline; 
    vertical-align:top;
    margin:.25em 5px 0 0; 
}
.comments-panel li select { clear:both;display:block; }

ul.comment-content_Details {margin:0 0 1.35em .2em; font-style:italic}
.comment-content_Details li {font-size:1.5em; font-size:1.5rem; color:lighten($text-color, 18); margin-left:-.15em}

// .comment-content_Details--datetime, .comment-content_Details--report {
//     white-space:nowrap;
// }


/* Heading */
.comment-heading {
    border-bottom: 2px solid $panel-background;
    margin-bottom: 1.75em;
}
.commentCount { 
    display:block;
    position:relative;

    font-size:1.6em; font-size:1.6rem;
    color: lighten($text-color, 18);
    padding-bottom:5px;
    background-color:$body-bg;
}

/* Comments */
.comments-panel .row-fluid { 
    margin-top:-2px;
    border-bottom: 2px solid $panel-background;
    margin-bottom:4.5em;

}

.comment-block { border-top: 2px solid $panel-background; padding-top:2em }

@media (min-width: 768px) {
    .comment-content { padding:0px 0 0px 95px }
}
.comment-content p { margin:0 0 0.5em 0 }

.comment-content input[type="submit"] {
    margin-bottom:0
}

.nested-comment { border-top: 2px solid $panel-background;padding:2em 0 2em 42px; min-height: 11em; }

@media (min-width: 768px) {
    .nested-comment { padding-left:95px }
}

.comment { padding-bottom:2em; min-height: 9em; }

/* Avatar */
.comment-block .avatar {display:none}

@media (min-width: 768px) {
    .comment-block .avatar {
        display:block;
        width:70px; height:70px;
        color:$body-bg;
        background:$primary-color-light;
        font: 700 32px/70px "Lato", Arial, sans-serif;
        text-align:center;
        @include border-radius(2px);
    }

    .nested-comment .avatar { 
        background-color:$button-bg-secondary
    }
}

/* form fixes */
.postComment h4 {
    font-size:2.1em; font-size:2.1rem;
    font-weight:400;
    margin-top:0.25em
}

@media (min-width: 768px) {
    .postComment h4 {
        font-size:2.6em; font-size:2.6rem;
        margin-top:0
    }
}

.btn-comment-close {
    clear:both;
    display:block;
    margin:1em 0;
}

@media (min-width: 768px) {
    .btn-comment-close {
        width:100%;
        text-align:right;
    }    
} 

   

input[type="submit"].btn-comment-close {
    float:right;
    padding:0.25em 0;
    margin-bottom:-1em; /* close up space */
    background-color:transparent;
    font:1.6em/1.1 'Cabin', Arial, sans-serif;
    font:1.6rem/1.1 'Cabin', Arial, sans-serif;
    text-decoration: underline;
    color:$primary-color;border-width:0;line-height:1; height:auto
}

@media (min-width: 768px) {
    input[type="submit"].btn-comment-close {
        float:none
    }    
} 

input[type="submit"].btn-comment-close:hover, input[type="submit"].btn-comment-close:focus {text-decoration:none}

.postComment .captcha {margin-bottom:0}
.postComment .field_input input[type="checkbox"] + label {
    font-size:1.6em;font-size:1.6rem;
    width:80%
}

.comment-captcha-container .captcha input[type="text"] {
    margin-bottom:0
}

/*
.anonymous-title { font-family:"Cabin", sans-serif;color:#363a3c;font-size:18px;margin-top:30px;text-shadow: rgba(0, 0, 0, .01) 0 0 1px; }
.comment .avatar img, .nested-comment .avatar img { height:70px;width:70px; }

*/



/* Form over writes */
@media (min-width: 768px) {
    .commentForm h4 {
        font-size:2.4em;font-size:2.4rem;
    }
}

.commentForm .seForm_rows--checkbox input + label {
    font-size:1.6em; font-size:1.6rem;
}

.comment-closed {
    font-size:1.6em; font-size:1.6rem;
}


/* Photo Gallery
   ========================================================================== */

.photoGallery{margin:0}

.photoGallery_img {width:100%}

@media (min-width: 768px) {
    .photoGallery_img {width:auto}
}    

.photoGallery_item{list-style:none}

.photoGallery_item a {display:block;width:100%}

@media (min-width: 768px) {
    .photoGallery_item a {width:auto}
}    


.photoGallery_item .file-details {display:none}
.photoGallery .photoGallery_item a {padding-left:0}
.photoGallery .photoGallery_item a:before {content:none}

.photoGallery_itemName {margin:0.5em 0 2em;}

/* layout if has .js*/
.js .photoGallery_item { display:block;overflow:hidden;height:0}
.js .photoGallery_item--active {height:auto}
.js .photoGallery_itemName { display:none}

.js .photoGallery_item a {text-decoration:none}
.js .photoGallery_item a:hover, .js .photoGallery_item a:focus {color:darken($text-color, 10);}

.photoGallery_open {
    font-size:1.4em; font-size:1.4rem; 
    color:$text-color; text-decoration:none;
    margin-top:0.85em;
    font-style:italic; /* M:1584 - refer to Event page */
}

.photoGallery_open .icon-fullscreen:before {
    margin-right:0.25em;
    color:lighten($text-color, 44%);
}

/* A-Z
   ========================================================================== */

.az-container { position:relative; }

p.az {font-weight:bold}

.current-az { 
    color:lighten($text-color, 51%);
    font:300 32px/1 "Lato", sans-serif;
    margin-bottom:0.5em
}

@media (min-width: 768px) {
    .current-az { 
        font-size:100px;
        float:left;
        margin-top: -16px;
    }
}
.az-list-item { margin:0px 0 20px 0;width: 100%; }

@media (min-width: 768px) {
    .az-list-item { margin:0px 0 20px 25%;width: 75%; }
}

.az-list-item a, .az-list-item a:visited { 
    display:block;
    padding:20px;
    color:$text-color!important;
    background:$panel-background;
    text-decoration:none;
}
.az-list-item a:hover, .az-list-item a:focus { 
    background:$panel-highlight;
}
.az-list-item-title { 
    border-bottom:2px solid darken($panel-background, 6);
    font: 700 18px "Cabin", sans-serif;
    padding-bottom:1em;
    margin-top: 0;
}

.az-list-item p {
    margin-bottom: .25em
}

.az-list-item a:hover .az-list-item-title, .az-list-item a:focus .az-list-item-title {
    border-bottom-color:darken($panel-highlight, 6);
}
.az-wrap { display:block;list-style:none;padding:0;margin:0; }
@media (min-width: 768px) {
    .az-wrap { margin: 0 0 1.5em }
}    
.az-wrap:after { display:block;clear:both;content:"";height:30px; }

.az-button { 
    font-family:'Lato', sans-serif;
    height:32px;width:32px;
    line-height:32px;
    text-align:center;
    color:#d7d7d7;
    background:$panel-background;
    margin-right:3px; margin-bottom: 3px;
    list-style:none;
}
.az-button a, .az-button a:visited { 
    display:block;
    height:100%;width:100%;
    color:$primary-color!important; /*trying to override visited*/
    background:$primary-color-vlight;
    text-decoration:none;
}
.az-button a:hover, .az-button a:hover { 
    color:$reverse-color!important;
    background:$primary-color;
}  



/* Scrollable table
   ========================================================================== */

/* Assumes that only viewable for Mobile */

.tableWrapper {
    width:100%;
    position:relative;
    overflow:hidden;
}

.tableWrapper--fixed {
    float: left;
    padding-bottom: 25px;
}

.tableWrapper--scroll {
    position: absolute;
    float: left;
    width: 100%;
    padding-left: 116px;
    top: 0;
}

.tableWrapper table {
    table-layout: fixed;
    margin-bottom:0;
    min-width:0!important;
    white-space: nowrap!important;
}

.tableWrapper--fixed table {
    width:116px;
}

.tableWrapper--scroll table {
    width:auto;
}

.tableWrapper--scroll {
    overflow: auto
}

.tableWrapper--scrollDiv {
    margin-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -2px;
    display: block;
}

.tableWrapper--scrollDiv table {
    display: block!important;
}

.tableWrapper--scrollDiv th, .tableWrapper--scrollDiv td {
    white-space: nowrap!important;
    word-wrap: normal!important;
    -webkit-text-size-adjust:100%; /* assumes only visible in the mobile view */
}

table.table-styled.minutes-table {
    margin-bottom: 5px;
}

@media (max-width: 765px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: rgba(0,0,0,0.1)
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: rgba(0,0,0,0.35); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(0,0,0,0.3); 
    }
}