/* ==========================================================================
   HIGH CONTRAST
   ========================================================================== */
@media (min-width: 992px) {
	.black-on-white #main-content {
		color: #FFFFFF !important;
		background:#000 !important;
	}
	.black-on-white #main-content div {
	    background: transparent !important;
	}

	.black-on-white .background-image {display:none !important}
	.black-on-white .background-mask {display:none !important}
	.black-on-white #main-content.internal, .black-on-white #main-content.home {margin-top:90px !important}

	.black-on-white h1, .black-on-white h2, .black-on-white h3, .black-on-white h4, .black-on-white h5, .black-on-white h6 {
	    color: #FFFFFF;
	}

	.black-on-white #main-content a, .black-on-white #main-content a *, .black-on-white .show-more-synonym, .black-on-white .show-less-synonym { color: #ece765 !important;border:0px!important; }

	.black-on-white #main-content a:hover { border:0px!important;text-decoration:none; }
	.black-on-white #main-content a:focus { background-color: #333; outline: 1px dotted #FFF; }
	.black-on-white #main-content a:visited {color:#5edefa!important; text-decoration:underline;}

	/* tweaks to match visual */
	.black-on-white {
		background-color:#202020 !important;
	}

	.black-on-white  header *, .black-on-white  #main-content * {
		border-color:#000 !important;
	}
	.black-on-white  #main-content h1 {
		border-color:#333 !important;
	}

	.black-on-white header, .black-on-white footer, .black-on-white nav.page-tools {
		background:#282828 !important;
		color: #FFFFFF !important;
	}

	.black-on-white header a, .black-on-white footer a {
		color: #FFFFFF !important;
		background-color:transparent !important;
	}

	.black-on-white header a:hover, .black-on-white header a:focus {
		color: #FFFFFF !important;
		background-color:transparent !important;
		text-decoration:underline;
	}

	/* Logo */
	.black-on-white header .logo img {
		display:none;
	}

	.black-on-white header .logo a {
		display: block;
		width:140px;
		height:40px;
		background: transparent url("monash-logo-x2-reversed.png") no-repeat left top;
		background-size:140px 39px;
	}


	.black-on-white header .accessible-list input {
		color: #FFFFFF !important;
		background-color:transparent !important;
	}

	.black-on-white .search-form input[type="submit"].ps-button {
		background: #D9D9D9 url(sprite.png) no-repeat 24px 9px !important;
		-webkit-background-size: 122px 70px !important;
		background-size: 122px 70px !important;

	}

	.black-on-white .search-form input[type="text"].ps-input {
		background-color:#D9D9D9 !important
	}
	

	/* predictive results */
	.black-on-white header .predictive-results a, .black-on-white header .predictive-results a * {
		background:#FFF !important;
		color:#000 !important;
	}

	/* mainMenu */
	.black-on-white .mainMenu_list {
		background:#000 !important;
	}

	.black-on-white .mainMenu_list div {
		background:#000 !important;
	}

	/* Home
	   ========================================================================== */
	.black-on-white .landing-statement {margin-top:0}

	.black-on-white .home .events li a:hover, .black-on-white .home .events li a:focus,
	.black-on-white .home .news li a:hover, .black-on-white .home .news li a:focus, 
	.black-on-white .home .haveSay li a:hover, .black-on-white .home .haveSay li a:focus {
		background:#282828 !important;
	}

	.black-on-white .yourMonash h2 i {
		color:#FFF !important;
	}

	.black-on-white #main-content .chosen-container .chosen-drop {
		background:#000 !important;
	}

	.black-on-white #main-content .frequent-item li a {
		background:#282828 !important;
	}

	.black-on-white #main-content .frequent-item li a:hover, .black-on-white #main-content .frequent-item li a:focus {
		background:#000 !important;
	}

	.black-on-white #main-content a.button, .black-on-white a.chosen-default, .black-on-white a.chosen-default * {
		color:#000 !important;
	}

	/* Main Content
	   ========================================================================== */

	/* Side Menu */
	.black-on-white #main-content nav h2 {
		background:#3a3a3a !important;
	}

	.black-on-white nav ul.side-menu li {
		background:#151515;
	}

	.black-on-white nav ul.side-menu li.nav-active-page > a, .black-on-white nav ul.side-menu li a:hover, .black-on-white nav ul.side-menu li a:focus {
		background:#282828 !important;
	}

	.black-on-white #sidebar nav a, .black-on-white #sidebar nav a:visited {
		color:#FFF!important;
	}

	.black-on-white #sidebar nav a:hover, .black-on-white #sidebar nav a:focus {
		text-decoration:underline;
	} 

	.black-on-white #main-content aside .seForm--panel {
		background:#151515;
	}

	/* Breadcrumbs */
	.black-on-white #main-content .breadcrumbs a:visited, .black-on-white #main-content .breadcrumbs a {
		color:#ece765!important;
	}

	.black-on-white #main-content .breadcrumbs a:hover, .black-on-white #main-content .breadcrumbs a:focus {
		text-decoration:underline;
	}

	/* Styles */
	.black-on-white .table-styled thead tr td, .black-on-white .table-styled tr td {
		background:#282828 !important;
	}

	.black-on-white .table-styled thead tr th, .black-on-white .table-styled tr th {
		background:#333 !important;
	}

	.black-on-white blockquote, .black-on-white blockquote p {color:#FFF;}

	/* Share */
	.black-on-white #main-content .shareList--pageLinks a, .black-on-white #main-content .shareList--pageLinks a * {
		color:#FFF !important;
	}

	.black-on-white #main-content .shareList--pageLinks a:hover, .black-on-white #main-content .shareList--pageLinks a:focus {
		text-decoration:none !important;
	}

	/* date-panel */
	.black-on-white #main-content .date-panel, .black-on-white #main-content .date-panel *  {
		background:#FFF !important;
		color:#000 !important;
	}


	/* togglers */
	.black-on-white .toggleContainer_toggler, .black-on-white .toggleMobilePhoneContainer_toggler, .black-on-white .toggleMobileContainer_toggler, .black-on-white #main-content .toggleContainer_toggled {
		background:#282828 !important;
	}

	.black-on-white .lightContainer .toggleMobileContainer_toggler,
	.black-on-white .lightContainer .toggleMobilePhoneContainer_toggler {
		background:transparent !important;
		color:#FFF !important;
	}

	.black-on-white p, .black-on-white ol, .black-on-white ul, .black-on-white td {
		color: #d2d2d2
	}

	/* Forms
	   ========================================================================== */
	/* buttons */
	.black-on-white button, .black-on-white .button, .black-on-white .seForm_button, .black-on-white  #main-content .event-panel__link--book, .black-on-white .seForm_button--secondary, .black-on-white input[type="submit"], .black-on-white .se-form-container input[type="button"], .black-on-white #main-content .seForm_button--asideExt {
		color:#000 !important;
		background:#FFF !important;
	}

	.black-on-white textarea, .black-on-white option, .black-on-white input[type="text"], .black-on-white input[type="password"], .black-on-white input[type="datetime"], .black-on-white input[type="datetime-local"], .black-on-white input[type="date"], .black-on-white input[type="month"], .black-on-white input[type="time"], .black-on-white input[type="week"], .black-on-white input[type="number"], .black-on-white input[type="email"], .black-on-white input[type="url"], .black-on-white input[type="search"],  .black-on-white input[type="tel"], .black-on-white input[type="color"], .black-on-white .uneditable-input, .black-on-white textarea:focus, .black-on-white input[type="text"]:focus, .black-on-white input[type="password"]:focus, .black-on-white input[type="datetime"]:focus, .black-on-white input[type="datetime-local"]:focus, .black-on-white input[type="date"]:focus, .black-on-white input[type="month"]:focus, .black-on-white input[type="time"]:focus, .black-on-white input[type="week"]:focus, .black-on-white input[type="number"]:focus, .black-on-white input[type="email"]:focus, .black-on-white input[type="url"]:focus, .black-on-white input[type="search"]:focus,  .black-on-white input[type="tel"]:focus, .black-on-white input[type="color"]:focus, .black-on-white .uneditable-input:focus { background:#FFFFFF!important;color:#000000!important;border:0px!important; }

	.black-on-white aside .seForm--panel, .black-on-white .home .news h2, .black-on-white .quickLinks ul, .black-on-white nav h2 { border-color:#ffffff !important;background:#000000!important; }
	.black-on-white .simple-pagination .current, .black-on-white .simple-pagination li > span { border:0px !important;background:#000000!important;color:#ffffff!important; }




	.black-on-white .seForm_button--tertiary, .black-on-white .btn-cancel, .black-on-white .se-form-container .seForm_submit input[value="Cancel"], input.unsubscribe-button[value="Cancel"] { background-color: #282828 !important; }

	.black-on-white .seForm_button--tertiary:hover, .black-on-white .seForm_button--tertiary:focus, .black-on-white input.unsubscribe-button[value="Cancel"]:hover, .black-on-white input.unsubscribe-button[value="Cancel"]:focus, .black-on-white .btn-cancel:hover, .black-on-white .btn-cancel:focus, .black-on-white .seForm_submit input[value="Cancel"]:hover, .black-on-white .seForm_submit input[value="Cancel"]:focus {  background-color: #000 !important; }

	.black-on-white .seForm_button--tertiary.seForm_button--active { background-color: #707070; }

	.black-on-white .seForm_button--tertiary.seForm_button--active:focus, .black-on-white .seForm_button--tertiary.seForm_button--active:hover { background-color: #575757; }


	/* DLVs
	   ========================================================================== */
	.black-on-white .panelList_item a {
		background:#282828!important;
	}

	.black-on-white .panelList_item a:hover, .black-on-white .panelList_item a:focus {
		background:#000!important;
	}


	.black-on-white .seamless-pagination-js a,
	.black-on-white .seamless-pagination-js a:hover,
	.black-on-white .seamless-pagination-js a:focus {
		background:transparent!important;
		color:#000!important;
	}

	/* Details
	   ========================================================================== */

	.black-on-white .related-categories li a, .black-on-white a.item-navigation {
		background:#282828!important;
	}

	.black-on-white .related-categories li a:hover, .black-on-white .related-categories li a:focus, 
	.black-on-white a.item-navigation:hover, .black-on-white a.item-navigation:focus {
		background:#000!important;
	}

	/* Tabs */

	.black-on-white .tabList_item a {
		background:#000!important;
	}
	.black-on-white .tabList_item a:hover, .black-on-white .tabList_item a:focus, .black-on-white .tabList_item a.current { 
		background:#282828!important;
	}

	.black-on-white #main-content .tabArea { background:#282828!important; }

	.black-on-white .onlineDiscussion_item a { background:#000!important;}

	.black-on-white .onlineDiscussion_item a:hover, .black-on-white .onlineDiscussion_item a:focus { background:#282828!important; }

	/* Quick list + landing page */
	.black-on-white .quickLink_list a, .black-on-white .landingPage_item a { background:#282828!important; }

	.black-on-white .quickLink_list a:hover, .black-on-white .quickLink_list a:focus,
	.black-on-white .landingPage_item a:hover, .black-on-white .landingPage_item a:focus { background:#000!important; }


	.black-on-white .announcement {border:1px solid #FFF}
	.black-on-white .announcement_header,.black-on-white .announcement_description { color: #FFF!important; font-style:italic;}


	/* A-Z
	   ========================================================================== */
	.black-on-white .az-button { color: #FFF!important; background:#282828!important; }

	.black-on-white .az-button a, .black-on-white .az-button a:visited {
		background:#282828!important;
	}
	.black-on-white .az-list-item a, .black-on-white .az-list-item a:visited { background:#282828!important; }

	.black-on-white .az-list-item a:hover, .black-on-white .az-list-item a:focus { background:#000!important; }
}	