/* ==========================================================================
   Site Layout
   ========================================================================== */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }

/* TEMP*/
#detect {position:absolute; z-index:999999; left:0; top:0; color:#DDD}

/* resize */
.x-small{font-size:.3125em;line-height:.50}
.small{font-size:.46875em;line-height:.75}
.standard{font-size:.625em;line-height:1}
.large{font-size:.9375em;line-height:1.125}
.x-large{font-size:1.25em;line-height:1.25}

.content-wrapper {
    width:100%;
    position:relative;    
}

.container {
    margin:0 auto;    
    padding:0 20px 20px;
}

#main-content { background-color:#FFF}
#main-content.home {background-color:transparent;}


@media only screen and (min-width:768px) {
    #main-content.home {
        margin-top:-550px;
    }
}
@media only screen and (min-width:992px) {
    #main-content {
        width:992px;
        margin:0 auto;
    }
    #main-content.home {
        margin-top:-730px;
        position:relative;
    }
}


#main-content > .container {
    background:#FFF;
    padding-bottom:0;
}

@media only screen and (min-width:992px) {
    .container.internal {
        padding-bottom: 40px;
        position:relative;
    }
}

/* small - S3 */
@media only screen {
  .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down {
    display: inherit !important; }
  .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down {
    display: none !important; }
}

/* medium - S2*/
@media only screen and (min-width:768px) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down {
    display: none !important; }
}

/* large - S1 */
@media only screen and (min-width:992px) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down {
    display: none !important; }
}




/* ==========================================================================
   Website Header
   ========================================================================== */

@media (min-width:992px) {
    body {
        background-color:#5a5a5a;
    }
}    


.print-header {display:none}

@media (min-width:768px) {
    .skip {
        color:#FFF;
        width:15%;
        font-size: 1.2em;font-size: 1.2rem;
        position:absolute;
        top:-9999em;
    }
    .skip:hover, .skip:focus {
        color:#333;
        top:-13px;
    }
}
   
.header-container {
    height:auto;
    z-index:5;
}

.navbar {position:relative}

@media (min-width:992px) {
    .header-container {
        min-height:110px;
    }

    .header-container > .container {
        position:relative;
    }

    .navbar {
        width:992px;
        margin:0 auto;
    }
}    

header{
    position:relative;
    min-height:60px; /*has to be flexible to show nav*/            
    margin:0;
    
    background:#EDEDED;
    background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

@media (min-width:992px) {
    header{
        height:110px;
        padding-top:20px;
    }

    header .nav-bar {
        position:relative;

    }
}

@media only screen and (min-width:992px) {
    .mainMenu {
        height: 90px !important;
        overflow: visible !important;
        position:relative;
        z-index:1;
    }
}

header .logo {
    padding: 14px 0 15px 15px;
    width: 100%
}

@media only screen and (min-width:768px) {
    header .logo {
        padding-left:20px;
    }
}

@media only screen and (min-width:992px) {
    header .logo {
        position:absolute; z-index:5;
        width:40%;float:left;

    }
}
header .logo img {
    width:110px;
}

@media only screen and (min-width:992px) {
    header .logo img {
        width:140px;
    }
    header .site-title {
        position:absolute;
        right:20px
    }

    header .site-title h2 {
        font-weight:normal;
        text-transform:uppercase;
        border-bottom: 2px dotted #c5c5c5;
        font-size:26px;
        line-height:1;
        padding-bottom:12px;
        margin:62px 0 0 
    }
}

header .mainMenu-btn {
    margin-top:15px;
}

header .mainMenu-menu {
    position: absolute;
    padding: 7px 10px;
    top: 10px;
    right: 5px;
    text-decoration: none;
    color:#818181
}

header .mainMenu-menu:hover, header .mainMenu-menu:focus, header .mainMenu-menu.mobile-menu-open {
    color:#333
}

.mainMenu-menu .icon-th-menu {
    font-size:24px
}

header .page-tools {
    position:relative;
    padding: 0 20px 0;
}
@media only screen and (min-width:992px) {
    header .page-tools  {
        border-top-width:0
    }
}

@media (min-width: 768px) and (max-width: 991px) {  
    header .sharing-social-container {
        right: 66px;
        top: 15px;
        position: absolute;
    }
}

@media only screen and (min-width:992px) {
    header .sharing-social-container, header .resize-tools-container, header .sharing-container {
        position:absolute;
        right:15px;
        top:0;
        text-align:right
    }

    header .sharing-social-container {
        z-index: 2;
        right: 310px;
        overflow: hidden;
        width: 76px;
        height: 30px;
        top: 31px;
    }

    header .resize-tools-container {
        right:0;
    }

    .no-js .resize-tools-container {display:none!important;}
    .no-js .sharing-container {right:-10px}
    
    .accessible-list { font-size:1.3em; font-size:1.3rem}
    .js .accessible-list {margin-top:-8px}
    .accessible-list li {display:inline-block;}
    .accessible-list li input {
        border-width: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0);
        display: inline-block;
        line-height: 1.4;
        vertical-align: baseline;
        margin: -0.1em 0 0 7px;
        color:#767676;
        font-size:1.3em; font-size:1.3rem;
        text-decoration:none;
        
    }

    .js .accessible-list .btnTextIncrease {
        font-weight:700;
        font-size: 1.4em;
        margin-top: 0;
        line-height: 1;
    }

    .js .accessible-list .btnTextDecrease {
        font-size:1.1em; font-size:1.1rem;
    }

    .accessible-list li input:hover, .accessible-list li input:focus {
        color: #222;
        text-decoration:underline;
    }

    .accessible-list li.high-contrast input {
        display:inline-block;
        border-left:1px solid #AAA;
        padding-left:10px;
        margin-left:10px;
        font-weight:700;
        color:#5a5a5a;
        text-decoration:none;
        border-radius:0;
    }
    .accessible-list li.high-contrast input:hover, .accessible-list li.high-contrast input:focus {
        text-decoration:underline;
        color: #222;
    }
}


/* shareList */
@media only screen and (max-width:767px) {
    footer .shareList {
        margin:0 auto;
        width:110px;
    }
}


header .sharing-social-container .shareList {
    margin:0; padding:0;
    font-size:24px
}

@media only screen and (min-width:992px) {
    .sharing-social-container .shareList, .shareList  {
        font-size:16px;
        margin-left:0
    }
}

.shareList li {
    float:left;
    display:inline-block;
    padding:0 0 0 16px;
    overflow:hidden;
}

aside .shareList li {padding:0 0 0 20px;}

@media only screen and (min-width:768px) {
    aside .shareList li {padding:0 0 0 8px;}
}

@media only screen and (min-width:992px) {
    aside .shareList li {padding:0 0 0 20px;}
}

.genericContent .shareList li {
    padding:0 0 0 20px
}

.shareList li.first {
    padding:0
}

.shareList a {
    text-decoration:none;
}
.shareList a:hover, header .shareList a:focus {
    text-decoration:none;
}

.shareList i {
    display:block;
    background-color:#333;
    color:#FFF;
    border-radius:30px;
    line-height:30px;
    height:30px;
    width:30px;
    text-align:center;
    font-size:18px;
}

.shareList .shareList--pageLinks i {
    border-radius:50px;
    line-height:50px;
    height:50px;
    width:50px;
    font-size:26px;
}

/* overwriting Pinterest Code */
.shareList a[data-pin-log="button_pinit_bookmarklet"] {
    background: $pinterest-color url(sprite.png) no-repeat 12px -28px!important;
    background-size: 122px 70px!important;
    border-radius:50px!important;
    line-height:50px!important;
    height:50px!important;
    width:50px!important;
    cursor: pointer !important;
}

.shareList a[data-pin-log="button_pinit_bookmarklet"]:hover,
.shareList a[data-pin-log="button_pinit_bookmarklet"]:focus {
    background-color:darken($pinterest-color, 10%)!important;
}

.shareList .shareList--pageLinks i.icon-email {font-size:32px}

/* Desktop Sizing */
@media only screen and (min-width:992px) {
    .shareList .shareList--pageLinks i {
        border-radius:58px;
        line-height:58px;
        height:58px;
        width:58px;
        font-size:28px;
        margin-bottom:5px; /* added to equalize height of the item below */
    }

    .shareList a[data-pin-log="button_pinit_bookmarklet"] {
        background: $pinterest-color url(sprite.png) no-repeat 14px -25px!important;
        background-size: 122px 70px!important;
        border-radius:58px!important;
        line-height:58px!important;
        height:58px!important;
        width:58px!important;
    }
    .shareList .shareList--pageLinks i.icon-email {font-size:36px}
}
.shareList i.icon-facebook {background-color:$facebook-color}
.shareList i.icon-twitter {background-color:$twitter-color}
.shareList i.icon-youtube {background-color:$youtube-color}
.shareList i.icon-pinterest {background-color:$pinterest-color}
.shareList i.icon-email {background-color:$email-color}

footer .shareList a:hover, footer .shareList a:focus {border-bottom-color:transparent}

.shareList a:hover i.icon-facebook, .shareList a:focus i.icon-facebook {
    background-color:darken($facebook-color, 10%);
}
.shareList a:hover i.icon-twitter, .shareList a:focus i.icon-twitter {
    background-color:darken($twitter-color, 10%);
}
.shareList a:hover i.icon-youtube, .shareList a:focus i.icon-youtube {
    background-color:darken($youtube-color, 10%);
}
.shareList a:hover i.icon-pinterest, .shareList a:focus i.icon-pinterest {
    background-color:darken($pinterest-color, 10%);
}
.shareList a:hover i.icon-email, .shareList a:focus i.icon-email {
    background-color:darken($email-color, 10%);
}

/* Pinterest overwrites here */

/* /Pinterest overwrites here */

header .container {
    padding:0
}

/* search tools */
.search-form {
    padding:16px 20px 20px 20px;
    position:relative;
    clear:both;
}

.mobileMenu .search-form {
    padding:0
}

@media (min-width: 768px) and (max-width: 991px) {  /* S2 fixes */
    nav.mainMenu {
        position:relative;
    }
}

@media only screen and (min-width:992px) {
    .search-form {
        position:absolute;
        width:302px;
        padding:0 0 0 10px;
        top:28px; right:0;
        z-index:1;
    }
}

.search-form .searchLabel {
    display:none;
    color:#666;
}

/*reset search */
.search-form input[type=submit], .search-form input[type="text"].ps-input {
    margin:0; padding:0;
    color:$text-color;
    height:60px;
    float:left;
    border-width:0;
    background:darken($panel-background, 12);
    border-radius:0;
    box-shadow:none;
    -webkit-box-shadow:none;
}


.search-form input[type=submit] {
    width:15%;
    text-align:center;
    line-height:60px; height:60px;
    background: darken($panel-background, 12) url(sprite.png) no-repeat 10px 22px;
    background-size: 122px 70px;
} 

.search-form input[type="text"].ps-input {
    display:inline-block;
    width:85%;
    /*height:60px;*/
    padding:0 0 0 22px;
    font-weight:600;
    font-size:1.4em;
    font-size:1.4rem;
    vertical-align:middle;
}

/* Stop Zoom on text - iOS ... makes sure text is over the treshold */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .search-form input[type="text"].ps-input {
        font-size: 16px;
    }
}



@media only screen and (min-width:620px) {
   .search-form input[type=submit] {
        width:10%;
    } 

    .search-form input[type="text"].ps-input {
        width:90%;
    } 
}

@media only screen and (min-width:820px) {
   .search-form input[type=submit] {
        width:9%;
    } 

    .search-form input[type="text"].ps-input {
        width:91%;
    } 
}  

@media only screen and (min-width:992px) {
    .search-form input[type=submit], .search-form input[type="text"].ps-input {
        height:36px;
    }

    .search-form input[type=submit] {
        border-radius: 0 2px 2px 0;
        width:20%;
        /*line-height:36px;*/
        background-position:24px 9px;
        vertical-align:middle;
    } 

    .search-form input[type="text"].ps-input {
        border-radius: 2px 0 0 2px;
        width:80%;
        /*line-height:34px;*/
        padding:0 0 0 15px;
        font-size:1.6em;
        font-size:1.6rem;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
        border-color:transparent!important;
        vertical-align:middle;
    }
}
/* update the placeholder text*/
.search-form input[type="text"].ps-input::-webkit-input-placeholder {opacity:1;color: #3A3A3A}
.search-form input[type="text"].ps-input:-moz-placeholder {opacity:1; color: #3A3A3A}
.search-form input[type="text"].ps-input::-moz-placeholder {opacity:1; color: #3A3A3A}
.search-form input[type="text"].ps-input:-ms-input-placeholder {color: #3A3A3A}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {  
    header .mainMenu-btn {
        margin-top:15px;
    }
    
    header .mainMenu ul li a {
        padding-top:10px;
    }
    
    header .mainMenu ul li.first {
        margin-left:30px;
    }

    .header-message {
        margin-top:12px;
        font-size:30px;
        line-height:30px;
    }
    
    header .mainMenu-home img, header .mainMenu-menu img {
        height:46px;
        margin-top:-1px
    }
        
}

@media (min-width:992px) {
    header .home-icon {
        display:none;
    }
    
    header .mainMenu-home img, header .mainMenu-menu img {
        height:48px;
    }

    header .mainMenu-menu {
        display:none
    }
}

/* ==========================================================================
   Website Background image
   ========================================================================== */

/*
Show nothing on mobile

... default image for others? or load via JS? or Device Dependant thingy?
... for now assume handled via the CMS and include inline images 

*/
@media (min-width:768px) {
    .background-image {
        min-height:550px;
        background:transparent url(background-demo-1.jpg) no-repeat center;
        background-size:1130px 550px;
    }
    .background-mask {}
}

@media (min-width:992px) {
    .background-image {
        min-height:730px;
        background-size:1500px 730px;
    }
    .background-mask {
        height: 320px;
        margin: -320px 0 0 0;
        background:transparent url(background-carousel-home.svg) repeat;
    }
    .lt-ie9 .background-mask {background:transparent url(background-carousel-home.png) no-repeat;}
}


/* ==========================================================================
   Website Footer
   ========================================================================== */

footer {
    color:#CCC;
    border-top:0;
    background-color:#3a3a3a;
    padding:35px 0 45px;
    font-size:1em;
}

@media only screen and (min-width:992px) {
    footer {
        width:992px;
        margin:0 auto 50px;
        padding-bottom:0;
    }
}

footer .container {
    padding:0 12px 20px;
}
@media only screen and (min-width:768px) {
    footer .container {
        padding:0 20px 20px;
    }
}

@media (min-width: 992px) {
    footer .container {
        padding:20px 40px 20px;
    }
}    

footer .container .grid {
    padding-top: 40px;
}

footer a {color:#CCC; text-decoration:none;}
footer a:hover, footer a:focus {
    color:#CCC;
    text-decoration:underline;
}

@media only screen and (min-width:768px) {
    footer a[href^="tel:"] {cursor:default}
    footer a[href^="tel:"]:hover, footer a[href^="tel:"]:focus {text-decoration:none}
}

footer h2 {
    font:400 2.4em/1 'Lato', sans-serif;
    font-size:2.4rem;
    margin:0;
    padding: 0 0 20px;
    color:#FFF;
    
}

footer h2.toggler {
    color:#FFF;text-align:center;display:block;cursor:pointer
}

@media (min-width: 768px) {

    footer h2.toggler {cursor:default}
    footer .toggled { /*reset*/
        display:block;
    }
}

@media (min-width: 992px) {
    footer h2.toggler { font-size:3em; font-size:3rem}
} 

footer h3 {
    font:400 1.6em/1 'Lato', sans-serif;
    font-size:1.6rem;
    margin: 0 0 18px 0;
    padding:0 0 18px 0;
    text-transform:uppercase;
    letter-spacing: 0.0625em;
    color:#FFF;
    border-bottom:2px solid #4d4d4d
}

footer h4 {
    font:700 1.5em/1 'Cabin', sans-serif;
    font-size:1.5rem;
    color:lighten($text-color, 54%)
}

/*footer p {
    font-size:1.4em;font-size:1.4rem;
}*/

footer h2 + .toggled > p {
    text-align:center
}

.getTouch {
    overflow:hidden;
    clear:both;
    
}
.getTouch_introduction, .getTouch_introduction p  {
    font-size:1.5em;font-size:1.5rem;margin-bottom:0;
    text-align:center;
}

.getTouch .toggled {
    padding-top:20px
}

.getTouch_introduction a {
    text-decoration:underline;
}

.getTouch_introduction a:hover, .getTouch_introduction a:focus {
    text-decoration:none;
}

footer ul, footer ul li ul{
    margin:0;
    padding:0;
    font-size:1em;font-size:1.4rem
}

 footer ul li {
    list-style:none;    
    margin:0 0 20px;
    padding:5px 0 0;
}

i.icon-location {
    font-size: 1.6em; font-size: 1.6rem;
    margin-left: -3px;
}

.visitUs p, .writeUs p, .talkUs p {font-size:1.4em; font-size:1.4rem}

@media (min-width: 768px) and (max-width: 991px) {
    .talkUs {
        clear:left;
    }
    .writeUs {
        clear:right;
    }

    .writeUs_address {
        margin-bottom:1em
    }
}

.writeUs_email .icon-email, .talkUs .icon-phone {
    font-size:1.5em; 
    line-height:0;position:relative;vertical-align:baseline ;
    bottom:-.25em;
    text-decoration:none;
}

.writeUs_email a:hover, .writeUs_email a:focus {
    text-decoration:none
}

.writeUs_email a:hover span, .writeUs_email a:focus span {
    text-decoration:underline
}

.x-large .writeUs_email span, .large .writeUs_email span {
    float:left;
    width:100%;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

footer ul li li{
    padding: 0 0 25px;
    margin:0    
}

.reportList li {
    padding-bottom:6px
}

.lt-ie9 footer ul li li {font-size:1.4em}
.lt-ie9 footer ul li li h3 {font-size:1em}

.signOff {
    position:relative;
    border-top:1px solid #4d4d4d;
    margin:0 -12px;
    padding: 24px 12px 0;
    color:#bdbdbd
}

@media (max-width: 767px) {
    .js .signOff-first {
        display:none;
    }

    .toggle-container.active + .signOff .signOff-first {
        display:block;
    }
}

.x-large .signOff-first, .large .signOff-first {
    width:75%
}


@media (min-width: 768px) {
    .signOff {
        margin:0 -20px;
    }
}

@media (min-width: 992px) {
    .signOff {
        margin:0;
        padding:20px 0;
    }
}

.signOff ul {
    overflow:hidden;
    margin-bottom: 5px
}
.signOff li {
    display:inline-block;
    font-size:1.3em; font-size:1.3rem;
    line-height:1;
    padding:0 10px 0 0;
    margin: 0 10px 8px 0;
    border-right: 1px solid #CCC;
}

@media (max-width: 767px) {
    .signOff li {
        padding: 0 6px 0 0;
        margin: 0 3px 8px 0;
    }
}    

.signOff li.last {border-right-width:0;padding: 0;margin-right: 0}
.signOff li a {display:inline-block; color:#bdbdbd}
.signOff li.last a { border-right-width:0;}

.shareList {text-align:center}

footer .shareList li {
    margin:0; padding:0 0 0 10px; border-right-width:0
}

footer .shareList li img {max-width:30px}

@media (min-width: 768px) {
    footer .shareList {
        position:absolute;
        right:20px; top:24px;
    }  
}
@media (min-width: 992px) {
    footer .shareList {
        right:0; top:24px;
    }
}

/* ==========================================================================
   Site Index
   ========================================================================== */

.introduction {
    position:relative;
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

@media (min-width: 992px) {
    .introduction {
        width:992px;
    }
}    


.landing-statement {
    display:none
}

.landing-statement p {
    margin:0;padding:20px;
    color:#FFF;
    border-bottom:4px solid #004a71;
    border-bottom-color:rgba(0,74,113,0.79);
    text-transform:capitalize;
}

.landing-statement p a {
    display:block;
    margin:-20px;
    color:#FFF;
    text-decoration:none
}

.landing-statement p a:hover, .landing-statement p a:focus {
    background-color:$primary-color;
}
@media (min-width: 768px) {
    .landing-statement {
        display:block;
        width:306px;
        margin:146px 20px 30px;
        background-color:#484848;
        background-color:rgba(72,72,72,0.79);
        border-radius:2px;
        overflow:hidden;
        clear:both;
    }

    .landing-statement p {font:300 2.7em/1.4em 'Lato'; font-size:2.7rem}

    .landing-statement p a {
        padding:15px;
        width:306px;
        height:147px;
    }
}
@media (min-width: 992px) {
    .landing-statement {
        width:418px;
        margin:187px 0 44px;
    }

    .landing-statement p {
        font:300 39px/1.3em 'Lato';
        height:177px; display:block;
        padding:10px 20px;
    }

    .landing-statement p a {
        margin:-10px -20px;
        padding:10px 20px;
        width:418px;
        height:177px;
    }
}

/* opening block */

.opening-block {
    background:#EEE url("background-image-home.jpg") no-repeat left top
}

.opening-block.grid {
    margin:0 -20px;
    border-bottom: 2px solid #FFF;
}

/* Your Monash */
[class*=col-].yourMonash {
    padding:20px;
}

@media (min-width: 768px) {
    [class*=col-].yourMonash {
        padding:35px 45px 26px;
    }
}

@media (min-width: 992px) {
    [class*=col-].yourMonash {
        padding:45px 50px 26px;
    }

    .yourMonash .col-lg-6.street-address {
        padding-left:0;
        padding-right:2%;
    }
    .yourMonash .col-lg-6.my-suburb {
        padding-left:2%;
        padding-right:0;
    }
}

.yourMonash h2 {
    font-size:2em;font-size:2rem;
    font-weight:400;
    margin:0 0 20px;
} 

.yourMonash h2 i {display:none}

@media (min-width: 768px) {
    .yourMonash h2 {
        position:relative;
        font-size:2.4em;font-size:2.4rem;
        line-height:1.3;
        padding-left:48px;
        margin-bottom:20px;
    } 

    .yourMonash h2 i {
        display:block;
        position:absolute;
        left: -5px;
        top: 8px;
        color: #3989B2;
        font-size: 2.0em;
    }

    .x-large .yourMonash h2 i {display:none}
} 

@media (min-width: 992px) {
    .yourMonash h2 {
        font-size:2.7em;font-size:2.7rem;
        padding-left:85px;
        margin-bottom:50px;
    } 

    .yourMonash h2 i {
        top: -4px;
        font-size: 2.7em;
    }
} 

.yourMonash .button {
    width:100%
}

.yourMonash.seForm input[type="text"] {
    margin-bottom:1.5em;
    width:100%;
}

@media (min-width: 992px) {
    .yourMonash.seForm input[type="text"] {
        margin-bottom:2.5em;
        width:100%;
    }
    .yourMonash .button {
        margin-top:5px;
    }
}

.yourMonash select { /* for mobile devices */
    margin-bottom:20px;
    width:100%
}

.yourMonash .field-row {
    position:relative
}    

.yourMonash.seForm label {
    font-size:1.6em; font-size:1.6rem;
    font-weight:700;
    margin-bottom:0.5em
}

@media (max-width: 991px) {
    .street-address, .my-suburb {
        padding:0!important;
    }

    .yourMonash.seForm .street-address input[type="text"] {
        margin-bottom:1em
    }

    .yourMonash.seForm input.button {
        margin-bottom:0
    }
}    

@media (min-width: 992px) {
    .yourMonash.seForm input.button {
        margin-top:0
    }
}

/* Frequent Items */
[class*=col-].frequent-item { /*is this going to work for IE? */
    list-style:none;
    margin:0; padding:0;
    font-size:1.6em; font-size:1.6rem
}

@media (min-width: 768px) {
    .frequent-item li {
        padding-right:20px;
    }

    [class*=col-].frequent-item {
        margin:33px 0
    }
}
@media (min-width: 992px) {
    .frequent-item li {
        padding-right:30px;
    }
}

.frequent-item li.first {
    border-radius:2px 2px 0 0;
}

.frequent-item li a {
    display:block;
    color:#FFF;
    padding:17px 24px 15px 23px;
    background-color: $primary-color-light;
    border-bottom:1px solid #4388ac;
    text-decoration:none
}

@media (min-width: 768px) and (max-width: 991px) {
    .frequent-item li a {
        padding:19px 10px 17px 22px;
    }    
}    

.frequent-item li a:hover, .frequent-item li a:focus {
    background-color: #016193
}

.frequent-item li a img {
    width:24px;
    margin-right:14px;}

.fav-hasImage .icon-fav-delivery, .fav-hasImage .icon-fav-planning, .fav-hasImage .icon-fav-book, .fav-hasImage .icon-fav-discount, 
.fav-hasImage .icon-fav-events, .icon-join, .fav-hasImage .icon-fav-location, .fav-hasImage .icon-fav-music, 
.fav-hasImage .icon-fav-payment, .fav-hasImage .icon-fav-renew, .fav-hasImage .icon-fav-request, .fav-hasImage .icon-fav-support, 
.fav-hasImage .icon-fav-touch, .fav-hasImage .icon-fav-waste {
    display:none;
}

.icon-fav-delivery, .icon-fav-planning, .icon-fav-book, .icon-fav-discount, 
.icon-fav-events, .icon-join, .icon-fav-location, .icon-fav-music, 
.icon-fav-payment, .icon-fav-renew, .icon-fav-request, .icon-fav-support, 
.icon-fav-touch, .icon-fav-waste {
    display: inline-block;
    position: relative;
    line-height: .8em;
    bottom:-2px;
    font-size: 20px;
    width: 24px;
    margin-right: 14px;
}


/* Events */
.home .events {
    position:relative;
    padding:23px 0 20px;
    margin:0 -20px;
}

@media (min-width: 768px) {
    .home .events {margin:0 -10px; padding-top:43px}
}    

@media (min-width: 992px) {
    .home .events {margin:0 10px;}
}    

.events .img-crop {
    float:none;
    width:270px;
    height:175px;
    margin-right:0
}

/*.events .img-crop img {
    max-height:175px
}*/

.home .events h2 {
    font: 400 2.4em/1 'Lato', Arial, sans-serif;
    font-size:2.4rem;
    margin:0 20px 0 13px;
}

@media (min-width: 768px) {
    .home .events h2 {
        font: 400 2.6em/1 'Lato', Arial, sans-serif;
        font-size:2.6rem;
        margin-left:15px
    }
}

@media (min-width: 992px) {
    .home .events h2 {
        margin-left:18px
    }
}

.home .events ul {
    list-style:none;
    margin:10px 0 0 0;    
}

@media (min-width: 768px) {
    .home .events ul {
        overflow:hidden;
    }
}    

.home .events li a {
    display:block; 
    position:relative;
    min-height: 110px;
    padding:10px 15px; 
    /*overflow:hidden;*/
    color:$text-color;
    text-decoration:none;
    
}

.home .events li a > div.columnEqualizer_content {
    width:100%; /* ie 10 fix */
}

@media (min-width: 768px) {
    .home .events li a {padding:15px;}
}

@media (min-width: 992px) {
    .home .events li a {padding-bottom:30px;}
}

.home .events li a:hover, .home .events li a:focus {
    background-color:$panel-highlight;
}

.home .events li h3 {
    font-size:1.8em; font-size:1.8rem;
    font-weight:700;
    margin:0 0 0 98px
}

@media (min-width: 768px) {
    .home .events li h3 {margin:25px 0 15px 98px}
}

.home .events li p { font-size:1.6em; font-size:1.6rem}

@media (min-width: 768px) {
    .home .events li img {width:270px}
}

@media (min-width: 768px) and (max-width: 991px) {
    .home .events li {
        width:50%;
        float:left;
    }

    .home .events li h3 { margin:0 0 15px 105px }
    .home .events li p { margin:0 0 0 105px }
    .home .events li.first h3, .home .events li.first p {  margin-left:0 }
    .home .events li.first h3 {margin-top:25px}    
}

.home .events .button.small {
    display:block;
    float:none;
    width: 90%;
    margin: 15px auto 0;
}

@media (min-width: 768px) {
    .home .events .button.small {
        position:absolute;
        right: 20px;
        top: 45px;
        width:auto;
        margin:0
    }
}


@media (min-width: 992px) {
    .home .events li h3 {margin:25px 0}
    .home .events li p {margin:0}

    .home .events li {
        display: table-cell;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 5px;
        width:33.3333%;
    }
}

/* Home Secondary Grey Panel */

.secondary-container.grid {
    background-color:#EEE;
    margin: 0 -20px
}
.secondary-container.grid > [class*=col-] {
    padding:0;
}

.no-js .secondary-container.grid {
    padding-bottom: 50px
}

@media (min-width: 768px) {
    .secondary-container.grid {
        padding:0 20px 50px;
    }
    .no-js .secondary-container.grid {
        padding-bottom: 140px
    }
}
@media (min-width: 992px) {
    .secondary-container.grid {
        padding: 0 50px 50px;
    }

    .no-js .secondary-container.grid {
        padding-bottom: 50px
    }
}

.secondary-container h2 {
    font: 700 1.8em/1 'Lato', Arial, sans-serif;
    font-size:1.8rem;
    margin:35px 20px 20px 15px;
    color:#545454
}

@media (min-width: 768px) {
    .secondary-container h2 {
        font-size:2em; font-size:2rem;
        margin-left:0;
        margin-top:50px;
    }
    .secondary-container.grid > .weSpeak {padding-right:15px}
    .secondary-container.grid > .ourOther {padding-left:15px}
}
@media (min-width: 992px) {
/*    .secondary-container h2 {
        
    }*/

    .secondary-container.grid > .news {padding-right:15px}
    .secondary-container.grid > .haveSay {padding-left:15px}
}
.weSpeak {clear:left}

@media (min-width: 768px) {
    .weSpeak .box.box {padding: 25px 30px;} 
}

.x-large .secondary-container h2, .large .secondary-container h2 { font-size:1.8em; font-size:1.8rem}

@media (min-width: 768px) {
    .weSpeak h2, .ourOther h2 {
        margin: 50px 0 20px;
    }
}

.secondary-container .box {
    background-color:#FFF;
    padding:15px;
    position:relative;
}

.secondary-container .news .box, .secondary-container .haveSay .box, .secondary-container .ourOther .box {
    padding:10px 0;
}

@media (max-width: 767px) {
    .weSpeak.weSpeak, .ourOther.ourOther {
        padding-left:0;
        padding-right:0;
    }
}

@media (min-width: 768px) {
    .secondary-container .news .box, .secondary-container .haveSay .box, .secondary-container .ourOther .box {
        padding:15px;
    }
}

.home .secondary-container .button.small {
    display:block;
    width: 90%;
    margin: 15px auto;
    float:none
}

@media (min-width: 768px) {
    .home .secondary-container .button.small {
        display:inline-block;
        position:absolute;
        right: 0;
        top: -24px;
        width:auto;
        margin:0;
        border-radius: 2px 2px 0 0;
    }

    .x-large .home .secondary-container .button.small, .large .home .secondary-container .button.small {
        top:-100px;
    }
}

.home .news ul, .home .haveSay ul, .home .ourOther ul {
    list-style:none;
    margin:0;padding:0;
    font-size:1.6em; font-size:1.6rem;
    width:100%; /* ie10 fix */
}

/*.home .news li, .home .haveSay li {
    border-top:1px solid #DDD;
}*/

.home .news li:before, .home .haveSay li:before {
    content:' ';
    display:block;
    height:0;

    clear:both;
    margin:0 15px;
    border-top:1px solid #DDD;
}

.home .news li.first:before, .home .haveSay li.first:before {
    border-top-width:0;
}

.home .news li a, .home .haveSay li a {
    display:block; position:relative;
    padding:10px 15px; 
    margin-top:10px;
    overflow:hidden;
    color:$text-color;
    text-decoration:none;
}

@media (min-width: 768px) {
    .home .news li a, .home .haveSay li a {
        padding:15px;
    }
}

.home .news li.first a, .home .haveSay li.first a {
    margin-bottom:10px;
    margin-top:0;
}

.home .news li a:hover, .home .news li a:focus,
.home .haveSay li a:hover, .home .haveSay li a:focus {
    background-color:#e9f1f5
}

.home .news li h3, .home .haveSay li h3 {
    font-size:1.6em; font-size:1.6rem;
    font-weight:600;
    color:$primary-color
}

.home .news li p, .home .haveSay li p {
    margin-bottom:0;
    font-size:1.6em; font-size:1.6rem
}

/* news has image */
@media (min-width: 768px) {
    .news li.has-image h3, .news li.has-image p {
        margin-left:95px;
        margin-top:-.25em
    }
}

.home .haveSay li p.haveSay--description {
    margin-bottom:1em
}

.home .haveSay li p.haveSay--details {
    font-size:1.5em; font-size:1.5rem;
    display: table;
}

.home .haveSay li p em {
    display: table-cell;
    padding-right: 0;
}

.home .haveSay li p em.comment-date {
    display: table-cell;
    padding: 0 2.5em 0 1.5em;
    white-space: nowrap;
}

.x-large .home .haveSay li p em, .large .home .haveSay li p em,
.x-large .home .haveSay li p em.comment-date, .large .home .haveSay li p em.comment-date {
    display:block;
    padding:0;
}

.haveSay .icon-date, .haveSay .icon-comment {
    color: #BBB;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    padding-right: 0.3em;
    margin-left: -1.5em;
}

@media (max-width: 767px) {
   .home .ourOther {
        margin-bottom:50px
   } 
} 



.home .ourOther a {
    display:block;
    padding:8px 10px;
    text-decoration:none;
    color:$text-color;
    overflow:hidden;
}

.home .ourOther a:hover, .home .ourOther a:focus {
    color:$primary-color
}

.ourOther .icon-link {
    color:#BBB;
    font-size: 1.3em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
    padding-right:0.25em;
}

.home .weSpeak a {
    color:$text-color;
    text-decoration:none;
}

.home .weSpeak a:hover, .home .weSpeak a:hover {
    color:$primary-color
}

  

/* ==========================================================================
   Internal Pages
   ========================================================================== */
/* main content */

#main-content.internal {
    padding:0 0 30px;
    z-index:0
}

.no-js #main-content.internal {
        padding-bottom: 90px
}

@media (min-width: 992px) {
    #main-content.internal {
        border-radius: 2px 2px 0 0;
        overflow:hidden;
        margin-top:-649px;
        padding:0 0 70px;
    }

    .no-js #main-content.internal {
        padding-bottom: 130px
    }
}

#main-content.internal > div.grid {margin:0 10px}

@media (min-width: 992px) {
    #main-content.internal > div.grid {margin:0 20px}
}    
/* breadcrumbs */

.internal .page-tools {
    clear:both;
    width:100%;
    overflow:hidden;
    padding:20px 30px 18px 15px; margin:0 0 30px;
    background-color:$panel-background;
} 

@media (min-width: 768px) {
    .internal .page-tools {padding-left:20px }
} 

@media (min-width: 992px) {
    .internal .page-tools {padding-left:30px;width:992px;}
}   

.breadcrumbs{position:relative;list-style:none;font-size:1.4em; font-size:1.4rem;margin:0;padding:0}
.breadcrumbs > *{float:left;margin:0}
.breadcrumbs li {line-height:1.1em; margin-right:0.5em}
.breadcrumbs li:after{content:'/'}
.breadcrumbs li:last-child:after{content:''}
.breadcrumbs a{text-decoration:none;margin-right:.5em;}
.breadcrumbs a:hover,.breadcrumbs a:focus{text-decoration:underline}

@media (min-width: 992px) {
    .breadcrumbs {font-size:1.5em; font-size:1.5rem;}
}    


/* general content */

.internal h1, .internal_H1 {
    border-bottom: 2px solid $panel-background;
    padding-bottom: 0.75em;
    line-height: 1.2em;
}

.fake_H1 { 
    /* ... o_O ... */
    font-size:3.2em;font-size:3.2rem;font-weight:400;
    @extend .internal_H1;
    margin-bottom:.77em
}

.lastUpdated {
    display:block;
    clear:both;
    font-size:1.5rem; font-size:1.5em;

}

/* Landing pages
   ========================================================================== */

.landingPage {
    display:block;
    overflow:hidden; clear:both;
    margin:2em -30px 1em 0;
}

.landingPage_item {
    float:left;
    display:block;
    width:100%;
    list-style:none;
    padding-right:30px
}

@media (min-width: 768px) {
    .col-lg-8 .landingPage_item {width:50%}
}

@media (min-width: 768px) {
    .col-m-12 .landingPage_item {width:50%}
}

@media (min-width: 992px) {
    .col-m-12 .landingPage_item {width:33.33333%}
} 

.landingPage_item a {
    display: block;
    width:100%;
    padding: 20px 15px;
    margin-bottom:25px;

    min-height:240px;
    text-decoration:none;
    background-color:$panel-background;
}

@media (min-width: 768px) {
    .landingPage_item a {
        margin-bottom:30px;
        padding: 25px 20px;
    }
}

.landingPage_item--withImage a {
    min-height:380px
}

.landingPage_item a:hover,
.landingPage_item a:focus { background-color:$panel-highlight}

.landingPage_item a .landingPage_image {
    margin:-25px -20px 20px;
    height:144px;
    overflow:hidden;
}

.landingPage_image img {
    width:100%;
}

.landingPage_item a h2 {
    font-weight:600; 
    font-size:2em; font-size:2rem;
    color: $primary-color;
    margin:0 0 .75em 0;
}

.landingPage_item a p {
    color: $text-color;
    margin-bottom:0;
    font-size:1em; font-size:1.5rem
}


/* ==========================================================================
   Request form page
   ========================================================================== */



.error-message {
    color:#BF2C37;
    padding-top:1em;
    display:none
}

.error-message.active {
    display:block
}

.error-message a {
    color:#BF2C37;
}


/* Feedback and Subscribe */
.pageSubscribe .seForm, .pageFeedback .seForm {padding-bottom:10px}