// /* ==========================================================================
//    MIXINS
//    ========================================================================== */
// /*    mixins or extend: 
//     http://roytomeij.com/blog/2013/should-you-use-a-sass-mixin-or-extend.html 
// */


/* custom mixins */
@mixin gradient($start, $end) {
    background: $start; 
    background: -moz-linear-gradient(top, $start 0%, $end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end));
    background: -webkit-linear-gradient(top, $start 0%,$end 100%);
    background: -o-linear-gradient(top, $start 0%,$end 100%);
    background: -ms-linear-gradient(top, $start 0%,$end 100%);
    background: linear-gradient(to bottom, $start 0%,$end 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 )
}

@mixin border-radius($radius) {
    border-radius:$radius;
    background-clip: padding-box;
}

@mixin box-sizing($sizing) {
    -moz-box-sizing: $sizing;
    -webkit-box-sizing: $sizing;
    box-sizing: $sizing;
}

/* placeholders */
%webfont-seamless {
    font-family:'seamless-ui';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform: none;line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}


%button-placeholder {
    position: relative; display: inline-block; cursor: pointer;
    font:bold 1em Arial, sans-serif;
    margin-left:10px;height:32px;line-height:30px;padding:0 15px;min-width:95px;
    text-decoration: none; text-align: center; 
    /*@include border-radius(3px);
    @include transition(background-color 300ms ease-out);*/
}

%input-placeholder {
    display: block; width: 100%;
    font-family: inherit;font-size: 1em;
    border: 1px solid darken($input-bg,25%);
    /*@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 2px inset);*/
    margin: 0 0 2.5em 0;  padding: 0.6em 0.5em;
    background-color: $input-bg;
    /*@include transition-property(box-shadow, border-color);
    @include transition-duration(2s);
    @include transition-timing-function(ease-in);
    @include border-radius(2px);*/
}

%icon-placeholder {
    @extend %webfont-seamless;
    line-height:2em;
    min-width:2em;height:2em;
    margin:0 0 0 0.25em;padding:0;
    border:1px solid $link-color;
    /*@include border-radius(3px);*/
    color:$link-color;
    background-color:$body-bg;
    text-align:center;
    /*@include transition-property(color, border-color);
    @include transition-duration(300ms);*/
}