/* ==========================================================================
   Navigation
   ========================================================================== */



/* Push menu
   ========================================================================== */
.sb-active .sb-site-container {
    border-right:1px solid #FFF;
} 
@media only screen and (min-width:768px) {
    .sb-active .sb-site-container {
        border-right-width:0
    }
}


/* General styles for all menus */
.mobileMenu {
    background: $primary-color-light;
} 
@media only screen and (min-width:768px) {
    .mobileMenu {
    }
}

.mobileMenu ul {margin-left:0; clear:both}

/* show hide sub menus */
.mobileMenu ul ul {
    position: static;
    display: none;
}

.mobileMenu ul .mobileMenu-child--active > ul {
    display: block;
}

.mobileMenu-child--active .icon-angle-down:before, .toggle-container.active .icon-angle-down:before {
    content: "\e609";
}

.mobileMenu .icon-angle-down {
    position: absolute;
    right: 5px; top: 8px;
    width: 40px; padding-left:10px;
    height: 30px;
    z-index: 1000;
    cursor: pointer;
    font-size: 32px;
    line-height: 25px;
    color:#3da7de;
}

.mobileMenu-child--active .icon-angle-down {
    color:#b2d7ea;
}
/*icon-angle-down*/


/* Level 1 */
.mobileMenu ul a {
    display: block;
    color: $reverse-color;
    text-decoration:none;
    border-bottom: 1px solid #4388AC;
    padding: .75em 1em .75em 1.5em;
}

.no-touch .mobileMenu ul a:hover, .mobileMenu ul a:focus,  .mobileMenu ul a:focus  {
    color: $reverse-color;
    background:darken($primary-color-light, 5%);
}

.mobileMenu ul a:active {

}

/* Level 2 */
.mobileMenu li li a {
    display: block;
    background: $primary-color;
    padding-left: 3.5em;
    border-bottom: 1px solid lighten($primary-color, 5%);
}
.no-touch .mobileMenu li li a:hover, .mobileMenu li li a:focus,  .mobileMenu li li a:focus  {
    background:darken($primary-color, 5%);
}

.mobileMenu li {
    position:relative;
    font-size:1.4em; font-size:1.4rem
}
.mobileMenu li li {
    font-size:1.3em; font-size:1.3rem
}

@media only screen and (min-width:768px) {
    .mobileMenu li {
        font-size:1.6em; font-size:1.6rem
    }
    .mobileMenu li li {
        font-size:1.5em; font-size:1.5rem
    }
}



/* Main menu
   ========================================================================== */
.mainMenu_list { 
    position:absolute;
    bottom:-41px;
    text-align: left;
    margin:0;
    padding:0;
    width:992px;
    outline:none;
    background-color:darken($text-color, 5%);
    @include border-radius(0 0 2px 2px);
}
.mainMenu_list li { 
    display:inline-block;
    position:relative;
    margin:0; padding:0;  
    vertical-align:top; 
    list-style-type:none; 
    font-size:1.4em; font-size:1.4rem;
}
/* 1st level */
.mainMenu_list > li > a {
    display:inline-block;
    width:155px;
    height:$nav-height; line-height:$nav-height;
    color: $reverse-color; 
    text-decoration:none;
    text-align:center;
    box-shadow: inset -1px 0 0 darken($text-color, 10%);
    border-right:1px solid #535353;
    font-size:14px;  
}

.mainMenu_list > li.mainMenu_list--home > a {
    width:62px;
    @include border-radius(0 0 0 2px);
}

.mainMenu_list > li.mainMenu_list--last > a {
    box-shadow: none;
    border-right-width:0;
    @include border-radius(0 0 2px 0);
}

.mainMenu_list > li:hover > a, 
.mainMenu_list > li > a:focus,
.js .mainMenu_list > li.hiHover > a { 
    background:$primary-color-light; 
    color: $reverse-color; 
    margin-top:0; 
    border-bottom-width:0;
    line-height: $nav-height;height: $nav-height;
    } /* jumping through a few hoops to hide from IE8 + JS */

.mainMenu_list > li.nav-active-path > a {
    border-bottom:3px solid #4296BA;

}

/* layout */
nav.mainMenu li div.dropdown { 
    position:absolute;
    display:table;
    left:0;top:-999em;
    z-index:999;
    width:620px;
    color:#FFF;
    background:$primary-color-light;
    -webkit-box-shadow: 0 5px 4px rgba(0,0,0,.2); 
    box-shadow: 0 5px 4px rgba(0,0,0,.2);
    @include border-radius(0 0 2px 2px);
}

.mainMenu_list li .dropdown .nav-item-container {
    background:$primary-color-light;
    display: block; width: 100%; 
    padding: 0 0 10px 0
}

nav.mainMenu li div.dropdown.dropdown--noCustom {
    width:310px;
}

.mainMenu_list li.nav-item-seq-5 div.dropdown,
.mainMenu_list li.nav-item-seq-6 div.dropdown,
.mainMenu_list li.nav-item-seq-7 div.dropdown {
    left:auto;right:0
}
.mainMenu_list li div.dropdown > div {
    display:table-cell;
    position:relative;
    width:50%;
    padding:15px;
}

.mainMenu_list li div.dropdown > div.nav-item-seq-1 {
    padding-right:11px
}

.mainMenu_list li div.dropdown.dropdown--noCustom > div.nav-item-seq-1 {
    padding-right:15px
}

.mainMenu_list li div.dropdown > div.nav-item-seq-2 {
    padding-top:20px
}

/* Hover if:
1. JS is turned off
2. Has Focus
3. Depends on the JS class hiHover (hover intent)*/
.no-js .mainMenu_list li:hover div.dropdown,
.mainMenu_list li:focus div.dropdown,
.js .mainMenu_list li.hiHover div.dropdown {
    top:$nav-height;
}

/* 2nd Level */
.mainMenu_list li ul a {
    display:inline-block;
    text-decoration:none;
    text-align:left;
    box-shadow: none;
    padding: .6em 1em;
    width: 100%;
    color:$reverse-color;
    border-bottom: 1px solid lighten($primary-color-light, 5%);
}

.mainMenu_list li ul .mainMenu_list--last a {
    border-bottom-width:0
}

.mainMenu_list li ul a:hover, .mainMenu_list li ul a:focus {
    background-color:$primary-color
} 

.mainMenu_list li ul {
    text-align: left; margin-left:0;
}
.mainMenu_list li li { 
    width:100%;float:left
}

.mainMenu_list li div.nav-items-2 li { 
    margin-left:0;float:none;
}

/* custom items in secondary panel */

.mainMenu_list--custom img {
   width:285px;
   border: 3px solid #dbe4e8; 
}

.mainMenu--light .mainMenu_list--custom {
    background-color:#3489b5;
}

.mainMenu_list li div.dropdown > div.mainMenu--light {
/*    float:none;
    position:absolute;
    left:50%;
    vertical-align:top;
    height:100%;*/
    vertical-align:top;
    display:table-cell;
    position:relative;
    padding:20px 15px 15px;
}

.mainMenu_list--custom, .mainMenu_list--custom td {
    vertical-align:top;
}

.mainMenu_list--custom table img,
.mainMenu_list--custom table.menuCustomTable img {
   width:80px;
   margin:0 18px 0 0;
   border: 3px solid #dbe4e8!important; 
}

.mainMenu_list--custom p {
    margin-bottom:0
}

.mainMenu_list--custom br {
    display:none
}

/* over write the below colours in the main CSS - _navigation.scss */
.mainMenu_list .menuCustomTable tr {
    border-bottom: 2px solid #4594bf
}

.mainMenu_list .menuCustomTable tr:last-child {
    border-bottom-width:0
}

.mainMenu_list .menuCustomTable td { padding:20px 0}

.mainMenu_list .menuCustomTable tr:first-child td {padding-top:0}

.menuCustomTable h5, .menuCustomTable h4 {
    font-size:1.8em;font-size:1.8rem;
    line-height:1;
    margin-top:-.1em;
    font-weight:600;
}
.menuCustomTable h5 a, .menuCustomTable h4 a {
    color:$reverse-color;
    text-decoration:none
}
.menuCustomTable h5 a:hover, .menuCustomTable h4 a:hover,
.menuCustomTable h5 a:focus, .menuCustomTable h4 a:focus,
.menuCustomTable p a:hover, .menuCustomTable p a:focus, { 
    text-decoration:underline
}

.menuCustomTable p {
    color:$reverse-color;
    font-weight:600;
    font-size:1.4em;font-size:1.4rem;
}

.menuCustomTable p a {color:$reverse-color; text-decoration: none;}


/* Logout button */
.logout-button input[type="submit"], .logout-button--mobile input.button {
    @extend .seForm_button--secondary;
    height: 1.85em;
    line-height: 1.85em;
    font-size: 1.3em;
    font-size: 1.3rem;
    padding: 0 0.75em;
    text-transform: capitalize;
    position: relative;
    margin-left: 11px;
    top: -3px;
    width:auto;
}

@media (min-width: 992px) {
    .logout-button input[type="submit"] { top:1px;}
}    

.logout-button--mobile input.button {
    position:absolute;
    top: 19px;
    right: 60px;
}
@media (min-width: 768px) {
    .logout-button--mobile input.button {
        right: 161px;
    }
}

/* Side Menu
   ========================================================================== */

@media (min-width: 992px) {
    /*#sidebar {width:277px}*/
    .col-lg-8.genericContent {padding-left:0}

    #sidebar {margin-bottom:20px;}

    nav h2 { font:400 2.2em/1.2 'Lato', sans-serif; font-size:2.2rem; color:#FFF; margin:0; padding:12px 0 12px 25px; background-color:#006ea7}
    nav ul.side-menu,nav ul.side-menu ul{list-style:none;background:#FFF;margin:0;padding:0}
    nav ul.side-menu{margin-bottom:0; font-size: 1.5em; font-size: 1.5rem}
    nav ul.side-menu li{border-top:2px solid #FFF; background-color:$panel-background}
    nav ul.side-menu li a{color:$text-color;display:block;padding:12px 10px 12px 25px; text-decoration:none;}
    nav ul.side-menu li li > a {padding-left:45px; position:relative;}
    nav ul.side-menu li.nav-active-page > a {background-color:#e8e8e8}
    nav ul.side-menu li li.nav-active-page > a {background-color:#e8e8e8}
    nav ul.side-menu li li li.nav-active-page > a {background-color:#e8e8e8}
    nav ul.side-menu li li li.nav-active-path > a {background-color:#e8e8e8}
    nav ul.side-menu li li > a:before{position:absolute;top:50%;left:9px;margin-top:-10px;content:'';width:20px;height:20px;background-position:-357px -156px}
    nav ul.side-menu li li li > a {padding-left:65px}
    nav ul.side-menu li li li > a:before {content:none}
    nav ul.side-menu li.first a{border-top:0}
  
    nav ul.side-menu li a:hover, nav ul.side-menu li a:focus,
    nav ul.side-menu li li.nav-active-page > a:hover, nav ul.side-menu li li li.nav-active-page > a:hover,  nav ul.side-menu li li li.nav-active-path > a:hover,
    nav ul.side-menu li li.nav-active-page > a:focus, nav ul.side-menu li li li.nav-active-page > a:focus,  nav ul.side-menu li li li.nav-active-path > a:focus {color:#FFF; background-color:#717171 }
}


/* Predictive search
   ========================================================================== */
.predictive-results { display:none} /* hide for mobile */

@media only screen and (min-width:768px) {
    .predictive-results { display:block;clear:both;}

    .predictive-results ul {background-color:$reverse-color; margin:0}
    
    .predictive-results a {
        display:block; 
        padding:20px; 
        color:$text-color!important; text-decoration:none; 
        border-color:darken($panel-background, 20%)!important;
        background-color:darken($panel-background, 5%);
    }
    .predictive-results a.itemSelected, .no-touch .predictive-results a:hover,.predictive-results a:focus {
        background-color:$panel-highlight!important;
    }
    .predictive-results h3 { 
        font:600 1.8em 'Cabin', Arial, sans-serif;
        font-size: 1.8rem;
        margin:0 0 10px; 
    }
    .predictive-results p {margin:0; font-size:1.5em; font-size:1.5rem}
    .predictive-results li.view-more-container {border-width: 0}
    .predictive-results  a.view-more {
        display:block;
        color:$reverse-color!important;
        background:$button-bg-secondary;
        padding:5px 15px; 
        text-align:center;
        font:400 1.6em/2.5 'Lato', Arial, sans-serif;
        font-size:1.6rem;
        border-bottom-width:0;
        border-radius:0;
    }
   .predictive-results a.view-more.itemSelected, .predictive-results a.view-more:hover, .predictive-results a.view-more:focus {
        text-decoration:none;
        background-color:$text-color!important;
        color:$reverse-color!important
    }

    .predictive-results .search-loading, .predictive-results .no-results {
        padding:5px 15px;
        font-size:1.5em;font-size:1.5rem;
        background-color:$reverse-color;
        color:#666;
    }
}

@media only screen and (min-width:992px) {
    .predictive-results {
        position:absolute;
        top:39px;
        z-index:9999;
        width: 292px;
        margin-left: 0;
        -webkit-box-shadow: 0 5px 4px rgba(0,0,0,.2);
        box-shadow: 0 5px 4px rgba(0,0,0,.2);
    }
    .predictive-results h3 { font-family:'Cabin', Arial, sans-serif }
    .predictive-results li {border-bottom:1px solid #e5e5e5}
    .predictive-results a {
        padding:15px 20px; 
        background-color:$reverse-color;
    }
    .predictive-results  a.view-more {
        border-radius:0 0 2px 2px;
        font-size:1.8em;
        font-size:1.8rem;
    }
}