/* ==========================================================================
   PRINT
   ========================================================================== */


.header_printOnly {
    display:none;
}


@media print {
    /* Reset
   ========================================================================== */
    *{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}
    a,a:visited{text-decoration:underline}
    pre,blockquote{border:1px solid #999;page-break-inside:avoid}
    /*thead{display:table-header-group}*/
    tr,img{page-break-inside:avoid}
    img{max-width:100%!important}
    @page{margin:.5cm}
    p,h2,h3{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}

    /* Header
   ========================================================================== */
   .header_printOnly {
        position:relative;
        display:block;
        clear:both;
        height:70px;
        margin-bottom:1cm
   } 

   .header_printOnly--logo {
        width: 6cm;
        margin:.5cm;
   } 

   .header_printOnly--copyright {
        position:absolute;
        right:.5cm;
        top:.5cm;
        text-align:right;
   } 

   

    /* Fixes/Overwrites
   ========================================================================== */    
    /*hide*/
    header, footer, aside, .call-out-box, .skip, .seamless-pagination, .related-container, .search-tools-container, #back-to-top, .shareLinks, .pageFeedback, .pageSubscribe, .item-navigation, .tabbedArea, .icon-arrow-down, .panelList_imageCrop--right, .switchView,  .show-for-medium-down.frequent-item,  .mobileMenu, .relatedLinks, .seamless-flowplayer, .searchSort { 
        display:none!important
    }

    .background-image, .background-mask {
        display:none!important
    }

    .home a.button, .yourMonash, .home .events .img-crop, .home .events.show-for-medium, .home .events.show-for-small-down  {
        display:none!important    
    }
    .home .events li p { margin-left:98px}
    .home .events li a {min-height:0}

    .home .columnEqualizer_cell h2 {top:0;position:relative; margin:0!important}

    /*show*/
    .toggleMobileContainer_toggled, .home .landing-statement {
        display:block!important
    }

    /*fix*/
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        width: 100%; 
        padding:0
    }

    .image-container img {width:auto!important}

    .internal .page-tools{margin-bottom:0}

    #sb-site {min-height:0!important}

    #main-content.internal {margin-top:0!important; padding:0;}

/*    .genericPanel .gmap, .genericPanel .map-canvas.gmap-container, .genericPanel .gmap-target {
        display:block!important;
        width:auto!important;
        height:auto!important;
    }

    .gm-style .gmnoprint, .gmnoprint {    display:block!important  }*/
}  
