/* ==========================================================================
   SPRITE
   ========================================================================== */

.search-form input[type=submit],.button-previous input, .button-next input, .simple-pagination li a.prev:before, 
.simple-pagination li a.next:before, .seForm_rows--textboxSearch input[type="text"] {
    display: block; overflow: hidden;  background: transparent url(sprite.png) no-repeat;
    background-size: 122px 70px; 
}

/* sprite to hide text */
.search-form input[type=submit],.button-previous input, .button-next input  {text-indent: 102%; white-space: nowrap}

/* less than IE9 */
.lt-ie9 .search-form input[type=submit], .lt-ie9 .button-previous input, .lt-ie9 .button-next input,
.lt-ie9 .simple-pagination li a.prev:before, .lt-ie9 .simple-pagination li a.next:before,  
.lt-ie9 .seForm_rows--textboxSearch input[type="text"] {
    background-image: url(sprite-IE8.png);
}