// /* ==========================================================================
//    VARIABLES
//    ========================================================================== */

// /*
// Style notes:
// Starting to switch BEM - hence the mix of case.

// All new items to use BEM format
// */


// /*colors*/
$primary-color:#045c89;
$primary-color-light:#0070aa;
$primary-color-vlight:#d7e7f0;
$primary-color-light-rgb:rgb(0,112,170);
$primary-color-dark:#016193;

$reverse-color:#FFF;
$page-color:#FFF;

$body-bg:#FFFFFF;
$link-color:$primary-color;
$link-hover:darken($primary-color, 20%);
$text-color: #424242;
$panel-background: #F8F8F8;
$panel-highlight: #e9f1f5;

///*forms*/
$button-bg:#6A6A6A;
$button-bg-highlight:$primary-color-light;
$button-color:#FFFFFF;
$button-bg-secondary:#707070;
$button-color-secondary:$text-color;
$button-bg-tertiary:#dadada;
$button-color-tertiary:#717171;

$input-bg:#FFFFFF;
$input-color:$text-color;


///* success/fail */
$success-color:#5CB84C;
$error-color:#ce3f13;

///* social icons */
$facebook-color:#1864c2;
$twitter-color:#0097c3;
$youtube-color:#cf3427;
$pinterest-color:#cc2127;
$email-color:#717171;

///* Measurements */
$nav-height:41px;