/*  fonts
 *************************************************************************************/

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Bold.eot');
    src: url('Cabin-Bold.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Bold.woff') format('woff'),
         url('Cabin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-SemiBold.eot');
    src: url('Cabin-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('Cabin-SemiBold.woff') format('woff'),
         url('Cabin-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.eot');
    src: url('Cabin-Regular.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Regular.woff') format('woff'),
         url('Cabin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Italic.eot');
    src: url('Cabin-Italic.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Italic.woff') format('woff'),
         url('Cabin-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('Lato-Light.woff') format('woff'),
         url('Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bold.woff') format('woff'),
         url('Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('Lato-Regular.woff') format('woff'),
         url('Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/* Webfonts
   ========================================================================== */
@font-face {
    font-family: 'seamless-ui';
    src:url('seamless-ui.eot?20140620-1502');
    src:url('seamless-ui.eot?#iefix20140620-1502') format('embedded-opentype'),
        url('seamless-ui.woff?20140620-1502') format('woff'),
        url('seamless-ui.ttf?20140620-1502') format('truetype'),
        url('seamless-ui.svg?20140620-1502#seamless-ui') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'seamless-ui';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     text-rendering:auto;
}

.icon-fav-delivery:before {
    content: "\e637";
}
.icon-fav-planning:before {
    content: "\e619";
}
.icon-fav-book:before {
    content: "\e621";
}
.icon-fav-discount:before {
    content: "\e62c";
}
.icon-fav-events:before {
    content: "\e62d";
}
.icon-fav-join:before {
    content: "\e62e";
}
.icon-fav-location:before {
    content: "\e62f";
}
.icon-fav-music:before {
    content: "\e630";
}
.icon-fav-payment:before {
    content: "\e631";
}
.icon-fav-renew:before {
    content: "\e632";
}
.icon-fav-request:before {
    content: "\e633";
}
.icon-fav-support:before {
    content: "\e634";
}
.icon-fav-touch:before {
    content: "\e635";
}
.icon-fav-waste:before {
    content: "\e636";
}

.icon-email:before {
    content: "\e601";
}
.icon-phone:before {
    content: "\e612";
}
.icon-fax:before {
    content: "\e61e";
}
.icon-marker:before {
    content: "\e613";
}
.icon-link:before {
    content: "\e615";
}
.icon-comment:before {
    content: "\e617";
}
.icon-date:before {
    content: "\e618";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-minus:before {
    content: "\e602";
}
.icon-plus:before {
    content: "\e603";
}
.icon-pinterest:before {
    content: "\e604";
}
.icon-facebook:before {
    content: "\e61f";
}
.icon-twitter:before {
    content: "\e606";
}
.icon-arrow-right:before {
    content: "\e607";
}
.icon-angle-down:before {
    content: "\e608";
}
.icon-angle-up:before {
    content: "\e609";
}
.icon-arrow-left:before {
    content: "\e60a";
}
.icon-print:before {
    content: "\e60b";
}
.icon-uniE60C:before {
    content: "\e60c";
}
.icon-arrow-right-c:before {
    content: "\e610";
}
.icon-arrow-left-c:before {
    content: "\e600";
}
.icon-flag:before {
    content: "\e614";
}
.icon-youtube:before {
    content: "\e60d";
}
.icon-instagram:before {
    content: "\e622";
}
.icon-flickr:before {
    content: "\e623";
}
.icon-tumblr:before {
    content: "\e624";
}
.icon-googleplus:before {
    content: "\e625";
}
.icon-feed:before {
    content: "\e626";
}
.icon-info:before {
    content: "\e627";
}
.icon-th-menu:before {
    content: "\e620";
}
.icon-arrow-down:before {
    content: "\e60c";
}
.icon-arrow-up:before {
    content: "\e60e";
}
.icon-tick:before {
    content: "\e62b";
}
.icon-fullscreen:before {
    content: "\e60f";
}
.icon-close:before {
    content: "\e638";
}
.icon-user:before {
    content: "\e61c";
}
.icon-earth:before {
    content: "\e629";
}
.icon-tag:before {
    content: "\e616";
}
.icon-map:before {
    content: "\e61a";
}
.icon-list:before {
    content: "\e61b";
}
.icon-home:before {
    content: "\e611";
}
.icon-warning:before {
    content: "\e605";
}
.icon-location:before {
    content: "\e61d";
}
.icon-facility:before {
    content: "\e628";
}
.icon-bin:before {
    content: "\e62a";
}    