/* ==========================================================================
   Widgets - 3RD PARTY CSS
   ========================================================================== */

/* Chosen
   ========================================================================== */
/*

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

*/

/* @group Base */
.chosen-container {
  position: relative;
    display: block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
    margin-top:0.5em
}

.add-to-calendar .chosen-container {
  margin-bottom:1.5em
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 23px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0!important;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none;
  font-size:1.4em; font-size:1.4rem;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices { /*updated*/
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 3px;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid lighten($input-color, 55%);
    background-color: $input-bg;
    border-radius:2px;
    
    -webkit-box-shadow: inset 0 1px 2px rgba(black, 0.1);
    box-shadow: inset 0 1px 2px rgba(black, 0.1);

    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;transition: 
    box-shadow 0.45s, border-color 0.45s ease-in-out;
    -webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    -webkit-appearance: none;
    cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
  font-size:1.4em; font-size:1.4rem;
  width:auto;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] { /* updated*/
    margin: 1px 0;
    padding: 3px;
    /*  height: 15px;*/
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: $text-color;
    line-height: normal;
    border-radius: 0;
}

/* fix for default Select Some Options item */

.chosen-container-multi input[value="Select Some Options"] {
    width: 11em!important;
}

.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 0 0 4px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: $text-color;
  line-height: 13px;
  font-size:1.4em; font-size:1.4rem;
  cursor: default;
}
.seForm .chosen-container-multi .chosen-choices li.search-choice {
  margin-right:2px
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single { /* updated */
  border: 1px solid rgba($primary-color, 0.8);
  box-shadow: inset 0 1px 1px rgba(black, .075), 0 0 8px rgba($primary-color, 0.2);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid rgba($primary-color, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */

/* over writes */
/* @group Base */
.yourMonash .chosen-container {
    margin-bottom:20px;
    margin-top:0;
}

@media (min-width: 992px) {
    .yourMonash .chosen-container { margin-bottom:32px}
}

.yourMonash .chosen-container .chosen-drop {
    border-width: 0;
    background: #DCDCDC;
}


/* @end */
/* @group Single Chosen */
.yourMonash .chosen-container-single .chosen-single {
    height: 32px;
    border-radius: 2px;
    background: #DCDCDC;
    color: $text-color;
    line-height: 32px;
    border-width: 0;
    box-shadow: none;
}

.yourMonash .chosen-container-single .chosen-single span {
    font-size:1.4em; font-size:1.4rem
}

@media (min-width: 768px) {
    .yourMonash .chosen-container-single .chosen-single span {
      font-size:1.5em; font-size:1.5rem
  }
}

.yourMonash .chosen-container-single .chosen-single div {
    width: 32px;
    background-color:#CACACA

}
.yourMonash .chosen-container-single .chosen-single div b {
    display: block; position:absolute;
    top: 13px;
    right: 11px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #717171;
}

.yourMonash .chosen-container-single.chosen-with-drop .chosen-single div b {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #717171;
    border-top: 0px solid #717171;
}

.yourMonash .chosen-container-single .chosen-drop {
    border-radius: 0 0 2px 2px;
}

/* @end */
/* @group Results */




.yourMonash .chosen-container .chosen-results li {
    padding: 8px 6px;
    list-style: none;
    font-size:1.4em; font-size:1.4rem;
}

@media (min-width: 768px) {
    .yourMonash .chosen-container .chosen-results li {
      font-size:1.5em; font-size:1.5rem;
  }
}

.yourMonash .chosen-container .chosen-results li.highlighted {
    background: #016193;
    color: $reverse-color;
}

/* @end */

/* @group Active    */
.yourMonash .chosen-container-active .chosen-single {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.yourMonash .chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: #cacaca;
}
.yourMonash .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}
.yourMonash .chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* @end */



/* qTip2 
   ========================================================================== */
/*
 * qTip2 - Pretty powerful tooltips - v2.2.0
 * http://qtip2.com
 *
 * Copyright (c) 2014 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Sun Mar 16 2014 12:44 EDT-0400
 * Plugins: tips
 * Styles: None
 */
.qtip{
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;

    max-width: 280px;
    min-width: 50px;
    
/*    font-size: 10.5px;
    line-height: 12px;*/

    direction: ltr;

    box-shadow: none;
    padding: 0;
}

    .qtip-content{
        position: relative;
        padding: 12px 15px 15px;
        overflow: hidden;

        text-align: left;
        word-wrap: break-word;
    }

    .qtip-titlebar{
        position: relative;
        padding: 5px 35px 5px 10px;
        overflow: hidden;

        border-width: 0 0 1px;
        font-weight: bold;
    }

    .qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

    /* Default close button class */
    .qtip-close{
        position: absolute;
        right: -9px; top: -9px;

        cursor: pointer;
        outline: medium none;

        border-width: 1px;
        border-style: solid;
        border-color: transparent;
    }

        .qtip-titlebar .qtip-close{
            right: 4px; top: 50%;
            margin-top: -9px;
        }
    
        * html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

        .qtip-titlebar .ui-icon,
        .qtip-icon .ui-icon{
            display: block;
            text-indent: -1000em;
            direction: ltr;
        }

        .qtip-icon, .qtip-icon .ui-icon{
            border-radius: 3px;
            text-decoration: none;
        }

            .qtip-icon .ui-icon{
                width: 18px;
                height: 14px;

                line-height: 14px;
                text-align: center;
                text-indent: 0;
                font: normal bold 10px/13px Tahoma,sans-serif;

                color: inherit;
                background: transparent none no-repeat -100em -100em;
            }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default{
/*    border-width: 1px;
    border-style: solid;
    border-color: #F1D031;*/
    line-height:1.2;
    border-radius:2px;

    background: $primary-color-light-rgb;
    background: $primary-color-light;
 
    border: 1px solid transparent;
    border: 1px solid rgba(255,255,255,0);

    color: $reverse-color;
}

    .qtip-default .qtip-titlebar{
        /*background-color: #FFEF93;*/
    }

    .qtip-default .qtip-icon{
        border-color: #CCC;
        background: $primary-color-light-rgb;
        background: $primary-color-light;
        color: #777;
    }
    
    .qtip-default .qtip-titlebar .qtip-close{
        border-color: #AAA;
        color: #111;
    }



.qtip .qtip-tip{
    margin: 0 5px;
    overflow: hidden;
    z-index: 10;
}

@media only screen and (min-width:768px) {
        .qtip .qtip-tip{
            margin: 0 20px;
        }
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip{
    visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas{
    position: absolute;

    color: #123456;
    background: $primary-color-light-rgb;
    background: $primary-color-light;
    border: 0 dashed transparent;
}

.qtip .qtip-tip canvas{ top: 0; left: 0; }

.qtip .qtip-tip .qtip-vml{
    behavior: url(#default#VML);
    display: inline-block;
    visibility: visible;
}

.qtip-content .info-text p {margin-bottom:0}

/* sticky-sidebar
   ========================================================================== */
/* http://spoiledmilk.com/blog/sticky-sidebar/ */

#sidebar.sticky { float: none; position: fixed; top: 84px; z-index: 6; left: auto; width:295px }

/* FancyBox
   ========================================================================== */
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *     http://www.opensource.org/licenses/mit-license.php
 *     http://www.gnu.org/licenses/gpl.html
 */

/*
 * 
 * NOTE
 *
 * Stripped out old corner rounding stuff
 * Commented out a lot of images
 * Few fixes added (Monash fixes)
 * 
 */

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('fancybox.png');
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
    /* Monash fixes */
    @include box-sizing(content-box);
    min-height: 240px;
    min-width: 240px;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: $reverse-color;
    /* Monash fixes */
    @include border-radius(2px);
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0px solid $reverse-color;
    /* Monash fixes */
    @include box-sizing(content-box);
    @include border-radius(2px);
    
    min-height: 200px;
    min-width: 200px;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
}

#fancybox-close {
    position: absolute;
    top: 20px; right: 20px;
    width: 85px; height: 29px;
    background: $reverse-color;
    cursor: pointer;
    z-index: 1103;
    display: none;
    padding: 5px 0 0 12px;
    font-size: 1.3em;
    font-size: 1.3rem;
    color: $text-color;
    text-decoration: none;
    line-height: 0;
    border-radius: 0 0 0 2px;
}

#fancybox-close .icon-close {
    color: lighten($text-color, 25%);
    margin-left: 12px;
    font-size: 24px;
    line-height: 0;
    position: relative;
    top: 6px;
}

#fancybox-close .icon-close:hover {
    color: lighten($text-color, 15%);
}

#fancybox-error {
    padding: 14px;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    z-index: 1102;
    display: none;
}
/* Monash fix */
#fancybox-left {
    left: 0;
}

#fancybox-right {
    right: 25px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 65px;
    height: 65px;
    margin-top: -57px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}


/* Monash fix - replacing images with webfont */
#fancybox-left-ico:before, #fancybox-right-ico:before {
    font-family: 'seamless-ui';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size:72px;
    color:rgb(255,255,255);
    color:rgba(255,255,255,0.5);
}

#fancybox-left-ico:before {
    content: "\e600";
}

#fancybox-right-ico:before {
    content: "\e610";
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
    left: 25px;
}

#fancybox-right:hover span {
    left: auto;
    right: 15px;
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancybox-title {
    z-index: 1102;
    margin-top:-13px;
    overflow:hidden;
    min-width: 200px;
}

.fancybox-title-inside {
    position: relative;
}

/* Monash fixes */
#tip-title {
    margin-top: 0em;
    height: 2.5em;
    margin-bottom: 1.35em;
}

.fancybox-title-inside b {
    font-weight:normal;
}

.fancybox-title-inside i {
    float: right;
    font-style:normal;
    font-size:1.4rem;
    margin-top: 2em;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: $reverse-color;
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $reverse-color;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('fancy_title_over.png');
    display: block;
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
}

#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
}

#fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {

    line-height: 29px;
    padding: 0 0 3px 0;
    background: url('fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('fancybox.png') -55px -90px no-repeat;
}

.fancybox-ie .fancybox-bg { background: transparent !important; }



/* -----------------------------------
 * Slidebars
 * Version 0.10.2
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */

html, body, #sb-site, .sb-site-container, .sb-slidebar {
  /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #mainForm {
  width: 100%;
  overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
  height: 100%; /* Site is as tall as device. */
}

body, #mainForm {
  min-height: 100%;
  height: auto;
  /*position: relative;*/ /* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden;
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site-container {
  /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
  width: 100%;
  position: relative;
  z-index: 10; /* Site sits above Slidebars */
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  top: 0;
  z-index: 0; /* Slidebars sit behind sb-site. */
  display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  background-color: #3b3b3b; 
  -webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
  left: 0; /* Set Slidebar to the left. */
}

.sb-right {
  right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
  display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-slidebar.sb-style-overlay {
    z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
}

/* BD- Simplified code here */
.sb-slidebar {
    width: 85%;
}

.sb-width-thin {
    width: 55%;
}

.sb-width-wide {
    width: 85%;
}


@media (min-width: 480px) { /* Slidebar width on small screens. */
    .sb-slidebar {
        width: 85%;
    }
    
    .sb-width-thin {
        width: 55%;
    }
    
    .sb-width-wide {
        width: 85%;
    }
}

@media (min-width: 768px) { /* Slidebar width on small screens. */
    .sb-slidebar {
        width: 65%;
    }
    
    .sb-width-thin {
        width: 40%;
    }
    
    .sb-width-wide {
        width: 70%;
    }
}

@media (min-width: 992px) { /* Slidebar width on medium screens. */
    .sb-slidebar {
        width: 0%;
        display:none; /* Hide it */
    }
    
    .sb-width-thin {
        width: 0%;
    }
    
    .sb-width-wide {
        width: 0%;
    }
}


/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
     -moz-transition: -moz-transform 400ms ease;
       -o-transition: -o-transform 400ms ease;
          transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
  -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
    display: none; /* May be applied to control classes when Slidebars is disabled over a certain width. */
}

.not-fixed .sb-slidebar {
  position:absolute;
}

.not-fixed .sb-slidebar .search-form,
.not-fixed .sb-slidebar ul {
  width:100%
}

/* Tabs - Organic Tab code
   ========================================================================== */

.tabbedArea, .mobileVersion_tabbedArea {margin-bottom:30px}
.tabbedArea .genericArea {margin-bottom:0}

@media (min-width:768px) {
    .tabbedArea {
      padding-top: 30px;
    }

    .hidden-tabs {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .js .tabArea {background-color:$panel-background;}

    .tabArea h2.non-js-element {
        margin:0;
        padding:1em 0;
        background-color:$page-color
    }

    .tabArea h2.non-js-element:first-child {
        padding-top:0
    }

    /* Tabs */
    .tabList {
        list-style:none;
        margin:0;
        overflow:hidden;
    }
    .tabList_item {
        display:inline-block;
        font-weight:600;
        font-size:1.6em; font-size:1.6rem;
        line-height: 1.25;
        width:25%;
        vertical-align:middle;
        border-right:2px solid $page-color;
  
    }
    .tabList_item:last-child {
        border-right-width:0;
    }

    .tabList_item a {
      display:table-cell;
      width:152px;  /* sad panda */
      padding:15px 10px;
      line-height: 1.25;
      color:$text-color;
      text-decoration:none;
      vertical-align:middle;
      text-align:center;
      background-color:darken($panel-background, 5%);
    }

    .col-xs-12 .tabList_item a{
      width:170px;  /* sad panda */
    }

    .col-lg-12 .tabList_item a{
      width:229px;  /* sad panda */
    }

    .tabList_item.addHeight a {height:70px}
    .tabList_item.addExtraHeight a {height:90px}

    .tabList_item a:hover,.tabList_item a:focus,.tabList_item a.current {
        background-color:$panel-background;
    }

    .tabArea_item img { width:100%}
}

/* Jquery UI
   ========================================================================== */

.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-spinner { position:relative; display: inline-block; overflow: hidden; padding: 0; vertical-align: middle; }
.ui-spinner-input { border: none; background: none; padding: 0; margin: .2em 0; vertical-align: middle; margin-left: .4em; margin-right: 22px; }
.ui-spinner-button { width: 16px; height: 50%; font-size: .5em; padding: 0; margin: 0; text-align: center; position: absolute; cursor: default; display: block; overflow: hidden; right: 0; }
.ui-spinner a.ui-spinner-button { border-top: none; border-bottom: none; border-right: none; } /* more specificity required here to overide default borders */
.ui-spinner .ui-icon {  /* vertical centre icon */
    position: absolute;
    margin-top: -6px;
    top: 50%;
    left: 0;
    font-size: 10px;
    }
.ui-spinner-up { top: 0; }
.ui-spinner-down { bottom: 0; }


.ui-dialog .sc-cal-row .ui-spinner {
    position: relative;
    margin-top: 5px;
    bottom: -5px;
    padding: 3px 5px;
    border: 1px solid lighten($input-color, 55%); 
    background-color: $input-bg;
    border-radius:2px;

    -webkit-box-shadow: inset 0 1px 2px rgba(black, 0.1);
    box-shadow: inset 0 1px 2px rgba(black, 0.1);

    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;transition: 
    box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* Overlays */
.ui-widget-overlay { 
    background: #777; 
    opacity: .7;
    position:absolute; 
    top:0;
    left:0;
}


/* jquery ui - overwrite */
.ui-dialog {
    background: $reverse-color;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    border:1px solid #666
}

.ui-dialog-titlebar, .ui-widget-header {
    margin:0;
    background: $primary-color-light!important;
}

.ui-dialog-title {
    display:block;
    font: 400 2.2em/1.2 'Lato', sans-serif;
    font-size: 2.2rem;
    color: $reverse-color;
    margin: 0;
    padding: 15px 20px;
    border-radius:2px 2px 0 0
    
}

.ui-dialog-titlebar-close {
    color:$reverse-color;
    float:right;
    font-size:1.2em; font-size:1.2rem;
    margin-top: -35px;
    margin-right: 20px;
}

.ui-dialog-titlebar-close:focus, .ui-dialog-titlebar-close:hover {
    color:$reverse-color;
}

.ui-dialog-content {
    padding:15px 15px 20px;
}

.sc-cal-dialog .ui-dialog-buttonpane {
    overflow:hidden;
}

.ui-dialog .ui-dialog-buttonpane {
  border-width:0!important
}

/* Date Picker
   ========================================================================== */

.sc-cal .sc-cal-tab li {border-color:#DDD!important}

.scpicker > .add-on {width:25px;}

div.ui-dialog.sc-cal-dialog .btn {
    @extend .seForm_button--tertiary;
    background-image:none;
    text-shadow:none;
}

div.ui-dialog.sc-cal-dialog .btn-success {
    @extend .seForm_button;
    background-color: $primary-color-light!important;
    color:$reverse-color!important;
}

div.ui-dialog.sc-cal-dialog .btn-success:hover, div.ui-dialog.sc-cal-dialog .btn-success:focus {
    background-color: $primary-color-dark!important;
    color:$reverse-color!important;
}

.sc-cal-select {
    border-color:#CCC!important
}  