@charset "UTF-8";


/* ========================================================================== MIXINS ========================================================================== */

/*    mixins or extend:  http://roytomeij.com/blog/2013/should-you-use-a-sass-mixin-or-extend.html 
*/

/* custom mixins */

/* placeholders */

/*  fonts ************************************************************************************/

@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Bold.eot");
  src: url("Cabin-Bold.eot?#iefix") format("embedded-opentype"), url("Cabin-Bold.woff") format("woff"), url("Cabin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("Cabin-SemiBold.eot");
  src: url("Cabin-SemiBold.eot?#iefix") format("embedded-opentype"), url("Cabin-SemiBold.woff") format("woff"), url("Cabin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Regular.eot");
  src: url("Cabin-Regular.eot?#iefix") format("embedded-opentype"), url("Cabin-Regular.woff") format("woff"), url("Cabin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Italic.eot");
  src: url("Cabin-Italic.eot?#iefix") format("embedded-opentype"), url("Cabin-Italic.woff") format("woff"), url("Cabin-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("Lato-Light.eot");
  src: url("Lato-Light.eot?#iefix") format("embedded-opentype"), url("Lato-Light.woff") format("woff"), url("Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("Lato-Bold.eot");
  src: url("Lato-Bold.eot?#iefix") format("embedded-opentype"), url("Lato-Bold.woff") format("woff"), url("Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("Lato-Regular.eot");
  src: url("Lato-Regular.eot?#iefix") format("embedded-opentype"), url("Lato-Regular.woff") format("woff"), url("Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Webfonts ========================================================================== */

@font-face {
  font-family: 'seamless-ui';
  src: url("seamless-ui.eot?20140620-1502");
  src: url("seamless-ui.eot?#iefix20140620-1502") format("embedded-opentype"), url("seamless-ui.woff?20140620-1502") format("woff"), url("seamless-ui.ttf?20140620-1502") format("truetype"), url("seamless-ui.svg?20140620-1502#seamless-ui") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'seamless-ui';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.icon-fav-delivery:before {
  content: "\e637";
}

.icon-fav-planning:before {
  content: "\e619";
}

.icon-fav-book:before {
  content: "\e621";
}

.icon-fav-discount:before {
  content: "\e62c";
}

.icon-fav-events:before {
  content: "\e62d";
}

.icon-fav-join:before {
  content: "\e62e";
}

.icon-fav-location:before {
  content: "\e62f";
}

.icon-fav-music:before {
  content: "\e630";
}

.icon-fav-payment:before {
  content: "\e631";
}

.icon-fav-renew:before {
  content: "\e632";
}

.icon-fav-request:before {
  content: "\e633";
}

.icon-fav-support:before {
  content: "\e634";
}

.icon-fav-touch:before {
  content: "\e635";
}

.icon-fav-waste:before {
  content: "\e636";
}

.icon-email:before {
  content: "\e601";
}

.icon-phone:before {
  content: "\e612";
}

.icon-fax:before {
  content: "\e61e";
}

.icon-marker:before {
  content: "\e613";
}

.icon-link:before {
  content: "\e615";
}

.icon-comment:before {
  content: "\e617";
}

.icon-date:before {
  content: "\e618";
}

.icon-uniE600:before {
  content: "\e600";
}

.icon-minus:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\e603";
}

.icon-pinterest:before {
  content: "\e604";
}

.icon-facebook:before {
  content: "\e61f";
}

.icon-twitter:before {
  content: "\e606";
}

.icon-arrow-right:before {
  content: "\e607";
}

.icon-angle-down:before {
  content: "\e608";
}

.icon-angle-up:before {
  content: "\e609";
}

.icon-arrow-left:before {
  content: "\e60a";
}

.icon-print:before {
  content: "\e60b";
}

.icon-uniE60C:before {
  content: "\e60c";
}

.icon-arrow-right-c:before,
a.menuCustomList:before {
  content: "\e610";
}

.icon-arrow-left-c:before {
  content: "\e600";
}

.icon-flag:before {
  content: "\e614";
}

.icon-youtube:before {
  content: "\e60d";
}

.icon-instagram:before {
  content: "\e622";
}

.icon-flickr:before {
  content: "\e623";
}

.icon-tumblr:before {
  content: "\e624";
}

.icon-googleplus:before {
  content: "\e625";
}

.icon-feed:before {
  content: "\e626";
}

.icon-info:before {
  content: "\e627";
}

.icon-th-menu:before {
  content: "\e620";
}

.icon-arrow-down:before {
  content: "\e60c";
}

.icon-arrow-up:before {
  content: "\e60e";
}

.icon-tick:before {
  content: "\e62b";
}

.icon-fullscreen:before {
  content: "\e60f";
}

.icon-close:before {
  content: "\e638";
}

.icon-user:before {
  content: "\e61c";
}

.icon-earth:before {
  content: "\e629";
}

.icon-tag:before {
  content: "\e616";
}

.icon-map:before {
  content: "\e61a";
}

.icon-list:before {
  content: "\e61b";
}

.icon-home:before {
  content: "\e611";
}

.icon-warning:before {
  content: "\e605";
}

.icon-location:before {
  content: "\e61d";
}

.icon-facility:before {
  content: "\e628";
}

.icon-bin:before {
  content: "\e62a";
}

/*  general styles ************************************************************************************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline;
  zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

html {
  font-size: .625em;
}

body {
  font-family: 'Cabin', Arial, sans-serif;
  font-weight: 400;
  color: #424242;
  line-height: 1.4;
  margin: 0;
}

/*font rendering */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #045c89;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #045c89;
  text-decoration: none;
}

h1,
h2,
legend,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 1em;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
}

h1 {
  font-size: 2.3em;
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: .8em;
}

h2,
legend {
  font-size: 2em;
  font-size: 2rem;
  margin-top: 1em;
}

h3 {
  font-size: 1.8em;
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6em;
  font-size: 1.6rem;
  font-weight: 700;
  color: #545454;
}

h5 {
  font-size: 1.6em;
  font-size: 1.6rem;
  color: #545454;
}

h6 {
  font-size: 1.6em;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Cabin', Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2em;
    font-size: 3.2rem;
  }

  h2,
  legend {
    font-size: 2.6em;
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.4em;
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0em;
    font-size: 2.0rem;
  }

  h5 {
    font-size: 2.0em;
    font-size: 2.0rem;
  }

  h6 {
    font-size: 1.8em;
    font-size: 1.8rem;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
  font-weight: 400;
}

blockquote {
  border-left: 1px solid #ddd;
  margin: 0 0 1.11111em;
  padding: .5em 1.11111em 0 1.05556em;
  font-size: 1.6em;
  font-size: 1.6rem;
}

blockquote cite {
  display: block;
  font-size: .85em;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #555;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0 0 1em;
  padding: 0;
  font: 400 1.6em/1.4 "Cabin", Arial, sans-serif;
  font-size: 1.6rem;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dl dt {
  margin-bottom: 0.3em;
  font-weight: 700;
}

dl dd {
  margin: 0 0 1em 0;
}

menu,
ol,
ul {
  padding: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

ul,
ol,
dl {
  line-height: 1.4;
  list-style-position: outside;
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 1.5em;
  font-size: 1.5rem;
}

ul ul,
ul ol,
ul ul,
ol ol {
  font-size: 1em;
}

ul,
ol {
  margin: 0 0 1em 1.3em;
}

ul.no-bullet {
  margin-left: 0;
}

ul.no-bullet li ul,
ul.no-bullet li ol {
  list-style: none;
  margin: 0 0 0 1.25em;
}

ul li ul,
ul li ol {
  margin: 0 0 0 1.25em;
}

ul.no-bullet {
  list-style: none;
}

ol {
  margin: 0 0 1em 1.4em;
}

ol li ul,
ol li ol {
  margin: 0 0 0 1.4em;
}

img,
a img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  text-decoration: none;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  white-space: normal;
  margin-left: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 1.6em;
  font-size: 1.6rem;
  vertical-align: middle;
  margin: 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.data-list-header {
  width: 100%;
  display: table;
}

.pull-right {
  float: right !important;
}

.pull-left,
.left {
  float: left;
}

@media (min-width: 768px) {
  .image-container.pull-left {
    margin: 0 25px 15px 0;
    padding: 0;
  }
}

.no-js .google-map-list,
.no-js .btn_scPagingNonJS_disabled,
.no-js .btn_scPagingNonJS_disabled,
.no-js .scSearchInputBox:disabled,
.no-js .js {
  display: none;
}

.errors,
.errors a {
  color: #ce3f13 !important;
  text-decoration: none;
}

.errors a:hover,
.errors a:focus {
  text-decoration: underline;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

figure,
form {
  margin: 0;
}

.table-styled {
  background: #FFF;
  margin-bottom: 2em;
  width: 100%;
  table-layout: fixed;
}

/* hidden tweaks in layout.css */

.internal .table-styled {
  min-width: 285px;
}

@media (min-width: 768px) {
  .internal .table-styled {
    max-width: 625px;
  }
}

/*tables */

.table-styled thead tr th,
.table-styled thead tr td {
  background: #6d6d6d;
  border-right: 1px solid #FFF;
  font-weight: 600;
  font-size: 1.5em;
  font-size: 1.5rem;
  color: #FFF;
  text-align: left;
  padding: 1em .75em;
}

.table-styled thead tr th p,
.table-styled thead tr td p {
  margin-bottom: 0;
  font-size: 1.5em;
  font-size: 1.5rem;
}

.table-styled thead tr th,
.table-styled thead tr th p {
  font-size: 1.4em;
  font-size: 1.4rem;
}

.table-styled tr th,
.table-styled tr td {
  font-size: 1.4em;
  font-size: 1.4rem;
  padding: .75em 1em;
  background: #f8f8f8;
  border: 2px solid #FFF;
  word-wrap: break-word;
}

.table-styled tr.odd th,
.table-styled tr.odd td {
  background: #f8f8f8;
}

/*docs*/

/*sprites created here: http://instantsprite.com/ */

.relatedLinks a,
a.doc,
a.docx,
a.xls,
a.xlsx,
a.ppt,
a.pptx,
a.pdf,
a.text,
a.txt,
a.rtf,
a.zip,
a.bmp,
a.jpg {
  position: relative;
  padding-left: 1.35em;
  /*wrap nicely*/
  display: inline-block;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

a.doc,
a.docx,
a.xls,
a.xlsx,
a.ppt,
a.pptx,
a.pdf,
a.text,
a.txt,
a.rtf,
a.zip,
a.bmp,
a.jpg {
  text-decoration: none;
}

.relatedLinks a:before,
a.doc:before,
a.docx:before,
a.xls:before,
a.xlsx:before,
a.ppt:before,
a.pptx:before,
a.pdf:before,
a.text:before,
a.txt:before,
a.rtf:before,
a.zip:before,
a.bmp:before,
a.jpg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: transparent url(doc-sprite.jpg) no-repeat right -144px;
}

.lt-ie9 .relatedLinks a:before,
.lt-ie9 a.doc:before,
.lt-ie9 a.docx:before,
.lt-ie9 a.xls:before,
.lt-ie9 a.xlsx:before,
.lt-ie9 a.ppt:before,
.lt-ie9 a.pptx:before,
.lt-ie9 a.pdf:before,
.lt-ie9 a.text:before,
.lt-ie9 a.txt:before,
.lt-ie9 a.rtf:before,
.lt-ie9 a.zip:before,
.lt-ie9 a.bmp:before,
.lt-ie9 a.jpg:before {
  background: transparent url(doc-sprite-ie8.jpg) no-repeat right -144px;
}

a.doc:before,
a.docx:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right 0;
}

a.xls:before,
a.xlsx:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -17px;
}

a.ppt:before,
a.pptx:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -34px;
}

a.pdf:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -51px;
}

a.text:before,
a.txt:before,
a.rtf:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -68px;
}

a.zip:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -85px;
}

a.bmp:before,
a.jpg:before {
  -webkit-background-size: 17px 136px;
  background-size: 17px 136px;
  background-position: right -102px;
}

.relatedLinks a,
.relatedLinks a.doc,
.relatedLinks a.docx,
.relatedLinks a.xls,
.relatedLinks a.xlsx,
.relatedLinks a.ppt,
.relatedLinks a.pptx,
.relatedLinks a.text,
.relatedLinks a.txt,
.relatedLinks a.rtf,
.relatedLinks a.zip,
.relatedLinks a.bmp,
.relatedLinks a.jpg {
  padding-left: 2em;
}

.relatedLinks a:before,
.relatedLinks a.doc:before,
.relatedLinks a.docx:before,
.relatedLinks a.xls:before,
.relatedLinks a.xlsx:before,
.relatedLinks a.ppt:before,
.relatedLinks a.pptx:before,
.relatedLinks a.text:before,
.relatedLinks a.txt:before,
.relatedLinks a.rtf:before,
.relatedLinks a.zip:before,
.relatedLinks a.bmp:before,
.relatedLinks a.jpg:before {
  width: 24px;
  height: 24px;
  -webkit-background-size: 24px 192px;
  background-size: 24px 192px;
}

.relatedLinks a:before {
  background-position: right -144px;
}

.relatedLinks a.doc:before,
.relatedLinks a.docx:before {
  background-position: right 0;
}

.relatedLinks a.xls:before,
.relatedLinks a.xlsx:before {
  background-position: right -24px;
}

.relatedLinks a.ppt:before,
.relatedLinks a.pptx:before {
  background-position: right -48px;
}

.relatedLinks a.pdf:before {
  background-position: right -72px;
}

.relatedLinks a.text:before,
.relatedLinks a.txt:before,
.relatedLinks a.rtf:before {
  background-position: right -96px;
}

.relatedLinks a.zip:before {
  background-position: right -120px;
}

.relatedLinks a.bmp:before,
.relatedLinks a.jpg:before {
  background-position: right -168px;
}

.file-name {
  text-decoration: underline;
  padding-right: 0.25em;
}

a .file-name:hover,
a .file-name:focus {
  text-decoration: none;
}

.file-details {
  /*https://gist.github.com/unruthless/413930*/
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
  text-decoration: none;
}

/*fake placeholder*/

.placeholder {
  color: #333;
}

/* colour fix*/

.fp-embed-code {
  color: #FFF;
  background: #333;
}

/* all the pretty dots */

ul.list-styled,
ul.list-styled ul {
  list-style: none;
}

ul.list-styled li,
li.list-styled {
  position: relative;
}

ul.list-styled li:before,
li.list-styled:before {
  position: absolute;
  left: -1.2em;
  top: .1em;
  content: "■";
  color: #c2c2c2;
  font-size: 1.0em;
  line-height: 1;
}

/* Links in general content area */

.bodyContent_generic a:focus,
.relatedLinks a:focus {
  background-color: #fffce5;
  outline: 1px dotted #000;
  text-decoration: underline;
}

.bodyContent_generic a:visited,
.relatedLinks a:visited {
  color: #4e009d;
}

/* Zoinks! */

/* list style tweaks */

.bodyContent_generic ul,
.bodyContent_generic ol {
  line-height: 1.6;
}

/* list for menu */

ul.menuCustomList {
  color: #045c89;
}

.menuCustomList li {
  list-style: none;
}

a.menuCustomList {
  display: block;
  width: 100%;
  color: #045c89;
  position: relative;
  margin-bottom: 3px;
  background-color: #d0e3ed;
  border-radius: 2px;
  font-weight: 600;
  padding: 1em 2em 1em 1em;
  text-decoration: none;
}

a.menuCustomList:hover,
a.menuCustomList:focus {
  background-color: #8ec6e3;
  color: #00476a;
}

a.menuCustomList:before {
  color: #45aee5;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -0.5em;
  font-family: 'seamless-ui';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.6em;
  font-size: 2.6rem;
}

a.menuCustomList:hover:before,
a.menuCustomList:focus:before {
  color: #137cb2;
}

/* over write the below colour in the main CSS - _navigation.scss */

.menuCustomTable tr {
  border-bottom: 2px solid #045c89;
}