@font-face {
	font-family: 'seamless-ui';
	src:url('fonts/seamless-ui.eot?-pse594');
	src:url('fonts/seamless-ui.eot?#iefix-pse594') format('embedded-opentype'),
		url('fonts/seamless-ui.woff?-pse594') format('woff'),
		url('fonts/seamless-ui.ttf?-pse594') format('truetype'),
		url('fonts/seamless-ui.svg?-pse594#seamless-ui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'seamless-ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-library-home:before {
	content: "\e639";
}
.icon-fav-delivery:before {
	content: "\e637";
}
.icon-fav-planning:before {
	content: "\e619";
}
.icon-fav-book:before {
	content: "\e621";
}
.icon-fav-discount:before {
	content: "\e62c";
}
.icon-fav-events:before {
	content: "\e62d";
}
.icon-join:before {
	content: "\e62e";
}
.icon-fav-location:before {
	content: "\e62f";
}
.icon-fav-music:before {
	content: "\e630";
}
.icon-fav-payment:before {
	content: "\e631";
}
.icon-fav-renew:before {
	content: "\e632";
}
.icon-fav-request:before {
	content: "\e633";
}
.icon-fav-support:before {
	content: "\e634";
}
.icon-fav-touch:before {
	content: "\e635";
}
.icon-fav-waste:before {
	content: "\e636";
}
.icon-thin-arrow-left:before {
	content: "\e600";
}
.icon-thin-arrow-right:before {
	content: "\e610";
}
.icon-bin:before {
	content: "\e62a";
}
.icon-ok:before {
	content: "\e62b";
}
.icon-warning:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e61c";
}
.icon-location:before {
	content: "\e61d";
}
.icon-earth:before {
	content: "\e629";
}
.icon-facebook:before {
	content: "\e61f";
}
.icon-facility:before {
	content: "\e628";
}
.icon-home:before {
	content: "\e611";
}
.icon-fullscreen:before {
	content: "\e60f";
}
.icon-tag:before {
	content: "\e616";
}
.icon-map:before {
	content: "\e61a";
}
.icon-list:before {
	content: "\e61b";
}
.icon-minus:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}
.icon-flag:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e607";
}
.icon-angle-down:before {
	content: "\e608";
}
.icon-angle-up:before {
	content: "\e609";
}
.icon-arrow-left:before {
	content: "\e60a";
}
.icon-print:before {
	content: "\e60b";
}
.icon-youtube:before {
	content: "\e60d";
}
.icon-tumblr:before {
	content: "\e624";
}
.icon-instagram:before {
	content: "\e622";
}
.icon-flickr:before {
	content: "\e623";
}
.icon-googleplus:before {
	content: "\e625";
}
.icon-feed:before {
	content: "\e626";
}
.icon-info:before {
	content: "\e627";
}
.icon-time:before {
	content: "\e618";
}
.icon-comment:before {
	content: "\e617";
}
.icon-link:before {
	content: "\e615";
}
.icon-marker:before {
	content: "\e613";
}
.icon-phone:before {
	content: "\e612";
}
.icon-email:before {
	content: "\e601";
}
.icon-pinterest:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e60c";
}
.icon-arrow-up:before {
	content: "\e60e";
}
.icon-th-menu:before {
	content: "\e620";
}
.icon-fax:before {
	content: "\e61e";
}
.icon-close:before {
	content: "\e638";
}
