<h1 id="slidebars">Slidebars</h1>
<p>Slidebars is a jQuery plugin for quickly and easily implementing app-style revealing, overlaying, push menus and sidebars into your website.</p>
<p>See the <a href="http://plugins.adchsm.me/slidebars/">Slidebars website</a> for more information, usage documentation and compatibility tables.</p>
<h2 id="whats-new">Whats New</h2>
<p>Version 0.9.4</p>
<ul>
<li>Fixes issue with site locking and scrolling difficulty.</li>
</ul>
<p>Version 0.9.1, 0.9.2, 0.9.3</p>
<ul>
<li>Fixes for jQuery Plugin Registry and Bower support.</li>
</ul>
<p>Version 0.9 - Released March 10, 2014</p>
<ul>
<li>New push animation style, add <a href="http://plugins.adchsm.me/slidebars/usage.php#slidebars">modifier class</a> <code>.sb-style-push</code> to a Slidebar.</li>
<li>New overlay animation style, add <a href="http://plugins.adchsm.me/slidebars/usage.php#slidebars">modifier class</a> <code>.sb-style-overlay</code> to a Slidebar.</li>
<li>New thin width, add <a href="http://plugins.adchsm.me/slidebars/usage.php#slidebars">modifier class</a> <code>.sb-width-thin</code> to a Slidebar.</li>
<li>New wide width, add <a href="http://plugins.adchsm.me/slidebars/usage.php#slidebars">modifier class</a> <code>.sb-width-wide</code> to a Slidebar.</li>
<li>Static Slidebars support for older versions of iOS which do not support <code>position: fixed;</code></li>
<li>More API functions, return when Slidebars has been initiated, and if either Slidebar is open or closed.</li>
<li>Re-written window resize events.</li>
<li>Improved static Slidebars.</li>
<li>Improved inline <code>min-height</code> styling, to avoid additional spacing under site.</li>
<li>Fixed a bug where control classes couldn&#39;t be hidden using CSS.</li>
<li><a href="http://plugins.adchsm.me/slidebars/usage.php#helper-classes">Helper class</a> <code>html.sb-android</code> has been depreciated, see below.</li>
<li>New <a href="http://plugins.adchsm.me/slidebars/usage.php#helper-classes">helper class</a> <code>html.sb-static</code> has been added, use this to un-fix your fixed elements for use on Android &lt; 3 and iOS &lt; 5.</li>
</ul>
<h2 id="version-history">Version History</h2>
<p>Version 0.8.2 - Released February 24, 2014</p>
<ul>
<li>Event handling has been re-written in this update for better Android support. Also fixed an error where unnecessary space was added below the site content on a window resize. Thanks to francis-ceril, ecclescake and dmmikkel.</li>
</ul>
<p>Version 0.8.1 - Released February 17, 2014</p>
<ul>
<li>Fixed an error which caused Slidebars to fail when only using one Slidebar. Thanks to Damien Jarry (wibimaster) for the fix.</li>
</ul>
<p>Version 0.8 - Released February 17, 2014</p>
<ul>
<li>Added Slidebars Theme! An optional theme which you are free to use and abuse. It features a top navigation bar, list menus in Slidebars with unlimited level of drop downs, widgets and other useful CSS snippets. You can find the [theme usage here] (<a href="http://plugins.adchsm.me/slidebars/theme.php">http://plugins.adchsm.me/slidebars/theme.php</a>).</li>
<li>Mobile and tablet only support. Pass a width to [option disableOver] (<a href="http://plugins.adchsm.me/slidebars/usage.php#options">http://plugins.adchsm.me/slidebars/usage.php#options</a>) to disable Slidebars over a certain width screen.</li>
<li>Show/Hide the Slidebar control classes over the disabled width with [option hideControlClasses] (<a href="http://plugins.adchsm.me/slidebars/usage.php#options">http://plugins.adchsm.me/slidebars/usage.php#options</a>).</li>
<li>You can now easily set [custom widths for your Slidebars] (<a href="http://plugins.adchsm.me/slidebars/usage.php#custom-widths">http://plugins.adchsm.me/slidebars/usage.php#custom-widths</a>). Add modifier class .sb-width-custom to your Slidebar, and pass a pixel or percentage width as a data attribute data-sb-width.</li>
<li>New modifier class [.sb-static] (<a href="http://plugins.adchsm.me/slidebars/usage.php#modifier-classes">http://plugins.adchsm.me/slidebars/usage.php#modifier-classes</a>). Add this class to your Slidebar to unfix it and scroll naturally with the site.</li>
<li>Removed touchend events from links in Slidebars for better scrolling support.</li>
<li>Reworked Control Class events to prevent tap and click events travelling down to elements in Slidebars.</li>
<li>Added another Slidebar width for screens between 480px and 768px.</li>
<li>Better Slidebar closing from clicking on the site.</li>
<li>Cleaned up code.</li>
<li>Further code comments.</li>
</ul>
<p>Version 0.7.1 - Released January 22, 2014</p>
<ul>
<li>Added Slidebars options.</li>
<li>Added helper class html.sb-android for Android Browser version 2.*. Can be used to unfix your elements with position fixed.</li>
<li>Added helper class .sb-disable-close. Apply to a link in a Slidebar to prevent it from closing on click.</li>
<li>Smoother jQuery .animate() animations on window resize events.</li>
<li>Cleaned up code.</li>
</ul>
<p>Version 0.7 - Released January 13, 2014 - First public release.</p>
