<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation next-item'>
	<span class='item-navigation-title'>Next  <i class="icon-arrow-right-c"></i></span>
	<span class='item-navigation-desc'><ItemData DataDefinition="Title" Template="name if empty" /></span>
</a>


<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation prev-item'><span class='item-navigation-title'><i class="icon-arrow-left-c"></i> Previous</span><span class='item-navigation-desc'><ItemData DataDefinition="Title" Template="name if empty" /></span></a>



BACK UP
<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation next-item all-caps'><span class='item-navigation-title'><ItemData DataDefinition="Name" Template="default" /></span><span class='item-navigation-desc'><ItemData DataDefinition="Short description" Template="default" /></span></a>


<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation prev-item all-caps'><span class='item-navigation-title'><ItemData DataDefinition="Name" Template="default" /></span><span class='item-navigation-desc'><ItemData DataDefinition="Short description" Template="default" /></span></a>

NEW


<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation next-item all-caps'>
	<span class='item-navigation-title'>Next</span>
	<span class='item-navigation-desc'><ItemData DataDefinition="Title" Template="name if empty" /></span>
</a>


<a href='<ItemData DataDefinition="Link" Template="default" />' class='item-navigation prev-item all-caps'>
	<span class='item-navigation-title'>Previous</span>
	<span class='item-navigation-desc'><ItemData DataDefinition="Title" Template="name if empty" /></span>
</a>